<template>
  <div id="app">
    <v-app id="inspire">
      <div>
        <v-toolbar flat color="white">
          <v-toolbar-title>Klienci</v-toolbar-title>
          <v-divider
                  class="mx-2"
                  inset
                  vertical
          ></v-divider>
          <v-spacer></v-spacer>
          <v-dialog v-model="dialog" max-width="500px">
            <template v-slot:activator="{ on }">
              <v-text-field
                      v-model="search"
                      append-icon="search"
                      label="Szukaj"
                      single-line
                      hide-details
              ></v-text-field>
              <v-btn color="orange" dark class="mb-2" v-on="on">Dodaj klienta</v-btn>
            </template>
            <v-card>
              <v-card-title>
                <span class="headline">{{ formTitle }}</span>
              </v-card-title>

              <v-card-text>
                <v-container grid-list-md>
                  <v-layout wrap>
                    <v-flex xs12 sm6 md4>
                      <v-text-field v-model="editedItem.email" label="Email"></v-text-field>
                    </v-flex>
                    <v-flex  xs12 sm6 md4>
                      <v-text-field v-model="editedItem.name" label="Imie"></v-text-field>
                    </v-flex>
                    <v-flex  xs12 sm6 md4>
                      <v-text-field v-model="editedItem.surname" label="Nazwisko"></v-text-field>
                    </v-flex>
                     <v-flex xs12 sm6 md4>
                      <v-dialog
                              ref="dialog"
                              v-model="modal"
                              persistent
                              lazy
                              full-width
                              width="290px"
                      >
                          <template v-slot:activator="{ on }">
                              <v-text-field
                                      v-model="editedItem.birthdate"
                                      label="Data urodzin"
                                      prepend-icon="event"
                                      readonly
                                      v-on="on"
                              ></v-text-field>
                          </template>
                          <v-date-picker color="#FFB74D" v-model="editedItem.birthdate" >
                              <v-spacer></v-spacer>
                              <v-btn flat color="orange" @click="modal = false">Anuluj</v-btn>
                              <v-btn flat color="orange" @click="$refs.dialog.save(editedItem.birthdate)">OK</v-btn>
                          </v-date-picker>
                      </v-dialog>
                  </v-flex>
                    <v-flex  xs12 sm6 md4>
                      <v-text-field v-model="editedItem.pesel" label="Pesel"></v-text-field>
                    </v-flex>
                    <v-flex  xs12 sm6 md4>
                      <v-text-field v-model="editedItem.phoneNumber" label="Telefon"></v-text-field>
                    </v-flex>
<!--                    <v-flex v-if="actionType" xs12 sm6 md4>-->
<!--                      <v-text-field v-model="editedItem.creationDate" label="Data utworzenia"></v-text-field>-->
<!--                    </v-flex>-->
<!--                    <v-flex v-if="actionType" xs12 sm6 md4>-->
<!--                      <v-select v-model="editedItem.removed"-->
<!--                                :items="selectboolean"-->
<!--                                label="Czy usunieto?"-->
<!--                                :placeholder="editedItem.removed"-->
<!--                      ></v-select>-->
<!--                    </v-flex>-->
<!--                    <v-flex v-if="actionType" xs12 sm6 md4>-->
<!--                      <v-text-field v-model="editedItem.description" label="Opis"></v-text-field>-->
<!--                    </v-flex>-->
<!--                    <v-flex v-if="actionType" xs12 sm6 md4>-->
<!--                      <v-text-field v-model="editedItem.removereason" label="Powód usunięcia"></v-text-field>-->
<!--                    </v-flex>-->
                    <v-flex v-if="actionType" xs12 sm6 md4>
                      <v-select v-model="editedItem.notifications"
                                :items="selectboolean"
                                label="Powiadomienia"
                                :placeholder="editedItem.notifications"
                      ></v-select>
                    </v-flex>
                    <v-flex xs12 sm6 md4>
                      <v-select v-model="editedItem.gender"
                                :items="selectgender"
                                label="Płeć"
                                :placeholder="editedItem.gender"
                      ></v-select>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-card-text>

              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="orange" flat @click="close">Anuluj</v-btn>
                <v-btn color="orange" flat @click="save">Zapisz</v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-toolbar>
        <v-data-table
                :headers="headers"
                :search="search"
                :items="clients"
                class="elevation-1"
        >
          <template v-slot:items="props" >
            <td @click="editItem(props.item)" class="text-xs-left">{{ props.item.email }}</td>
            <td @click="editItem(props.item)"class="text-xs-left">{{ props.item.name }}</td>
            <td @click="editItem(props.item)"class="text-xs-left">{{ props.item.surname }}</td>
            <td @click="editItem(props.item)"class="text-xs-left">{{ props.item.birthdate }}</td>
            <td @click="editItem(props.item)"class="text-xs-left">{{ props.item.phoneNumber }}</td>
            <td class="justify-center layout px-0">
              <v-icon
                      small
                      @click="deleteItem(props.item)"
              >
                delete
              </v-icon>
            </td>
          </template>
          <template v-slot:no-data>
            <v-btn color="orange" @click="initialize">Reset</v-btn>
          </template>
        </v-data-table>
      </div>

    </v-app>
    <v-snackbar
            v-model="notification"
            top
            :color="type"
            :timeout="timeout"
    >
      {{ snackbarText }}
    </v-snackbar>
  </div>

</template>

<script>
  import axios from 'axios'
  import CookieHandler from "../../services/CookieHandler";
  import {mapMutations, mapState} from 'vuex'
  import { BASE_URL } from '../../constants';

  export default {
    data: () => ({
      dialog: false,
      search: '',
      authCookie: '',
        modal: false,

      buttonColor: "WHITE",
      snackbarText: "Wystąpił błąd.",
      buttonText: "OK",
      hasButton: true,
      notification: false,
      timeout: 4000,
      type: null,


      selectboolean: [{text: 'Tak', value: 'true'},{text: 'Nie', value: 'false'}],
      selectgender: [{text: 'Mężczyzna', value: 'MAN'},{text: 'Kobieta', value: 'WOMAN'}],
      headers: [
        { text: 'Email', value: 'email' },
        { text: 'Imię', value: 'name' },
        { text: 'Nazwisko', value: 'surname' },
        { text: 'Data urodzin', value: 'birthdate' },
        { text: 'Telefon', value: 'phoneNumber' },
        { text: 'Actions', value: 'actions', sortable: false }
      ],
      clients: [],
      editedIndex: -1,
      editedItem: {
        id: '',
        email: '',
        name: '',
        birthdate: '',
        pesel: '',
        phoneNumber: '',
        surname: '',
        creationDate: '',
        removed: '',
        description: '',
        removereason: '',
        notifications: '',
        gender: ''
      },
      defaultItem: {
        id: '',
        email: '',
        name: '',
        surname: '',
        birthdate: '',
        pesel: '',
        phoneNumber: '',
        creationDate: '',
        removed: '',
        description: '',
        removereason: '',
        notifications: '',
        gender: ''
      }

    }),

    computed: {
      ...mapState(['token']),
      formTitle () {
        return this.editedIndex === -1 ? 'Dodaj klienta' : 'Edytuj klienta'

      },
      actionType()
      {
        return this.editedIndex !== -1
      }
    },

    watch: {
      dialog (val) {
        val || this.close()
      }
    },

    created () {
      if(CookieHandler.checkIfReceptionistIsAuthorized())
        this.initialize();
      else
        window.location.href = '';
    },

    methods: {
      async initialize() {

        this.authCookie = CookieHandler.getAuthKeyValueFromCookies();


        axios.get(BASE_URL + '/api/clients', {headers: {Authorization: this.authCookie}}).then(Response => {
          var data = Object.values(Response.data)
          this.clients = data;
          for(var x=0; x<this.clients.length;x++){
            this.clients[x].birthdate = this.toDate(this.clients[x].birthdate)
          }
        });
      },

      editItem (item) {
        this.editedIndex = this.clients.indexOf(item)
        this.editedItem = Object.assign({}, item)
          this.editedItem.birthdate=this.toDate(this.editedItem.birthdate)
        this.dialog = true
      },

      deleteItem (item) {
        const index = this.clients.indexOf(item)
        if(confirm('Are you sure you want to delete this item?') && this.clients.splice(index, 1)) {
          axios.delete(BASE_URL + '/api/clients/remove/' + item.id, {headers: {Authorization: this.authCookie}}).then(Response => {
            var data = Object.values(Response.data)
          }).catch(error => {
            this.notification=true;
            this.snackbarText='Wystąpił błąd podczas usuwania klienta.'
            this.type='red'
          });
        }
      },

      close () {
        this.dialog = false
        setTimeout(() => {
          this.editedItem = Object.assign({}, this.defaultItem),

          this.editedIndex = -1
        }, 300)
      },

      async save () {
        if (this.editedIndex > -1) {
          Object.assign(this.clients[this.editedIndex], this.editedItem)
          this.editedItem.birthdate=this.toTimeStamp(this.editedItem.birthdate+"T00:00:00")
            Object.assign(this.clients[this.editedIndex], this.editedItem)
          await axios.patch(BASE_URL + '/api/clients', this.editedItem, {headers: {Authorization: this.authCookie}}).then(Response => {
            var data = Object.values(Response.data)


          }).catch(error => {
            this.notification=true;
            this.snackbarText='Wystąpił błąd podczas edycji klienta.'
            this.type='red'
          });
        } else {

          this.editedItem.birthdate=this.toTimeStamp(this.editedItem.birthdate+"T00:00:00")
          await axios.post(BASE_URL + '/api/clients', this.editedItem, {headers: {Authorization: this.authCookie}}).then(Response => {
            var data = Object.values(Response.data)
            this.clients.push(this.editedItem)
          }).catch(error => {
            this.notification=true;
            this.snackbarText='Wystąpił błąd podczas dodawania klienta.'
            this.type='red'
          });


        }
        this.close()
      },

      toDate (timeStamp){
        var currentDate = new Date(timeStamp*1000);

        var date = currentDate.getDate();
        var month = currentDate.getMonth(); //Be careful! January is 0 not 1
        var year = currentDate.getFullYear();

        var dateString = year + "-" +(month + 1) + "-" + date;
        return dateString;
      },

      toTimeStamp(stringDate){
        var date = new Date(stringDate)
        return date.getTime()/1000

      }

    }
  }
</script>

<style>
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  }
</style>



