<template>
    <div id="inspire">
<!--        <v-container>-->
<!--        <v-card>-->
<!--            <v-card-title class="headline font-weight-regular orange lighten-2 white&#45;&#45;text" >Zmień email</v-card-title>-->
<!--            <v-card-text>-->
<!--                <v-form-->
<!--                        ref="form"-->
<!--                        lazy-validation-->
<!--                >-->
<!--                <v-text-field-->
<!--                        v-model="new_email"-->
<!--                        box-->
<!--                        color="blue-grey lighten-2"-->
<!--                        label="Nowy email"-->
<!--                        :rules="[rules.required, rules.mail]"-->
<!--                        :error-messages="messages.emailInvalid"-->
<!--                        required-->
<!--                ></v-text-field>-->
<!--                </v-form>-->
<!--            </v-card-text>-->
<!--            <v-card-actions>-->
<!--            <v-spacer></v-spacer>-->
<!--            <v-btn dark color="orange lighten-2" @click="save_email(new_email)" >Zapisz</v-btn>-->
<!--            </v-card-actions>-->
<!--        </v-card>-->
<!--        </v-container>-->
        <v-container>
        <v-card>
            <v-card-title class="headline font-weight-regular orange lighten-2 white--text" >Zmień hasło</v-card-title>
            <v-card-text>
                <v-form
                        ref="form"
                        v-model="valid"
                        lazy-validation
                >
                <v-text-field
                    v-model="old_pass"
                    box
                    type="password"
                    color="blue-grey lighten-2"
                    :rules="[rules.required]"
                    :error-messages="messages.passwordInvalid"
                    label="Podaj stare hasło"
                    required
            ></v-text-field>
                <v-text-field
                        v-model="new_pass"
                        box
                        type="password"
                        color="blue-grey lighten-2"
                        label="Podaj nowe hasło"
                        :rules="[rules.required, rules.password, rules.min]"
                        :error-messages="messages.newPasswordInvalid"
                        required
                ></v-text-field>
                <v-text-field
                        v-model="rep_pass"
                        box
                        type="password"
                        color="blue-grey lighten-2"
                        label="Powtórz nowe hasło"
                        :rules="[rules.required, rules.password, rules.min]"
                        :error-messages="messages.repPasswordInvalid"
                        required
                ></v-text-field>
                </v-form>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
            <v-btn dark color="orange lighten-2" @click="save_password(old_pass, new_pass, rep_pass)" >Zapisz</v-btn>
            </v-card-actions>
        </v-card>
        </v-container>
        <v-snackbar
                v-model="snackbar"
                color="rgb(0, 172, 193, 0.7)"
                :timeout="3000"
                bottom
                right
        >
            Dane zapisane poprawnie
        </v-snackbar>
    </div>
</template>


<script>

  import axios from 'axios'
  import {mapMutations, mapState} from 'vuex'
  import {BASE_URL} from "../../constants";
  import CookieHandler from "../../services/CookieHandler";

  export default {

    data: () => ({
        rules: {
            required: v => !!v || 'Pole obowiązkowe',
            password: v => (v || '').match(/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*(_|[^\w])).+$/) ||
                'Hasło musi zawierać co najmniej jedną wielką literę, cyfrę i znak specjalny',
            min: v => v.length >= 8 || 'Hasło musi zawierać co najmniej 8 znaków',

        },
        messages: {
            emailInvalid: '',
            passwordInvalid: '',
            newPasswordInvalid: '',
            repPasswordInvalid: '',
        },
        authCookie: '',
        snackbar: false,
        email: '',
         oldPassword:'',
            newPassword: '',
        valid: true,
        old_pass: '',
        new_pass: '',
        rep_pass: '',

    }),

    computed: {
      ...mapState(['token']),

    },

    watch: {
      dialog(val) {
        val || this.close()
      }
    },

    created() {
        if(CookieHandler.checkIfReceptionistIsAuthorized())
            this.initialize();
        else
            window.location.href = '';
    },
    methods: {

      async initialize() {
          this.authCookie = CookieHandler.getAuthKeyValueFromCookies();

      },
        save_email: function (new_email) {
            this.email = new_email;
             axios.patch(BASE_URL + '/api/users/email/?email='+this.email, ' ', {headers: {Authorization: this.authCookie}})
                .then(Response => {
                var data = Object.values(Response.data);
                this.snackbar = true;
                    this.messages.emailInvalid = null;
                    this.$refs.form.reset();})
                .catch(error => {
                    let errors = error.response.data.error;
                    if (errors) {
                        this.messages.emailInvalid = 'Niepoprawny email';
                    }

                });

        },
        save_password: function (old_pass, new_pass, rep_pass) {

          if(new_pass === rep_pass) {
              this.messages.repPasswordInvalid = null;
              this.oldPassword = encodeURIComponent(old_pass);
              this.newPassword = encodeURIComponent(new_pass);
              axios.patch(BASE_URL + '/api/users/password?oldPassword=' + this.oldPassword + '&newPassword=' + this.newPassword, ' ', {headers: {Authorization: this.authCookie}}).then(Response => {
                  var data = Object.values(Response.data);
                  this.snackbar = true;
                  this.$refs.form.reset();
                  this.messages.passwordInvalid = null;

              })
                  .catch(error => {
                      let errors = error.response.data.error;
                      if (errors) {
                          this.messages.passwordInvalid = 'Niepoprawne hasło';
                      }
                  });
          }
          else{
              this.messages.repPasswordInvalid = 'Niepoprawne hasło';
          }
        }

    }
  }
</script>

<style>


</style>
