<template>
    <div id="app">
        <v-app id="inspire">
            <div>
                <v-toolbar flat color="white">
                    <v-toolbar-title>Historia sprzedaży karnetów</v-toolbar-title>
                    <v-divider
                            class="mx-2"
                            inset
                            vertical
                            vertical
                    ></v-divider>
                    <v-spacer></v-spacer>
                    <v-dialog v-model="dialog" max-width="500px">
                        <template v-slot:activator="{ on }">
                            <v-text-field
                                    v-model="search"
                                    append-icon="search"
                                    label="Szukaj"
                                    single-line
                                    hide-details
                            ></v-text-field>
                        </template>
                    </v-dialog>


                </v-toolbar>
                <v-data-table
                        :key="forcedKey"
                        :headers="headers"
                        :search="search"
                        :items="passes"
                        class="elevation-1"
                >
                    <template v-slot:items="props" >
                        <td class="text-xs-left">{{ props.item.tariffName }}</td>
                        <td class="text-xs-left">{{ get_type(props.item.tariffSettlementType )}}</td>
                        <td class="text-xs-left">{{ props.item.totalPrice }}</td>
                        <td class="text-xs-left">{{ props.item.unitPrice }}</td>
                        <td class="text-xs-left">{{ toDate(props.item.activationDate) }}</td>
                        <td class="text-xs-left">{{ toDate(props.item.expirationDate) }}</td>
                        <td class="text-xs-left">{{ props.item.paid}}</td>
                        <td class="text-xs-left">{{ props.item.clientId}}</td>
                        <td class="text-xs-left">{{ props.item.createdBy}}</td>
                        <td class="text-xs-left">{{ toDateFromTimeStamp(props.item.creationDate)}}</td>

                    </template>
                    <template v-slot:no-data>
                        <v-btn color="orange" @click="initialize">Odśwież</v-btn>
                    </template>
                </v-data-table>
            </div>
        </v-app>
        <v-snackbar
                v-model="notification"
                top
                :color="type"
                :timeout="timeout"
        >
            {{ snackbarText }}
        </v-snackbar>
    </div>
</template>

<script>
    import axios from 'axios'
    import {mapMutations, mapState} from 'vuex'
    import {BASE_URL} from "../../constants";
    import CookieHandler from "../../services/CookieHandler";

    export default {
        data: () => ({
            dialog: false,
            dialogPasses: false,
            dateDialog: false,
            search: '',
            forcedKey: 0,

            buttonColor: "WHITE",
            snackbarText: "Wystąpił błąd.",
            buttonText: "OK",
            hasButton: true,
            notification: false,
            timeout: 4000,
            type: null,

            authCookie: '',
            date: new Date().toISOString().substr(0, 10),
            modal: false,
            modal2: false,
            headers: [
                { text: 'Nazwa karnetu', value: 'tariffName' },
                { text: 'Rodzaj karnetu', value: 'tariffSettlementType' },
                { text: 'Cena', value: 'totalPrice' },
                { text: 'Cena jednostkowa', value: 'unitPrice'},
                { text: 'Data aktywacji', value: 'activationDate'},
                { text: 'Data wygaśnięcia', value: 'expirationDate'},
                { text: 'Czy opłacono', value: 'paid'},
                { text: 'Klient', value: 'clientId'},
                { text: 'Sprzedaż', value: 'createdBy'},
                { text: 'Data sprzedaży', value: 'creationDate'}
            ],

            selectSettlement: [ {text: 'Miesięczny', value: 'MONTH'},
                {text: 'Kwartalny', value: 'QUARTER'},
                {text: 'Półroczny', value:'SIX_MONTH' },
                {text: 'Roczny', value: 'YEAR'},
                {text: 'Trening x1', value: 'ONE_TRAINING'},
                {text: 'Trening x4', value:'FOUR_TRAININGS' },
                {text: 'Trening x8', value:'EIGHT_TRAININGS' },
                {text: 'Trening x12', value: 'TWELVE_TRAININGS'},
            ],

            clients: [],
            passes:[],
            receptionists: [],
            editedIndex: -1,

            editedItem: {
                id: '',
                tariffName: '',
                tariffSettlementType: '',
                totalPrice: '',
                unitPrice: '',
                activationDate: '',
                expirationDate: '',
                entriesLeft: '',
                clientId: '',
                createdBy: '',
                creationDate: ''

            },
            defaultItem: {
                id: '',
                tariffName: '',
                tariffSettlementType: '',
                totalPrice: '',
                unitPrice: '',
                activationDate: '',
                expirationDate: '',
                entriesLeft: '',
                clientId: '',
                createdBy: '',
                creationDate: ''
                }


        }),

        computed: {
            ...mapState(['token']),
            formTitle () {
                return this.editedIndex === -1 ? 'Dodaj grupowy trening' : 'Edytuj grupowy trening'

            },
            actionType()
            {
                return this.editedIndex !== -1
            }
        },

        watch: {
            dialog (val) {
                val || this.close()
            }
        },

        created() {
            if(CookieHandler.checkIfReceptionistIsAuthorized())
                this.initialize();
            else
                window.location.href = '';
        },

        methods: {
            async initialize() {

                this.authCookie = CookieHandler.getAuthKeyValueFromCookies();

                axios.get(BASE_URL + '/api/passes', {headers: {Authorization: this.authCookie}}).then(Response => {
                    var data = Object.values(Response.data)
                    this.passes = data;
                });

                await axios.get(BASE_URL + '/api/receptionists', {headers: {Authorization: this.authCookie}}).then(Response => {
                    var data = Object.values(Response.data)
                    this.receptionists = data;


                });


                await axios.get(BASE_URL + '/api/clients', {headers: {Authorization: this.authCookie}}).then(Response => {
                    var data = Object.values(Response.data)
                    this.clients = data;
                });

                await this.setReceptionistsAndClients()

            },

            editItem(item) {
                this.editedIndex = this.clients.indexOf(item)
                this.clientItem = Object.assign({}, item)
                this.dialog = true


            },


            toDate(timeStamp) {
                var currentDate = new Date(timeStamp);

                var date = currentDate.getDate();
                var month = currentDate.getMonth(); //Be careful! January is 0 not 1
                var year = currentDate.getFullYear();

                var dateString = year + "-" + (month + 1) + "-" + date;
                return dateString;
            },


            toDateFromTimeStamp (timeStamp){
                var currentDate = new Date(timeStamp*1000);

                var date = currentDate.getDate();
                var month = currentDate.getMonth(); //Be careful! January is 0 not 1
                var year = currentDate.getFullYear();

                var dateString = year + "-" +(month + 1) + "-" + date;
                return dateString;
            },

            toTimeStamp(stringDate) {
                var date = new Date(stringDate)
                return date.getTime() / 1000

            },

            clientIdToFullname(id) {
                for (var i = 0; i < this.clients.length; i++) {
                    if (id === this.clients[i].id) {
                        return this.clients[i].name + ' ' + this.clients[i].surname
                    }

                }
            },

            receptionistsIdToFullname(id) {
                for (var i = 0; i < this.receptionists.length; i++) {
                    if (id === this.receptionists[i].userId) {

                        return this.receptionists[i].name + ' ' + this.receptionists[i].surname
                    }
                }
                    return 'Płatność internetowa'

            },

             setReceptionistsAndClients(){
                for (var i = 0; i < this.passes.length; i++) {
                    this.passes[i].createdBy = this.receptionistsIdToFullname(this.passes[i].createdBy)
                    this.passes[i].clientId = this.clientIdToFullname(this.passes[i].clientId)
                    // console.log(this.passes[i].createdBy)
                    // console.log(this.passes[i].clientId)
                    this.forceRender()
                }
            },

            forceRender()
            {
                this.forcedKey +=1;
            },

            get_type(type)
            {
                // console.log(this.selectSettlement)
                for(var x=0;x<=this.selectSettlement.length;x++)
                {
                    if(this.selectSettlement[x].value == type)
                    {
                        return this.selectSettlement[x].text;
                        break;
                    }
                }
            },



        }


    }
</script>

<style>
    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        margin-top: 60px;
    }
</style>
