<template>
    <div id="app">
        <v-app id="inspire">
            <div>
                <v-toolbar flat color="white">
                    <v-toolbar-title>Karnety</v-toolbar-title>
                    <v-divider
                            class="mx-2"
                            inset
                            vertical
                    ></v-divider>
                    <v-spacer></v-spacer>





                    <v-dialog v-model="dialog" max-width="500px">
                        <template v-slot:activator="{ on }">
                            <v-text-field
                                    v-model="search"
                                    append-icon="search"
                                    label="Szukaj"
                                    single-line
                                    hide-details
                            ></v-text-field>
                        </template>
                        <v-card>
                            <v-card-title>
                                <span class="headline">{{ formTitle }}</span>
                            </v-card-title>

                            <v-card-text>
                                <v-container grid-list-md>
                                    <v-layout wrap>
                                        <v-flex xs12 sm6 md4>
                                            <v-select v-model="tariffItem.id"
                                                      :items="selectTariff"
                                                      label="Karnet"
                                                      :placeholder="tariffItem.id"
                                            ></v-select>
                                        </v-flex>

                                        <!--                                        <v-flex xs12 sm6 md4>-->
<!--                                            <v-text-field v-model="passItem.settlementType" label="Typ karnetu"></v-text-field>-->
<!--                                        </v-flex>-->
<!--                                        <v-flex  xs12 sm6 md4>-->
<!--                                            <v-text-field v-model="passItem.totalPrice" label="Cena"></v-text-field>-->
<!--                                        </v-flex>-->
<!--                                        <v-flex  xs12 sm6 md4>-->
<!--                                            <v-text-field v-model="passItem.unitPrice" label="Cena jednostkowa"></v-text-field>-->
<!--                                        </v-flex>-->
                                        <v-flex xs12 sm6 md4>
                                            <v-dialog
                                                    ref="dialog"
                                                    v-model="modal"
                                                    persistent
                                                    lazy
                                                    full-width
                                                    width="290px"
                                            >
                                                <template v-slot:activator="{ on }">
                                                    <v-text-field
                                                            v-model="itemActivationDate"
                                                            label="Data aktywacji"
                                                            prepend-icon="event"
                                                            readonly
                                                            v-on="on"
                                                    ></v-text-field>
                                                </template>
                                                <v-date-picker :min="nowDate"  locale="pl-pl" color="#FFB74D" v-model="itemActivationDate" >
                                                    <v-spacer></v-spacer>
                                                    <v-btn flat color="orange" @click="modal = false">Anuluj</v-btn>
                                                    <v-btn flat color="orange" @click="$refs.dialog.save(itemActivationDate)">Zapisz</v-btn>
                                                </v-date-picker>
                                            </v-dialog>
                                        </v-flex>
                                    </v-layout>
                                </v-container>
                            </v-card-text>

                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="orange" flat @click="close">Anuluj</v-btn>
                                <v-btn color="orange" flat @click="save">Zapisz</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                </v-toolbar>
                <v-data-table
                        :headers="headers"
                        :search="search"
                        :items="clients"
                        class="elevation-1"
                >
                    <template v-slot:items="props" >
                        <td class="text-xs-left">{{ props.item.email }}</td>
                        <td class="text-xs-left">{{ props.item.name }}</td>
                        <td @click="printActivePasses(props.item)" class="text-xs-left">{{ props.item.surname }}</td>
                        <td class="justify-center layout px-0">
                            <v-btn @click="editItem(props.item)" color="orange" dark>Dodaj karnet
                                <v-icon
                                        medium
                                        color="white"
                                >
                                    add_circle
                                </v-icon>
                            </v-btn>


                        </td>
                    </template>
                    <template v-slot:no-data>
                        <v-btn color="orange" @click="initialize">Odśwież</v-btn>
                    </template>
                </v-data-table>
            </div>
        </v-app>
        <v-snackbar
                v-model="notification"
                top
                :color="type"
                :timeout="timeout"
        >
            {{ snackbarText }}
        </v-snackbar>
    </div>
</template>

<script>
    import axios from 'axios'
    import {mapMutations, mapState} from 'vuex'
    import {BASE_URL} from "../../constants";
    import CookieHandler from "../../services/CookieHandler";

    export default {
        data: () => ({
            dialog: false,
            dialogPasses: false,
            dateDialog: false,
            authCookie: '',
            isEntry: false,
            buttonColor: "WHITE",
            snackbarText: "Wystąpił błąd.",
            buttonText: "OK",
            hasButton: true,
            nowDate: new Date().toISOString().slice(0,10),
            notification: false,
            timeout: 4000,
            type: null,
            itemActivationDate: '',
            search: '',
            passes: {
                id: '',
                tariffName: '',
                entriesLeft: '',
                activationDate: '',
                expirationDate: ''


            },


            checkbox: false,
            selectTariff: [],
            date: new Date().toISOString().substr(0, 10),
            modal: false,
            modal2: false,
            headers: [
                { text: 'Nazwa', value: 'email' },
                { text: 'Imię', value: 'name' },
                { text: 'Nazwisko', value: 'surname' }
            ],
            clients: [],
            tariffs:[
                { id: '' },
                { name: '' },
                { settlementType: '' },
                { settlementValue: ''},
                { price: ''}
            ],
            editedIndex: -1,
            clientItem: {
                id: ''
            },

            selectSettlement: [ {text: 'Miesięczny', value: 'MONTH'},
                {text: 'Kwartalny', value: 'QUARTER'},
                {text: 'Półroczny', value:'SIX_MONTH' },
                {text: 'Roczny', value: 'YEAR'},
                {text: 'Trening x1', value: 'ONE_TRAINING'},
                {text: 'Trening x4', value:'FOUR_TRAININGS' },
                {text: 'Trening x8', value:'EIGHT_TRAININGS' },
                {text: 'Trening x12', value: 'TWELVE_TRAININGS'},
            ],

            editedItem: {
                id: '',
                tariffName: '',
                tariffSettlementType: '',
                totalPrice: '',
                unitPrice: '',
                currency: '',
                activationDate: '',
                expirationDate: '',
                entriesLeft: '',
                clientId: ''

            },
            defaultItem: {
                activationDate: '',
                clientId: '',
            },
            tariffItem: {
                id: '',
            }

        }),

        computed: {
            ...mapState(['token']),
            formTitle () {
                return this.editedIndex === -1 ? 'Dodaj grupowy trening' : 'Edytuj grupowy trening'

            },
            actionType()
            {
                return this.editedIndex !== -1
            }
        },

        watch: {
            dialog (val) {
                val || this.close()
            }
        },

        created() {
            if(CookieHandler.checkIfReceptionistIsAuthorized())
                this.initialize();
            else
                window.location.href = '';
        },

        methods: {
            async initialize() {

                this.authCookie = CookieHandler.getAuthKeyValueFromCookies();

                axios.get(BASE_URL + '/api/clients', {headers: {Authorization: this.authCookie}}).then(Response => {
                    var data = Object.values(Response.data)
                    this.clients = data;
                });

                await axios.get(BASE_URL + '/api/tariff/all', {headers: {Authorization: this.authCookie}}).then(Response => {
                    var data = Object.values(Response.data)
                    this.tariffs = data;
                });

                this.setTariffsForPick();

            },

            editItem(item) {
                this.editedIndex = this.clients.indexOf(item)
                this.clientItem = Object.assign({}, item)
                this.dialog = true


            },

            decreaseEntries(id)
            {

                 axios.patch(BASE_URL + '/api/passes/entriesLeft/' + id, '',  {headers: {Authorization: this.authCookie}}).then(Response => {
                    var data = Object.values(Response.data)
                     this.notification=true;
                     this.snackbarText='Wykorzystano 1 wejście z puli wejść.'
                     this.type='green'
                     this.dialogPasses=false
                }).catch(error => {
                     this.notification=true;
                     this.snackbarText='Wystąpił błąd podczas odejmowania 1 wejścia z puli wejść.'
                     this.type='red'
                 });

            },


            isActive(date){
                var currentDate = new Date()
                var expirationDate = new Date(date)
                if(currentDate<expirationDate)
                    return true
            },

            setEntries(entries){

                if(entries.isInteger)
                this.isEntry=true
                else
                    this.isEntry=false;
                return entries
                },

           async printActivePasses(item){
                this.editedIndex = this.clients.indexOf(item)
                this.clientItem = Object.assign({}, item)
                this.dialogPasses = true

                await axios.get(BASE_URL + '/api/passes/clientId/' + this.clientItem.id,  {headers: {Authorization: this.authCookie}}).then(Response => {
                    var data = Object.values(Response.data)
                    this.passes = data
                });


            },

            deleteItem(item) {
                const index = this.tariffs.indexOf(item)
                if (confirm('Czy na pewno chcesz usunąć?') && this.tariffs.splice(index, 1)) {
                    axios.delete(BASE_URL + '/api/clients/remove/' + item.id, {headers: {Authorization: this.authCookie}}).then(Response => {
                        var data = Object.values(Response.data)

                    }).catch(error => {
                        this.notification=true;
                        this.snackbarText='Wystąpił błąd podczas usuwania klienta z zajęć.'
                        this.type='red'
                    });
                }
            },

            close() {
                this.dialog = false
                this.dialogPasses = false
                setTimeout(() => {
                    this.editedItem = Object.assign({}, this.defaultItem)
                    this.editedIndex = -1
                }, 300)
            },

            async save() {
                if (this.editedIndex > -1) {
                    this.editedItem = Object.assign({}, this.defaultItem)
                    this.tariffItem.id = this.getTariffIdByFullname(this.tariffItem.id)
                    this.editedItem.clientId = this.clientItem.id
                    this.editedItem.activationDate = this.itemActivationDate
                    axios.post(BASE_URL + '/api/passes?tariffId='+this.tariffItem.id, this.editedItem, {headers: {Authorization: this.authCookie}}).then(Response => {
                        var data = Object.values(Response.data)
                    }).catch(error => {
                        this.notification=true;
                        this.snackbarText='Wystąpił błąd podczas dodawania karnetu.'
                        this.type='red'
                    });
                } -

                this.close()
            },

            anyEntries(entries)
            {
                var x = entries
                if(x.isInteger)
                    return true
                else
                    return false
            },

            toDate(timeStamp) {
                var currentDate = new Date(timeStamp);

                var date = currentDate.getDate();
                var month = currentDate.getMonth(); //Be careful! January is 0 not 1
                var year = currentDate.getFullYear();

                var dateString = year + "-" + (month + 1) + "-" + date;
                return dateString;
            },

            toTimeStamp(stringDate) {
                var date = new Date(stringDate)
                return date.getTime() / 1000

            },


            setTariffsForPick() {
                for (var i = 0; i < this.tariffs.length; i++) {
                  //  this.tariffs[i].settlementValue = this.get_type(this.tariffs[i].settlementType);
                    this.selectTariff.push(this.tariffs[i].name + ' ' + this.tariffs[i].settlementType + ' ' + this.tariffs[i].price)
                   // this.selectTariff.push(this.tariffs[i].name + ' ' + this.tariffs[i].settlementValue +' ' + this.tariffs[i].price)

                }
            },

            getTariffIdByFullname(fullname) {
                for (var i = 0; i < this.tariffs.length; i++) {
                    if (fullname === (this.tariffs[i].name + ' ' + this.tariffs[i].settlementType + ' ' + this.tariffs[i].price)) {
                        return this.tariffs[i].id
                    }
                }

            },

            // get_type(type)
            // {
            //     // console.log(this.selectSettlement)
            //     for(var x=0;x<=this.selectSettlement.length;x++)
            //     {
            //         if(this.selectSettlement[x].value == type)
            //         {
            //             return this.selectSettlement[x].text;
            //             break;
            //         }
            //     }
            // },
        }


    }
</script>

<style>
    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        margin-top: 60px;
    }
</style>
