<template>
    <div id="app">
        <v-app id="inspire">
            <div>
                <v-toolbar flat color="white">
                    <v-toolbar-title>Uczestnicy zajęć</v-toolbar-title>
                    <v-divider
                            class="mx-2"
                            inset
                            vertical
                    ></v-divider>
                    <v-spacer></v-spacer>

                    <v-dialog v-model="addMemberDialog" max-width="500px">
                        <v-card>
                            <v-container grid-list-md>
                                <v-layout wrap>
                                    <v-autocomplete
                                            v-model="model"
                                            :items="clientFullNames"
                                            :loading="isLoading"
                                            :search-input.sync="search2"
                                            clearable
                                            hide-details
                                            hide-selected
                                            item-text="name"
                                            item-value="name"
                                            label="Wybierz klienta"
                                            solo
                                    ></v-autocomplete>

                                </v-layout>
                            </v-container>
                            <v-card-actions>
                                <v-btn color="orange" flat @click="addMemberDialog=false">Anuluj</v-btn>
                                <v-btn color="orange" flat @click="addToTraining(editedItem)">Zapisz</v-btn>
                            </v-card-actions>
                        </v-card>


                    </v-dialog>

                    <v-dialog v-model="dialog" max-width="400px">
                        <template v-slot:activator="{ on }">
                            <v-text-field
                                    v-model="search"
                                    append-icon="search"
                                    label="Szukaj"
                                    single-line
                                    hide-details
                            ></v-text-field>
                        </template>
                        <v-card>
                            <v-card-title>
                                <span class="headline">Edytuj listę uczestników</span>
                            </v-card-title>

                            <v-card-text>
                                <v-container grid-list-md>
                                    <v-layout wrap>
                                        <v-list two-line>
                                            <v-card-text class="vcard">{{editedItem.name +': ' + members.length+'/'+editedItem.maxMembersAmount +'      '}}
                                                <v-icon
                                                        medium
                                                        color="orange"
                                                        @click="addMember(editedItem)"
                                                >
                                                    add_circle
                                                </v-icon>
                                            </v-card-text>
                                            <template v-for="(item, index) in members">

                                                <v-list-tile
                                                        :key="item"
                                                        avatar
                                                        ripple
                                                >
                                                    <v-flex xs12 sm6 md12>
                                                    <v-list-tile-content>
                                                        <v-list-tile-title>{{ item.client.name +' ' +item.client.surname }}</v-list-tile-title>
                                                    </v-list-tile-content>
                                                    </v-flex>
                                                    <v-spacer></v-spacer>
                                                    <v-flex xs12 sm6 md12>

                                                        <v-icon
                                                            small
                                                            class="text-xs-right"
                                                            @click="deleteItem(item)"
                                                            color="error"
                                                    >
                                                        delete
                                                    </v-icon>
                                                    </v-flex>


                                                </v-list-tile>
                                                <v-divider
                                                        v-if="index + 1 < item.length"
                                                        :key="index"
                                                ></v-divider>
                                            </template>
                                        </v-list>
                                    </v-layout>
                                </v-container>
                            </v-card-text>

                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="orange" flat @click="close">Anuluj</v-btn>
                                <v-btn color="orange" flat @click="save">Zapisz</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                </v-toolbar>
                <v-data-table
                        :headers="headers"
                        :search="search"
                        :items="groupTrainings"
                        class="elevation-1"
                >
                    <template v-slot:items="props" >
                        <td @click="editItem(props.item)" class="text-xs-left">{{ props.item.name }}</td>
                        <td @click="editItem(props.item)"class="text-xs-left">{{ props.item.description }}</td>
                        <td @click="editItem(props.item)"class="text-xs-left">{{ toDate(props.item.date) }}</td>
                        <td @click="editItem(props.item)"class="text-xs-left">{{ props.item.startingTime[0]+':'+props.item.startingTime[1] }}</td>
                        <td @click="editItem(props.item)"class="text-xs-left">{{ props.item.durationInMinutes }}</td>
                        <td @click="editItem(props.item)"class="text-xs-left">{{ props.item.maxMembersAmount }}</td>
                        <td @click="editItem(props.item)"class="text-xs-left">{{ props.item.gender }}</td>
                        <td @click="editItem(props.item)"class="text-xs-left">{{ props.item.intensity }}</td>
                        <td @click="editItem(props.item)"class="text-xs-left">{{ trainerIdToFullname(props.item.trainerId) }}</td>
                        <td class="justify-center layout px-0">

                            <v-icon
                                    small
                                    @click="deleteItem(props.item)"
                            >
                                delete
                            </v-icon>

                        </td>
                    </template>
                    <template v-slot:no-data>
                        <v-btn color="orange" @click="initialize">Odśwież</v-btn>
                    </template>
                </v-data-table>
            </div>
        </v-app>
        <v-snackbar
                v-model="notification"
                top
                :color="type"
                :timeout="timeout"
        >
            {{ snackbarText }}
        </v-snackbar>
    </div>
</template>

<script>
    import axios from 'axios'
    import {mapMutations, mapState} from 'vuex'
    import {BASE_URL} from "../../constants";
    import CookieHandler from "../../services/CookieHandler";

    export default {
        data: () => ({
            dialog: false,
            addMemberDialog: false,
            search: '',
            search2: '',
            checkbox: false,
            model: null,
            authCookie: '',
            date: new Date().toISOString().substr(0, 10),

            buttonColor: "WHITE",
            snackbarText: "Wystąpił błąd.",
            buttonText: "OK",
            hasButton: true,
            notification: false,
            timeout: 4000,
            type: null,


            modal: false,
            modal2: false,
            selectboolean: [{text: 'Tak', value: 'true'},{text: 'Nie', value: 'false'}],
            selectgender: [{text: 'Mężczyzna', value: 'MAN'},{text: 'Kobieta', value: 'WOMAN'}],
            selectDaysRange: [ '1', '2', '3', '4', '5', '6', '7'],
            selectintensity: [ '1','2','3','4','5'],
            headers: [
                { text: 'Nazwa', value: 'name' },
                { text: 'Opis', value: 'description' },
                { text: 'Data', value: 'date' },
                { text: 'Data rozpoczęcia', value: 'startingTime' },
                { text: 'Czas trwania', value: 'durationInMinutes' },
                { text: 'Maksymalna ilośc uczestników', value: 'maxMembersAmount' },
                { text: 'Płeć', value: 'gender' },
                { text: 'Intensywność', value: 'intensity' },
                { text: 'Trener', value: 'trainer' },
                { text: 'Actions', value: 'actions', sortable: false }
            ],
            groupTrainings: [],
            members:[],
            member: [],
            trainers:[
                { id:''},
                { name: '' },
                { surname: ''}
            ],
            editedIndex: -1,
            editedItem: {
                id: '',
                name: '',
                description: '',
                date: '',
                startingTime: '',
                durationInMinutes: '',
                maxMembersAmount: '',
                gender: '',
                intensity: '',
                createdBy: '',
                creationDate: '',
                removed: '',
                trainerId: '',
                cyclicTo: '',
                daysRange: ''
            },
            defaultItem: {
                id: '',
                name: '',
                description: '',
                date: '',
                startingTime: '',
                durationInMinutes: '',
                maxMembersAmount: '',
                gender: '',
                intensity: '',
                createdBy: '',
                creationDate: '',
                removed: '',
                trainerId: '',
                cyclicTo: '',
                daysRange: ''
            },
            isLoading: false,
            clientFullNames: [],
            memberItem: {
                id: '',
                creationDate: '',
                removed: '',
                groupTrainingId: '',
                clientId: '',
                client: {
                    id: '',
                    email: '',
                    name: '',
                    surname: '',
                }
            },
            groupTrainingMember: {
                groupTrainingId: '',
                clientId: ''

            }

        }),

        computed: {
            ...mapState(['token']),
            actionType()
            {
                return this.editedIndex !== -1
            }
        },

        watch: {
            dialog (val) {
                val || this.close()
            },
            search2 (val) {
                // Items have already been loaded
                if (this.clientFullNames.length > 0) return

                this.isLoading = true

                // Lazily load input items
                axios.get(BASE_URL + '/api/clients', {headers: {Authorization: this.authCookie}}).then(Response => {
                    var data = Object.values(Response.data)
                    this.clients = data;
                    for(var x=0;x<this.clients.length;x++){
                        this.clientFullNames.push(this.clients[x].name + ' ' + this.clients[x].surname)
                    }
                })
                    .catch(err => {
                    })
                    .finally(() => (this.isLoading = false))
            },
        },

        created() {
            if(CookieHandler.checkIfReceptionistIsAuthorized())
                this.initialize();
            else
                window.location.href = '';
        },

        methods: {
            async initialize() {

                this.authCookie = CookieHandler.getAuthKeyValueFromCookies();

                axios.get(BASE_URL + '/api/training/groups/all', {headers: {Authorization: this.authCookie}}).then(Response => {
                    var data = Object.values(Response.data)
                    this.groupTrainings = data;

                });


                await axios.get(BASE_URL + '/api/trainers/all', {headers: {Authorization: this.authCookie}}).then(Response => {
                    var data = Object.values(Response.data)
                    this.trainers = data;

                });

            },

            async addToTraining(item)
            {
                this.editedItem = Object.assign({}, item)
                this.model = null
                var mail;
                for(var x=0;x<this.clients.length;x++){
                    if(this.clients[x].name + ' ' + this.clients[x].surname === this.clientFullNames[x]){
                        mail = this.clients[x].email;
                    }
                }

               await axios.get(BASE_URL + '/api/clients/email?email=' + mail ,  {headers: {Authorization: this.authCookie}}).then(Response => {
                    var data = Object.values(Response.data)
                   this.member = data;
                });


                 this.groupTrainingMember.groupTrainingId = this.editedItem.id;
                 this.groupTrainingMember.clientId=this.member[0];

                await axios.post(BASE_URL + '/api/training/group/members', this.groupTrainingMember,  {headers: {Authorization: this.authCookie}}).then(Response => {
                    var data = Object.values(Response.data)
                }).catch(error => {
                    this.notification=true;
                    this.snackbarText='Wystąpił błąd podczas dodawania klienta do zajęć.'
                    this.type='red'
                });

                this.editItem(item);
                this.addMemberDialog=false;
            },

            addMember(item){

                this.addMemberDialog = true
            },

            editItem(item) {

                this.editedIndex = this.groupTrainings.indexOf(item)
                this.editedItem = Object.assign({}, item)

                this.editedItem.date = this.toDate(this.editedItem.date)

                axios.get(BASE_URL + '/api/training/group/members/groupTraining/'+this.editedItem.id, {headers: {Authorization: this.authCookie}}).then(Response => {
                    var data = Object.values(Response.data)
                    this.members = data;

                });
                this.dialog = true
            },

            deleteItem(item) {
                const index = this.groupTrainings.indexOf(item)
                this.editedItem = Object.assign({}, item)
                if(confirm('Czy na pewno chcesz usunąć?')) {
                    axios.delete(BASE_URL + '/api/training/group/members/' + this.editedItem.id, {headers: {Authorization: this.authCookie}}).then(Response => {
                        var data = Object.values(Response.data)
                    }).catch(error => {
                        this.notification=true;
                        this.snackbarText='Wystąpił błąd podczas usuwania klienta z zajęć.'
                        this.type='red'
                    });

                }
                this.close()
            },

            close() {
                this.dialog = false
                setTimeout(() => {
                    this.editedItem = Object.assign({}, this.defaultItem)
                    this.editedIndex = -1
                }, 300)
            },

            async save() {
                this.close()
            },

            toDate(timeStamp) {
                var currentDate = new Date(timeStamp);

                var date = currentDate.getDate();
                var month = currentDate.getMonth(); //Be careful! January is 0 not 1
                var year = currentDate.getFullYear();

                var dateString = year + "-" + (month + 1) + "-" + date;
                return dateString;
            },

            toTimeStamp(stringDate) {
                var date = new Date(stringDate)
                return date.getTime() / 1000

            },

            trainerIdToFullname(id) {
                for (var i = 0; i < this.trainers.length; i++) {
                    if (id === this.trainers[i].id) {
                        return this.trainers[i].name + ' ' + this.trainers[i].surname
                    }

                }
            },


            getTrainerIdByFullname(fullname) {
                for (var i = 0; i < this.trainers.length; i++) {
                    if (fullname === this.trainers[i].name + ' ' + this.trainers[i].surname) {
                        return this.trainers[i].id
                    }
                }

            },

            async getClientByid(clientId){
                await axios.get(BASE_URL + '/api/clients/id/'+ clientId, {headers: {Authorization: this.authCookie}}).then(Response => {
                    var data = Object.values(Response.data)
                    this.client = data;

                });
                return this.client.name+' '+this.client.surname
            }
        }
    }
</script>

<style>
    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        margin-top: 60px;
    }
    .vcard{
    font-size: 1.5em;
    }
</style>
