<template>
  <v-app id="inspire">
    <div>
      <v-img
              :src="require('@/assets/Yoga.jpg')"
              max-height="450"
      ></v-img>

    </div>

    <v-container grid-list-md text-xs-center >
      <v-layout row wrap>
        <v-flex xs12>
          <v-container grid-list-md text-xs-center >

            <v-layout row >
<!--              <v-flex md4 v-for="item in imagesArray"  :key="item.eventId" >-->

<!--                <v-card color="white" class="elevation-0" tile-->
<!--                >-->
<!--                  <v-img :src="item.image">-->

<!--                  <v-container-->
<!--                          fill-height-->
<!--                          fluid-->
<!--                          pa-2-->
<!--                  >-->
<!--                    <v-layout fill-height>-->
<!--                      <v-flex xs12 align-end flexbox>-->
<!--                        <span class="headline white&#45;&#45;text" v-text="getEventName(item.eventId)[0].title"></span>-->
<!--                      </v-flex>-->
<!--                    </v-layout>-->
<!--                  </v-container>-->
<!--                  </v-img>-->
<!--                  <v-card-actions>-->
<!--                    <v-spacer></v-spacer>-->
<!--                    <v-card-text >{{getEventName(item.eventId)[0].likes}}</v-card-text>-->
<!--                    <v-btn icon @click="LikeIt(item.eventId)">-->
<!--                      <v-icon>favorite</v-icon>-->
<!--                    </v-btn>-->
<!--                    <v-btn icon>-->
<!--                      <v-icon>bookmark</v-icon>-->
<!--                    </v-btn>-->
<!--                  </v-card-actions>-->
<!--                </v-card>-->
<!--                <v-divider ></v-divider>-->
<!--              </v-flex>-->
              <v-flex md4 v-for="item in imagesArray"  :key="item.eventId" >
                <v-hover>
                  <v-card color="white" class="elevation-0" tile slot-scope="{ hover }"
                  >
                    <v-img height="300px" :src="item.image">
                      <div
                              v-if="hover"
                              class="d-flex transition-fast-in-fast-out grey darken-1 v-card--reveal display-0 white--text"
                              style="height: 100%;"
                      >
                        {{item.description}}<br>
                        {{item.date}}
                        {{item.time}}
                      </div>

                    </v-img>
                    <v-card-text
                            class="pt-4"
                            style="position: relative;"
                    >
                      <v-btn
                              absolute
                              color="rgb(0, 172, 193, 0.9)"
                              class="white--text"
                              fab
                              right
                              top
                              @click="LikeIt(item)"
                      >
                        <v-icon>mdi-heart</v-icon>
                      </v-btn>
<!--                      <div class="font-weight-light grey&#45;&#45;text title mb-2" align="center">{{getEventName(item.eventId)[0].title}}</div>-->
<!--                      <div class="font-weight-light grey&#45;&#45;text title mb-2" align="center"> {{getEventName(item.eventId)[0].likes}}</div>-->
                      <div class="font-weight-light grey--text title mb-2" align="center">{{item.title}}</div>
                      <div class="font-weight-light grey--text title mb-2" align="center"> {{item.likes}}</div>
                    </v-card-text>
                  </v-card>
                </v-hover>
                <v-divider ></v-divider>
              </v-flex>

            </v-layout>
          </v-container>
        </v-flex>
      </v-layout>
    </v-container>

  </v-app>
</template>

<script>
// @ is an alias to /src
import HelloWorld from '@/views/Home.vue'
import axios from 'axios'
import {mapMutations, mapState} from 'vuex'
import moment from 'moment'
import {BASE_URL} from "../constants";

export default {

  data: () => ({
    eventss: [],
    selectedItem: null,
    imagee: '',
    forcedKey: 0,
    name: [{title: ''}],
    imagesIdArray: [],
    imagesArray: { date: '', eventId: '', image: '', time: '', description: '', likes: ''}
  }),
  computed: {
    ...mapState(['token']),

    // images: function() {
    //   console.log("computed");
    //  return this.loadImages();
    // }


  },

  watch: {
    dialog(val) {
      val || this.close()
    }
  },

  created() {
    this.initialize()
  },
  methods: {
    compareDates(a, b){
      return a - b
    },

    async initialize() {

      await axios.get(BASE_URL + '/api/events/quantity/3').then(Response => {
        var data = Object.values(Response.data)
        this.eventss = data;
      });
      const tab = [];
      await this.eventss.forEach(function(item) {
        axios.get(BASE_URL + '/api/images/'+item.imageId, {responseType: 'arraybuffer' })
                .then((response) => {
                  let image = btoa(
                          new Uint8Array(response.data)
                                  .reduce((data, byte) => data + String.fromCharCode(byte), '')
                  );
                  image = `data:${response.headers['content-type'].toLowerCase()};base64,${image}`;
                  var date = moment(item.date[0] + '-' + item.date[1] + '-' + item.date[2]).format("DD-MM-YYYY");
                  var time = moment(item.date[3] + ':' + item.date[4], "HH:mm").format("HH:mm");

                  tab.push({date: date, eventId: item.id, image: image, time: time, title: item.title, description: item.description, likes: item.likes });
                  // tab.push({image: image})
                });

      });

      this.imagesArray=tab;

    },



    async LikeIt(item){

      axios.patch(BASE_URL + '/api/events/like/' + item.eventId, {headers: {Authorization: this.token}}).then(Response => {
        var data = Object.values(Response.data)
      });

      item.likes = item.likes + 1;

    },

    console(){
    }


  }
}
</script>


<style>
  .v-card--reveal {
    align-items: center;
    bottom: 0;
    justify-content: center;
    opacity: .9;
    position: absolute;
    width: 100%;
  }

</style>
