<template>
    <div id="app">
        <v-app id="inspire">
            <v-container>
                <v-layout row wrap>
                    <v-flex xs7 lg7 >
                        <v-expansion-panel popout >
                            <v-expansion-panel-content
                                    v-for="item in grouptrainings"
                                    :key="item"
                                    style="background:transparent;color:white"
                                    @click.native="selectItem(item)"

                            >
                                <v-icon  slot="actions" color="#00ACC1" large >add_circle</v-icon>
                                <template v-slot:header>
                                    <div class="oferta"> {{ item.name }}</div>
                                </template>
                                <v-card >
                                    <v-layout row pt-2>
                                        <v-flex xs8  >
                                            <v-card-text  class="text" > {{ item.description }}</v-card-text>
                                        </v-flex>
                                        <v-flex  height="50" width="50">
                                            <v-avatar size="160px">
<!--                                                <v-img :value="selectedItem" :src="image"  />-->
                                                <v-img
                                                        :src="item.image"

                                                ></v-img>
                                            </v-avatar>
                                        </v-flex>
                                    </v-layout>
                                    <v-layout row>
                                        <v-flex xs3 >
                                            <v-card-text align="left" class="text ">Intensywność</v-card-text>
                                        </v-flex>
                                        <v-flex xs4 >
                                            <v-rating
                                                    v-model="item.intensity"
                                                    background-color="pink lighten-3"
                                                    color="pink"
                                                    readonly
                                            ></v-rating>
                                        </v-flex>
                                    </v-layout>
                                </v-card>
                            </v-expansion-panel-content>
                        </v-expansion-panel>
                    </v-flex>

                    <v-flex xs5 lg5 offset-lg0 class="elevation-0">
                        <v-card  color="transparent" >
                            <v-card-text class="header" >zajęcia grupowe</v-card-text>
                            <v-img
                                    :src="require('@/assets/fitclasses.jpg')"
                                    height="300px"
                            ></v-img>
                        </v-card>
                    </v-flex>
                    <v-flex xs5 lg5 class="elevation-0">
                        <v-card dark color="transparent">
                            <v-card-text class="header_2" >treningi indywidualne</v-card-text>
                            <v-img
                                    :src="require('@/assets/trainer.png')"
                                    height="300px"
                            ></v-img>
                        </v-card>
                    </v-flex>
                    <v-flex xs7 lg7>
                        <v-card class="elevation-0" color="transparent">
                            <v-expansion-panel popout >
                                <v-expansion-panel-content
                                        v-for="item2 in trainings"
                                        :key="item2"
                                        style="background:transparent;color:white"
                                        @click.native="selectItem(item2)"
                                >
                                    <v-icon slot="actions" color="#FFB74D" large >add_circle</v-icon>

                                    <template v-slot:header>
                                        <div class="oferta"> {{ item2.name }}</div>
                                    </template>
                                    <v-card >
                                        <v-layout row >
                                            <v-flex xs8  >
                                                <v-card-text class="text" > {{item2.description}}</v-card-text>
                                            </v-flex>
                                            <v-flex  height="50" width="50">
                                                <v-avatar size="160px">
                                                    <v-img
                                                            :src="getPhoto2(item2.imageId)"
                                                    ></v-img>
                                                </v-avatar>
                                            </v-flex>
                                        </v-layout>
                                        <v-layout row pl-3>
                                                <v-flex  xs1 md1 lg1 >
                                                    <v-icon large >mdi-alert-circle-outline</v-icon>
                                                </v-flex>
                                            <v-flex xs4>
                                                <v-card-text>{{item2.targetClientDescription}}</v-card-text>
                                            </v-flex>
                                        </v-layout>
                                    </v-card>
                                </v-expansion-panel-content>
                            </v-expansion-panel>
                        </v-card>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-app>
    </div>


</template>


<script>

    import axios from 'axios'
    import {mapMutations, mapState} from 'vuex'
    import CookieHandler from "../services/CookieHandler";
    import {BASE_URL} from "../constants";

    export default {

        data: () => ({
            drawer: null,
            tab: null,
            selectedItem: null,
            image: '',
            grouptrainings: [],
            trainings: [],
            lessons: [],
            photos: [],
            images: [],
            images2: [],
            image: {},
            photo: [],

        }),
        computed: {
            ...mapState(['token']),
            formTitle () {
                return this.editedIndex === -1 ? 'New Item' : 'Edit Item'

            }
        },

        watch: {
            dialog (val) {
                val || this.close()
            }
        },

        created () {
            this.initialize()
        },

        methods: {
            selectItem(item) {
                this.selectedItem = item;
                this.setImage(this.selectedItem.imageId)
            },
            async initialize() {
                const tab = [];
                const tab2 = [];

                await axios.get(BASE_URL + '/api/training/groups/offer/all').then(Response => {
                    var data = Object.values(Response.data)
                    this.grouptrainings = data;

                    let img = '';
                    this.grouptrainings.forEach(async function (item, index) {
                        await axios.get(BASE_URL + '/api/images/' + item.imageId, {responseType: 'arraybuffer'})
                            .then((response) => {
                                let image = btoa(
                                    new Uint8Array(response.data)
                                        .reduce((data, byte) => data + String.fromCharCode(byte), '')
                                );
                                img = `data:${response.headers['content-type'].toLowerCase()};base64,${image}`;
                                tab.push({id: item.imageId, image: img});
                                item.image = img;

                            });
                    });
                    this.images = tab;
                });
                await axios.get(BASE_URL + '/api/training/individual/offer/all').then(Response => {
                    var data = Object.values(Response.data)
                    this.trainings = data;

                    let img = '';
                    this.trainings.forEach(async function (item, index) {
                        await axios.get(BASE_URL + '/api/images/' + item.imageId, {responseType: 'arraybuffer'})
                            .then((response) => {
                                let image = btoa(
                                    new Uint8Array(response.data)
                                        .reduce((data, byte) => data + String.fromCharCode(byte), '')
                                );
                                img = `data:${response.headers['content-type'].toLowerCase()};base64,${image}`;
                                tab2.push({id: item.imageId, image: img});
                                item.image = img;
                            });
                    });
                    this.images2 = tab2;
                });

            },
            async setImage(imageId) {

                return axios.get(BASE_URL + '/api/images/'+imageId, {responseType: 'arraybuffer' })
                    .then((response) => {
                        let image = btoa(
                            new Uint8Array(response.data)
                                .reduce((data, byte) => data + String.fromCharCode(byte), '')
                        );
                       this.image = `data:${response.headers['content-type'].toLowerCase()};base64,${image}`;
                    });
            },


            getPhoto2(imageId){
                //
                for(var x=0;x<this.images2.length;x++)
                {
                    if(this.images2[x].id === imageId){
                        return this.images2[x].image
                    }
                }

            },
            close() {
                this.dialog = false
                setTimeout(() => {
                    this.editedItem = Object.assign({}, this.defaultItem)
                    this.editedIndex = -1
                }, 300)
            },

        }
    }


</script>

<style>
    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: red;
        margin-top: 60px;
    }
    .header {
        color: #00ACC1;
        font-family:  'Hoefler Text', Georgia, 'Times New Roman', serif;
        font-weight: normal;
        font-size: 1.55em;
        letter-spacing: .2em;
        line-height: 1.1em;
        margin:0px;
        text-align: center;
        text-transform: uppercase;
    }
    .header_2 {
        color: #FFB74D;
        font-family:  'Hoefler Text', Georgia, 'Times New Roman', serif;
        font-weight: normal;
        font-size: 1.55em;
        letter-spacing: .2em;
        line-height: 1.1em;
        margin:0px;
        text-align: center;
        text-transform: uppercase;
    }
    .oferta{
        background: transparent;
        color: #616161;
        font-family: Verdana, Arial, Helvetica, sans-serif;
        letter-spacing: 3px;
        font-weight: 600;
        text-transform: uppercase;
    }

    .text{
        color:#616161;
        font-size: 13px;
        font-family: Verdana, Arial, Helvetica, sans-serif;

        float: top;
    }
    .title
    {
        color: black;
        font-family: 'Avenir', Helvetica, Arial, sans-serif;

        font-size: 30px;
    }
    .img-circle {
        border-radius: 80%;
    }
    .item {
        min-height: 150px;
        min-width: 150px;
    }
</style>
