training/group/members/group/training/<template>
    <v-container grid-list-md text-xs-center>
        <v-layout row wrap>
            <v-flex xs12>
                <v-container grid-list-md text-xs-center >

                    <v-layout row >

                        <v-flex md3>
                        </v-flex>
                        <v-flex xs5 v-for="time in headers" :key="time.value" >
                            <v-card color="transparent" class="elevation-0" tile>
                                <v-card-text class="period">{{time.text}} </v-card-text>
                            </v-card>
                            <v-divider ></v-divider>
                        </v-flex>


                    </v-layout>

                    <template v-for="(tariffName, index) in getTariffNamesFirst()">

                        <v-layout row :class="{even: index % 2, odd: !(index % 2)}" >
                            <v-flex md3 >
                                <v-card color="transparent" class="elevation-0">
                                    <v-card-text class="px-0 price" >{{tariffName}}</v-card-text>
                                </v-card>
                            </v-flex>

                            <v-flex xs5 v-for="time in headers" :key="time.value + '' + getTariffNamesFirst().name ">
                                <template  v-for="item in content(time.value, tariffName)">
                                    <v-card color="transparent" class="elevation-0 mt-2">
                                        <v-card-text class="price pa-2" >{{item.price}} zł </v-card-text>
                                    </v-card>
                                </template>

                            </v-flex>
                        </v-layout>

                    </template>


                </v-container>
                <v-container grid-list-md text-xs-center>

                    <v-layout row>

                        <v-flex md3>
                        </v-flex>
                        <v-flex xs5 v-for="time in training" :key="time.value" >
                            <v-card color="transparent" dark class="elevation-0" >
                                <v-card-text class="quantity">{{time.text}} </v-card-text>
                            </v-card>
                            <v-divider ></v-divider>
                        </v-flex>

                    </v-layout>

                    <template v-for="(tariffName, index) in getTariffNamesSecond()">
                        <v-layout row :class="{even: index % 2, odd: !(index % 2)}" >
                            <v-flex md3>
                                <v-card color="transparent" class="elevation-0">
                                    <v-card-text class="px-0 price" >{{tariffName}}</v-card-text>
                                </v-card>
                            </v-flex>

                            <v-flex xs5 v-for="time in training" :key="time.value + '' + getTariffNamesSecond().name ">
                                <template  v-for="item in content(time.value, tariffName)">
                                    <v-card color="transparent" class="elevation-0 mt-2">
                                        <v-card-text class="price pa-2" >{{item.price}} zł </v-card-text>

                                    </v-card>
                                </template>

                            </v-flex>
                        </v-layout>

                    </template>


                </v-container>
            </v-flex>

        </v-layout>

    </v-container>

</template>

<script>
    import axios from 'axios'
    import {mapMutations, mapState} from 'vuex'
    import CookieHandler from "../services/CookieHandler";
    import {BASE_URL} from "../constants";
    export default {
        data: () => ({
            headers: [
                {
                    text: 'Miesięczny',
                    value: 'month'
                },
                {
                    text: 'Kwartalny',
                    value: 'quarter'
                },
                {
                    text: 'Półroczny',
                    value: 'six_month'
                },
                {
                    text: 'Roczny',
                    value: 'year'
                }
            ],

            training: [
                {
                    text: 'Trening x1',
                    value: 'one_training'
                },
                {
                    text: 'Trening x4',
                    value: 'four_trainings'
                },
                {
                    text: 'Trening x8',
                    value: 'eight_trainings'
                },
                {
                    text: 'Trening x12',
                    value: 'twelve_trainings'
                }
            ],
            tariff_name: [],
            prices_period: [],
            prices_quantity: [],
            tariffs: []
        }),
        watch: {
            dialog(val) {
                val || this.close()
            }
        },
        created() {
            this.initialize()
        },

        methods: {
            async initialize() {

                axios.get(BASE_URL + '/api/tariff/all').then(Response => {
                    var data = Object.values(Response.data)
                    this.tariffs = data;
                });
            },
            getTariffNamesFirst: function()
            {
                this.tariff_name = this.tariffs;

                this.tariff_name.forEach(function(item, index) {
                });
                const tariff_period = this.tariff_name.filter(function(period) {
                    return period.settlementType == ('MONTH' || 'QUARTER' || 'SIX_MONTH' || 'YEAR')
                });
                const name = [...new Set(tariff_period.map(x => x.name))];
                return name ? name : '&nbsp;'
            },
            getTariffNamesSecond: function()
            {
                this.tariff_name = this.tariffs;

                this.tariff_name.forEach(function(item, index) {
                });
                const tariff_quantity = this.tariff_name.filter(function(period) {
                    return period.settlementType == ('ONE_TRAINING' || 'FOUR_TRAININGS' || 'EIGHT_TRAININGS' || 'TWELVE_TRAININGS')
                });

                const name = [...new Set(tariff_quantity.map(x => x.name))];
                return name ? name : '&nbsp;'
            },

            content(time, name) {
                this.prices_period = this.tariffs;
                this.prices_period.forEach(function(item, index) {
                });
                var events = this.prices_period.filter(function(tariff) {
                    // console.log(moment(String(lesson.date)).format("YYYY-MM-DD"));
                    // console.log(tariff.settlementType + ' ' + time.toUpperCase() + ' '+ tariff.name + ' '+ name)
                    return tariff.settlementType == time.toUpperCase() && tariff.name == name

                });
                // console.log(time + '' + name + '' );
                // console.log(events)
                return events ? events : '&nbsp;'

            },

            close() {
                this.dialog = false
                setTimeout(() => {
                    this.editedItem = Object.assign({}, this.defaultItem)
                    this.editedIndex = -1
                }, 300)
            },
        }
    }
</script>

<style>
    .period{
        font-family:  "Lucida Console", Monaco, monospace;
        font-weight: normal;
        text-align: center;
        text-transform: uppercase;
        color: #00ACC1;
        font-size: 1.2em;
    }

    .quantity{
        font-family:  "Lucida Console", Monaco, monospace;
        font-weight: normal;
        text-align: center;
        text-transform: uppercase;
        color: #B39DDB;
        font-size: 1.2em;
    }

    .even{
        background: #F5F5F5;
    }

    .odd
    {

    }
    .price
    {
        color: #616161;
        font-size: 1.0em;
    }


</style>
