<template>
    <div id="inspire">

            <v-container fluid >
                <v-layout  justify-center>
        <div>Zanim do nas dołączysz, zapoznaj się z naszym regulaminem</div>

                </v-layout>
            </v-container>
        <v-container>
            <v-layout justify-center>
        <v-card flat class="transparent" >

                <v-card-title>
                    <v-icon
                            large
                            left
                            color="red"
                            @click="display_regulation()"
                    >
                        description
                    </v-icon>
                    <span class="title font-weight-light" @click="display_regulation()">Regulamin klubu</span>
                    <span v-if="isLoggedIn() == true">
                        <v-dialog v-model="dialog" max-width="500px">
                        <template v-slot:activator="{ on }">
                            <v-icon
                            right
                            v-on="on"
                    >
                        attach_file
                    </v-icon>
                             </template>
                            <v-card>
                            <v-card-title>
                                <span class="headline">Dodaj regulamin</span>
                            </v-card-title>
                                <v-flex xs12 class="text-xs-center text-sm-center text-md-center text-lg-center">

                                            <v-text-field label="Wybierz plik pdf"  @click='pickFile' v-model='filePdf' prepend-icon='attach_file'></v-text-field>
                                            <input
                                                    type="file"
                                                    style="display: none"
                                                    ref="pdf"
                                                    @change="onFilePicked"
                                            >

                                       <v-icon @click="save()" >save</v-icon>

                                        </v-flex>
                            </v-card>
                        </v-dialog>

                    </span>
                </v-card-title>

        </v-card>
                </v-layout>
            </v-container>

<!--            <iframe  width="750px"-->
<!--                     height="750px"-->
<!--                     :src="regulation"></iframe>-->

    </div>
</template>


<script>

  import axios from 'axios'
  import {mapMutations, mapState} from 'vuex'
  import AuthorizationManagerService from "@/services/AuthorizationManagerService";
  import {BASE_URL} from "../constants";
  import CookieHandler from "../services/CookieHandler";

  export default {

    data: () => ({
        dialog: false,
      regulation: null,
      filePdf: '',
        pdfUrl: '',
        pdfFile: ''

    }),
      // components: {
      //     pdf
      // },
    computed: {
      ...mapState(['token']),

    },

    watch: {
      dialog(val) {
        val || this.close()
      }
    },

    created() {
        this.authCookie = CookieHandler.getAuthKeyValueFromCookies();
      this.initialize()
    },
    methods: {
        isLoggedIn(){
            if(CookieHandler.checkIfAdminIsAuthorized())
                return true;
            else return false;
        },
      async initialize() {

        await axios.get(BASE_URL +'/api/regulations/show/REGIMEN', {responseType: 'arraybuffer' })
                .then((response) => {
                  let regulation = btoa(
                          new Uint8Array(response.data)
                                  .reduce((data, byte) => data + String.fromCharCode(byte), '')
                  );
                  this.regulation = `data:${response.headers['content-type'].toLowerCase()};base64,${regulation}`;
                });

      },
        display_regulation: function () {
          window.open(this.regulation);

        },
        pickFile () {
            this.$refs.pdf.click ()
        },
        onFilePicked (e) {
            const files = e.target.files
            if(files[0] !== undefined) {
                this.filePdf = files[0].name
                if(this.filePdf.lastIndexOf('.') <= 0) {
                    return
                }
                const fr = new FileReader ()
                fr.readAsDataURL(files[0])
                fr.addEventListener('load', () => {
                    this.pdfUrl = fr.result
                    this.pdfFile = files[0] // this is an image file that can be sent to server...
                    this.formData = new FormData();
                    this.formData.append("regulations",this.pdfFile)

                })
            } else {
                this.filePdf = ''
                this.imageFile = ''
            }


        },
        async save () {
                    await axios.post(BASE_URL + '/api/regulations/REGIMEN', this.formData , {headers: {Authorization: this.authCookie, 'Content-Type': 'application/x-www-form-urlencoded' }}).then(Response => {
                        var data = Object.values(Response.data)

                    });
            axios.get(BASE_URL + '/api/regulations/show/REGIMEN', {responseType: 'arraybuffer' })
                .then((response) => {
                    let regulation = btoa(
                        new Uint8Array(response.data)
                            .reduce((data, byte) => data + String.fromCharCode(byte), '')
                    );
                    this.regulation = `data:${response.headers['content-type'].toLowerCase()};base64,${regulation}`;
                });
            this.close()
        },
        close () {
            this.dialog = false

        },

    }
  }
</script>

<style>


</style>
