<template>
    <div id="app">
        <v-app id="inspire">
            <v-card>
                <v-container
                        fluid
                        grid-list-lg
                        v-for="item in trainers"
                        :key="item"
                >
                    <v-layout color="transparent" row wrap>
                        <v-flex xs12 md10 lg11 >
                            <v-card class="elevation-0" color="transparent">
                                <v-layout>
                                    <v-flex xs5 md5>
                                        <v-img
                                                :src="getPhoto(item.imageId)"
                                                height="300px"
                                                contain
                                        ></v-img>
                                    </v-flex>
                                    <v-flex xs7 md7>
                                        <v-card-title align="left" primary-title >
                                            <div>
                                                <div class="headline">{{item.name}} {{ item.surname}}</div>
                                                <div> <br></div>
                                                <div>{{item.description}}</div>
                                                <div><br></div>
                                                <v-divider light></v-divider>
                                                <div> <br></div>
                                                Numer telefonu: {{item.phoneNumber}}
                                                <div> <br></div>
                                                E-mail: {{item.email}}
                                            </div>
                                        </v-card-title>

                                        <v-divider light></v-divider>
                                        <v-item-group multiple>
                                            <v-item
                                                    v-for="n in item.trainingTypes.split(';')"
                                                    :key="n"
                                            >
                                                <v-chip
                                                        slot-scope="{ active, toggle }"
                                                        :selected="active"
                                                        @click="toggle"
                                                        color="#ffb74d"
                                                        dark
                                                >
                                                    {{ n }}
                                                </v-chip>
                                            </v-item>
                                        </v-item-group>
                                        <v-expansion-panel class="elevation-0">
                                            <v-expansion-panel-content
                                                    v-for="(it,i) in 1"
                                                    :key="i"
                                                    class="elevation-0"
                                            >
                                                <template v-slot:actions>
                                                    <v-icon color="error"></v-icon>
                                                </template>
                                                <template v-slot:header>
                                                    <v-btn flat
                                                           flat
                                                           slot="activator"
                                                           :to="{ name: 'grafiktrenera', params: {id: item.id } }"
                                                    >
                                                        Zobacz grafik
                                                    </v-btn>
                                                </template>
                                            </v-expansion-panel-content>
                                        </v-expansion-panel>
                                    </v-flex>
                                </v-layout>
                            </v-card>
                        </v-flex>
                    </v-layout>
                </v-container>
            </v-card>
        </v-app>
    </div>
</template>

<script>
    import moment from 'moment'
    import axios from 'axios'
    import {mapMutations, mapState} from 'vuex'
    import {BASE_URL} from "../constants";
    import CookieHandler from "../services/CookieHandler";


    export default {
        data: () => ({
            length: 2,
            window: 0,
            step: 1,
            route: '/grafik',
            item: {
                id: '',
                email: '',
                name: '',
                surname: '',
                description: '',
                traininTypes: [],
                birthdate: '',
                pesel: '',
                phoneNumber: '',
                notifications: '',
                showProfile: '',
                gender: '',
                creationDate: '',
                removed: '',
                userId: '',
                imageId: ''

            },
            trainers: [],
            images: [],
            image: {},



        }),
        computed: {
            ...mapState(['token']),


        },
        watch: {
            dialog(val) {
                val || this.close()
            }
        },
        created() {
            this.initialize()
        },

        methods: {
            async initialize() {
                this.authCookie = CookieHandler.getAuthKeyValueFromCookies();

                axios.get(BASE_URL + '/api/trainers/withShowProfile').then(Response => {
                    var data = Object.values(Response.data)
                    this.trainers = data;
                    const tab = [];
                    let img = '';
                    this.trainers.forEach(function(item, index) {
                        axios.get(BASE_URL + '/api/images/'+item.imageId, {responseType: 'arraybuffer' })
                            .then((response) => {
                                let image = btoa(
                                    new Uint8Array(response.data)
                                        .reduce((data, byte) => data + String.fromCharCode(byte), '')
                                );
                                img = `data:${response.headers['content-type'].toLowerCase()};base64,${image}`;
                                tab.push({id: item.imageId, image: img});
                            });
                    });
                    this.images = tab;
                });

                if(this.trainers == null || this.trainers == ""){

                }

            },

            close() {
                this.dialog = false
                setTimeout(() => {
                    this.editedItem = Object.assign({}, this.defaultItem)
                    this.editedIndex = -1
                }, 300)
            },

            getPhoto(imageId){

                // let photo = this.images.filter(function(item) { return item.id === imageId; });
                // return photo[0].image;
                for(var x=0;x<this.images.length;x++)
                {
                    if(this.images[x].id === imageId){
                        return this.images[x].image
                    }
                }
            }
        }
    }
</script>

<style>
    .period{
        font-family:  "Lucida Console", Monaco, monospace;
        font-weight: normal;
        text-align: center;
        text-transform: uppercase;
        color: #00ACC1;
        font-size: 1.2em;
    }

    .quantity{
        font-family:  "Lucida Console", Monaco, monospace;
        font-weight: normal;
        text-align: center;
        text-transform: uppercase;
        color: #B39DDB;
        font-size: 1.2em;
    }

    .even{
        background: #F5F5F5;
    }

    .odd
    {

    }
    .price
    {
        color: #616161;
        font-size: 1.0em;
    }


</style>
