<template>
    <div id="app">


        <v-app id="inspire">
            <v-container fluid style="width: 30%">
                <v-row
                        class="mb-6"
                        no-gutters
                >
                    <v-col md="4"
                           offset-md="4">
                        <v-card
                                class="pa-2"
                                tile
                        >
                            <v-dialog
                                    ref="dialog"
                                    v-model="modal"
                                    :return-value.sync="date"
                                    persistent
                                    lazy
                                    full-width
                                    width="290px"
                            >
                                <template v-slot:activator="{ on }">
                                    <v-text-field
                                            v-model="date"
                                            label="Wybierz datę od"
                                            prepend-icon="event"
                                            readonly
                                            v-on="on"
                                    ></v-text-field>
                                </template>
                                <v-date-picker color="#FFB74D" locale="pl-pl" v-model="date" scrollable>
                                    <v-spacer></v-spacer>
                                    <v-btn flat color="#FFB74D" @click="modal = false">Anuluj</v-btn>
                                    <v-btn flat color="#FFB74D" @click="$refs.dialog.save(date)">Zapisz</v-btn>
                                </v-date-picker>
                            </v-dialog>
                        </v-card>
                    </v-col>
                    <v-col
                            md="4"
                            offset-md="4"
                    >
                        <v-card
                                class="pa-2"
                                tile
                        >
                            <v-dialog
                                    ref="dialog2"
                                    v-model="modal2"
                                    :return-value.sync="date2"
                                    persistent
                                    lazy
                                    full-width
                                    width="290px"
                            >
                                <template v-slot:activator="{ on }">
                                    <v-text-field
                                            v-model="date2"
                                            label="Wybierz datę do"
                                            prepend-icon="event"
                                            readonly
                                            v-on="on"
                                    ></v-text-field>
                                </template>
                                <v-date-picker color="#FFB74D" locale="pl-pl" v-model="date2" scrollable>
                                    <v-spacer></v-spacer>
                                    <v-btn flat color="#FFB74D" @click="modal2 = false">Anuluj</v-btn>
                                    <v-btn flat color="#FFB74D" @click="$refs.dialog2.save(date2)">Zapisz</v-btn>
                                </v-date-picker>
                            </v-dialog>
                        </v-card>
                    </v-col>
                    <v-col
                            md="4"
                            offset-md="4"
                    >
                        <v-card
                                class="pa-2"
                                tile
                        >
                            <v-select
                                    :items="items"
                                    v-model="select"
                                    label="Typ"
                                    outlined
                            ></v-select>
                        </v-card>
                    </v-col>
                    <v-col
                            md="4"
                            offset-md="4"
                    >
                        <v-card
                                class="pa-2"
                                tile
                        >
                            <v-btn dark color="#FFB74D" @click="generateCsv">Generuj plik CSV</v-btn>
                        </v-card>
                    </v-col>
                </v-row>
            </v-container>




            <!--            <v-container grid-list-md text-md-center fluid fill-height>-->
<!--                <v-layout>-->
<!--                    <v-flex md1 d-flex color="primary">-->
<!--                        <v-dialog-->
<!--                                ref="dialog"-->
<!--                                v-model="modal"-->
<!--                                :return-value.sync="date"-->
<!--                                persistent-->
<!--                                lazy-->
<!--                                full-width-->
<!--                                width="290px"-->
<!--                        >-->
<!--                            <template v-slot:activator="{ on }">-->
<!--                                <v-text-field-->
<!--                                        v-model="date"-->
<!--                                        label="Picker in dialog"-->
<!--                                        prepend-icon="event"-->
<!--                                        readonly-->
<!--                                        v-on="on"-->
<!--                                ></v-text-field>-->
<!--                            </template>-->
<!--                            <v-date-picker v-model="date" scrollable>-->
<!--                                <v-spacer></v-spacer>-->
<!--                                <v-btn flat color="primary" @click="modal = false">Cancel</v-btn>-->
<!--                                <v-btn flat color="primary" @click="$refs.dialog.save(date)">OK</v-btn>-->
<!--                            </v-date-picker>-->
<!--                        </v-dialog>-->
<!--                    </v-flex>-->
<!--                    <v-flex md1 d-flex>-->
<!--                        <v-dialog-->
<!--                                ref="dialog2"-->
<!--                                v-model="modal2"-->
<!--                                :return-value.sync="date2"-->
<!--                                persistent-->
<!--                                lazy-->
<!--                                full-width-->
<!--                                width="290px"-->
<!--                        >-->
<!--                            <template v-slot:activator="{ on }">-->
<!--                                <v-text-field-->
<!--                                        v-model="date2"-->
<!--                                        label="Picker in dialog"-->
<!--                                        prepend-icon="event"-->
<!--                                        readonly-->
<!--                                        v-on="on"-->
<!--                                ></v-text-field>-->
<!--                            </template>-->
<!--                            <v-date-picker v-model="date2" scrollable>-->
<!--                                <v-spacer></v-spacer>-->
<!--                                <v-btn flat color="primary" @click="modal2 = false">Cancel</v-btn>-->
<!--                                <v-btn flat color="primary" @click="$refs.dialog2.save(date2)">OK</v-btn>-->
<!--                            </v-date-picker>-->
<!--                        </v-dialog>-->
<!--                    </v-flex>-->
<!--                </v-layout>-->
<!--            </v-container>-->
        </v-app>
    </div>
</template>

<script>
    import axios from 'axios'
    import {mapMutations, mapState} from 'vuex'
    import {BASE_URL} from "../../constants";
    import CookieHandler from "../../services/CookieHandler";

    export default {
        data: () => ({
            date: new Date().toISOString().substr(0, 10),
            date2: new Date().toISOString().substr(0, 10),
            modal: false,
            modal2: false,
            dialog: false,
            dialog2: false,
            items: ["Dostawa", "Karnety", "Sprzedaż"],
            select: ''
        }),
        watch: {
            dialog (val) {
                val || this.close()
            }
        },

        created () {
            this.initialize()
        },

         methods:{
            initialize() {
                 this.authCookie = CookieHandler.getAuthKeyValueFromCookies();
             },

           async generateCsv(){
               var urlString =''
               var namePrefix =''
               if(this.select==='Dostawa'){
                    urlString = '/api/csv/productSupplies?from=' +this.date + 'T00:00:00.000Z&to=' +this.date2+'T23:00:00.000Z';
                    namePrefix = 'D_'
                }
                else if(this.select==='Karnety'){
                    urlString = '/api/csv/passes?from=' +this.date + 'T00:00:00.000Z&to=' +this.date2+'T23:00:00.000Z';
                    namePrefix = 'K_'
                }
                else if(this.select==='Sprzedaż'){
                    urlString = '/api/csv/productSales?from=' +this.date + 'T00:00:00.000Z&to=' +this.date2+'T23:00:00.000Z';
                    namePrefix = 'S_'
                }
                await axios.get(BASE_URL + urlString, {headers: {Authorization: this.authCookie}}).then(Response => {

                    var data = Response.data
                    var pom = document.createElement('a');
                    var csvContent=data.replace(/,/g, ';');//here we load our csv data
                    var blob = new Blob(["\uFEFF"+csvContent],{type: 'text/csv;charset=UTF16-LE;'});
                    var url = URL.createObjectURL(blob);
                    pom.href = url;
                    pom.setAttribute('download', namePrefix+this.date+'_'+this.date2+'.csv');
                    pom.click();
                }).catch(error => {
                    this.notification=true;
                    this.snackbarText='Wystąpił błąd podczas dodawania generowania csv.'
                    this.type='red'
                });

            }
        }

    }
</script>

<style>
    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        margin-top: 60px;
    }
</style>



