<template>
    <div id="app">
        <v-app id="inspire">
            <div>
                <v-toolbar flat color="white">
                    <v-toolbar-title>Wydarzenia</v-toolbar-title>
                    <v-divider
                            class="mx-2"
                            inset
                            vertical
                    ></v-divider>
                    <v-spacer></v-spacer>
                    <v-dialog v-model="dialog" max-width="500px">
                        <template v-slot:activator="{ on }">
                            <v-btn color="#FFB74D" dark class="mb-2" v-on="on">Dodaj wydarzenie</v-btn>
                        </template>
                        <v-card>
                            <v-card-title>
                                <span class="headline">{{ formTitle }}</span>
                            </v-card-title>

                            <v-card-text>
                                <v-container grid-list-md>
                                    <v-layout wrap>
                                        <v-flex xs12 sm8 md8>
                                            <v-text-field v-model="editedItem.title" label="Nazwa"></v-text-field>
                                        </v-flex>

                                        <v-flex xs12>
                                            <v-textarea v-model="editedItem.description" label="Opis" outline></v-textarea>
                                        </v-flex>

                                        <v-flex xs12 sm6 md4>
                                            <v-dialog
                                                    ref="dialogdate"
                                                    v-model="modal"
                                                    persistent
                                                    lazy
                                                    full-width
                                                    width="290px"
                                            >
                                                <template v-slot:activator="{ on }">
                                                    <v-text-field
                                                            v-model="editedItem.date"
                                                            label="Data wydarzenia"
                                                            prepend-icon="event"
                                                            readonly
                                                            v-on="on"
                                                    ></v-text-field>
                                                </template>
                                                <v-date-picker color="#FFB74D" locale="pl-pl" v-model="editedItem.date" scrollable>
                                                    <v-spacer></v-spacer>
                                                    <v-btn flat color="#FFB74D" @click="modal = false">Anuluj</v-btn>
                                                    <v-btn flat color="#FFB74D" @click="$refs.dialogdate.save(editedItem.date)">Zapisz</v-btn>
                                                </v-date-picker>
                                            </v-dialog>
                                        </v-flex>

                                        <v-flex xs12 sm6 md4>
                                            <v-dialog
                                                    ref="dialog"
                                                    v-model="modal2"
                                                    persistent
                                                    lazy
                                                    full-width
                                                    width="290px"
                                            >
                                                <template v-slot:activator="{ on }">
                                                    <v-text-field
                                                            v-model="editedItem.time"
                                                            label="Godzina wydarzenia"
                                                            prepend-icon="event"
                                                            readonly
                                                            v-on="on"
                                                    ></v-text-field>
                                                </template>
                                                <v-time-picker locale="pl-pl" format="24hr" color="#FFB74D" v-model="editedItem.time" >
                                                    <v-spacer></v-spacer>
                                                    <v-btn flat color="#FFB74D" @click="modal2 = false">Anuluj</v-btn>
                                                    <v-btn flat color="#FFB74D" @click="$refs.dialog.save(editedItem.time)">Zapisz</v-btn>
                                                </v-time-picker>
                                            </v-dialog>
                                        </v-flex>

                                        <v-flex v-if="actionType" xs12 class="text-xs-center text-sm-center text-md-center text-lg-center">
                                            <v-card>
                                                <img :src="editedUrl" height="150" />
                                            </v-card>
                                        </v-flex>
                                        <v-flex xs12 class="text-xs-center text-sm-center text-md-center text-lg-center">
                                            <img :src="imageUrl" height="150" v-if="imageUrl"/>
                                            <v-text-field label="Wybierz zdjęcie" @click='pickFile' v-model='imageName' prepend-icon='attach_file'></v-text-field>
                                            <input
                                                    type="file"
                                                    style="display: none"
                                                    ref="image"
                                                    accept="image/*"
                                                    @change="onFilePicked"
                                            >
                                        </v-flex>

                                        <!--
:src="'data:image/jpeg;base64,'+editedUrl"-->

                                    </v-layout>
                                </v-container>
                            </v-card-text>

                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="#FFB74D" flat @click="close">Anuluj</v-btn>
                                <v-btn color="#FFB74D" flat @click="save">Zapisz</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                </v-toolbar>
                <v-data-table
                        :key="forcedKey"
                        :headers="headers"
                        :items="events"
                        class="elevation-1"
                >
                    <template v-slot:items="props" >
                        <td @click="editItem(props.item)" class="text-xs-left">{{ props.item.title}}</td>
                        <td @click="editItem(props.item)"class="text-xs-left">{{ props.item.description }}</td>
                        <td @click="editItem(props.item)"class="text-xs-left">{{ props.item.date }}</td>
                        <td class="justify-center layout px-0">
                            <v-icon
                                    small
                                    @click="deleteItem(props.item)"
                            >
                                delete
                            </v-icon>
                        </td>
                    </template>
                    <template v-slot:no-data>
                        <v-btn color="#FFB74D" @click="initialize">Odśwież</v-btn>
                    </template>
                    <template v-slot>

                    </template>
                </v-data-table>
            </div>
        </v-app>
        <v-snackbar
                v-model="notification"
                top
                :color="type"
                :timeout="timeout"
        >
            {{ snackbarText }}
        </v-snackbar>
    </div>
</template>






<script>

    import axios from 'axios'
    import {mapMutations, mapState} from 'vuex'
    import {LocalDateTime, DateTimeFormatter} from 'js-joda'
    import {BASE_URL} from "../../constants";
    import CookieHandler from "../../services/CookieHandler";

    export default {

        data: () => ({
            dialogdate: false,
            dialog: false,
            authCookie: '',
            imageName: '',
            imageUrl: '',
            imageFile: '',
            editedUrl: '',
            forcedKey: 0,

            buttonColor: "WHITE",
            snackbarText: "Wystąpił błąd.",
            buttonText: "OK",
            hasButton: true,
            notification: false,
            timeout: 4000,
            type: null,

            modal: false,
            modal2: false,
            headers: [
                { text: 'Nazwa', value: 'title' },
                { text: 'Opis', value: 'description' },
                { text: 'Data', value: 'date' },
                { text: '', value: 'actions', sortable: false }
            ],
            events: [],
            editedImage:'',
            editedIndex: -1,
            editedItem: {
                id: '',
                title: '',
                description: '',
                date: '',
                likes: '',
                imageId: '',
                time: '',
            },
            defaultItem: {
                id: '',
                title: '',
                description: '',
                date: '',
                likes: '',
                imageId: '',
                time: ''
            }


        }),
        computed: {
            ...mapState(['token']),
            formTitle () {
                return this.editedIndex === -1 ? 'Dodaj wydarzenie' : 'Edytuj wydarzenie'

            },
            actionType()
            {
                return this.editedIndex !== -1
            }
        },

        watch: {
            dialog (val) {
                val || this.close()
            }
        },

        created () {
            this.initialize()
        },

        methods: {
            async initialize() {

                this.authCookie = CookieHandler.getAuthKeyValueFromCookies();

                axios.get(BASE_URL + '/api/events', {headers: {Authorization: this.authCookie}}).then(Response => {
                    var data = Object.values(Response.data)
                    this.events = data;
                    for(var x =0;x<this.events.length;x++){
                       this.events[x].date = this.toDateTime(this.events[x].date);
                    }
                });
            },

            editItem (item) {
                this.editedIndex = this.events.indexOf(item)
                this.editedItem = Object.assign({}, item)
                this.dialog = true
                this.editedItem.time=this.toTime(this.editedItem.date)
                this.editedItem.date=this.toDate(this.editedItem.date)
                this.setImage(this.editedItem.imageId)


            },

            deleteItem (item) {
                const index = this.events.indexOf(item)
                if(confirm('Czy na pewno usunąć?') && this.events.splice(index, 1)) {
                    axios.delete(BASE_URL + '/api/events/remove/' + item.id, {headers: {Authorization: this.authCookie}}).then(Response => {
                        var data = Object.values(Response.data)
                    }).catch(error => {
                        this.notification=true;
                        this.snackbarText='Wystąpił błąd podczas usuwania wydarzenia.'
                        this.type='red'
                    });
                    axios.delete(BASE_URL + '/api/images/' + item.imageId, {headers: {Authorization: this.authCookie}}).then(Response => {
                        var data = Object.values(Response.data)
                    }).catch(error => {
                        this.notification=true;
                        this.snackbarText='Wystąpił błąd podczas usuwania obrazka.'
                        this.type='red'
                    });
                }
            },

            close () {
                this.dialog = false
                setTimeout(() => {
                    this.editedItem = Object.assign({}, this.defaultItem)
                    this.editedIndex = -1
                    this.editedUrl='';
                    this.imageUrl='';
                }, 300)
            },

            async save () {

                var formatter = DateTimeFormatter.ofPattern("yyyy-MM-dd HH:mm");
                var tempDateArray = this.editedItem.date.split('-')
                var tempTime = this.editedItem.time.split(':');
                var tempDateTimeArray = tempDateArray.concat(tempTime)

                var formatDateTime = LocalDateTime.parse(this.editedItem.date +' '+ this.editedItem.time, formatter);


                this.editedItem.date = formatDateTime;

                if (this.editedIndex > -1) {

                    if(this.imageUrl!=='')
                    {
                        var imageIdToDelete = this.editedItem.imageId;
                        await axios.post(BASE_URL + '/api/images', this.formData, {headers: {Authorization: this.authCookie, 'Content-Type': 'application/x-www-form-urlencoded'} }).then(Response => {
                            var data = Object.values(Response.data)
                            this.editedItem.imageId=data.join("")

                        }).catch(error => {
                            this.notification=true;
                            this.snackbarText='Wystąpił błąd podczas dodawania obrazu.'
                            this.type='red'
                        });
                        await axios.patch(BASE_URL + '/api/events', this.editedItem , {headers: {Authorization: this.authCookie}}).then(Response => {
                            var data = Object.values(Response.data)
                        }).catch(error => {
                            this.notification=true;
                            this.snackbarText='Wystąpił błąd podczas aktualizacji wydarzenia.'
                            this.type='red'
                        });

                        await axios.delete(BASE_URL + '/api/images/'+imageIdToDelete,  {headers: {Authorization: this.authCookie}}).then(Response => {
                            var data = Object.values(Response.data)
                        }).catch(error => {
                            this.notification=true;
                            this.snackbarText='Wystąpił błąd podczas usuwania obrazu.'
                            this.type='red'
                        });

                    }
                    else {
                        await axios.patch(BASE_URL + '/api/events', this.editedItem , {headers: {Authorization: this.authCookie}}).then(Response => {
                            var data = Object.values(Response.data)
                        }).catch(error => {
                            this.notification=true;
                            this.snackbarText='Wystąpił błąd podczas aktualizacji wydarzenia.'
                            this.type='red'
                        });
                    }
                    this.editedItem.date = tempDateTimeArray





                } else {

                    this.events.likes=0;
                    await axios.post(BASE_URL + '/api/images', this.formData, {headers: {Authorization: this.authCookie, 'Content-Type': 'application/x-www-form-urlencoded'} }).then(Response => {
                        var data = Object.values(Response.data)
                        this.editedItem.imageId=data.join("")

                    }).catch(error => {
                        this.notification=true;
                        this.snackbarText='Wystąpił błąd podczas dodawania obrazu.'
                        this.type='red'
                    });
                    await axios.post(BASE_URL + '/api/events', this.editedItem , {headers: {Authorization: this.authCookie}}).then(Response => {
                        var data = Object.values(Response.data)
                    }).catch(error => {
                        this.notification=true;
                        this.snackbarText='Wystąpił błąd podczas tworzenia wydarzenia.'
                        this.type='red'
                    });

                    this.editedItem.date = tempDateTimeArray
                    this.events.push(this.editedItem)

                }
                this.editedItem.date = this.toDateTime(this.editedItem.date);
                this.forcedKey += 1;
                Object.assign(this.events[this.editedIndex], this.editedItem)
                this.close()
            },


            async setImage(imageId) {

                return axios.get(BASE_URL + '/api/images/'+imageId, {headers: {Authorization: this.authCookie}, responseType: 'arraybuffer' })
                    .then((response) => {
                        let image = btoa(
                            new Uint8Array(response.data)
                                .reduce((data, byte) => data + String.fromCharCode(byte), '')
                        );
                        this.editedUrl=`data:${response.headers['content-type'].toLowerCase()};base64,${image}`;
                    });
            },

            toDateTime(item){
                    var currentDate = new Date(item[0], item[1], item[2], item[3], item[4]);
                    var date = currentDate.getDate();
                    var month = currentDate.getMonth(); //Be careful! January is 0 not 1
                    var year = currentDate.getFullYear();
                    var hour = currentDate.getHours();
                    var minutes = currentDate.getMinutes()

                    var dateString = year + "-" + ("0" + (month)).slice(-2) + "-" + ("0" + (date)).slice(-2) + ' ' + ("0" + (hour)).slice(-2) + ':' + ("0" + (minutes)).slice(-2);

                    return dateString;

            },


            toDate(item){
                var currentDate = new Date(item.substring(0,10).replace(' ', ''));

                var date = currentDate.getDate();
                var month = currentDate.getMonth(); //Be careful! January is 0 not 1
                var year = currentDate.getFullYear();
                var hour = currentDate.getHours();
                var minutes = currentDate.getMinutes()

                if(month<9)
                {
                    var dateString = year + "-" + '0'+ (month + 1) + "-" + ("0" + (date)).slice(-2);
                }
                else {
                    var dateString = year + "-" + (month + 1) + "-" + ("0" + (date)).slice(-2);
                }



                return dateString;
            },

            toTime(item){
                item = item.replace(' ', '');
                var timeString = item.substring(10,item.length+1);
                return timeString;
            },

            pickFile () {
                this.$refs.image.click ()
            },

            onFilePicked (e) {
                const files = e.target.files
                if(files[0] !== undefined) {
                    this.imageName = files[0].name
                    if(this.imageName.lastIndexOf('.') <= 0) {
                        return
                    }
                    const fr = new FileReader ()
                    fr.readAsDataURL(files[0])
                    fr.addEventListener('load', () => {
                        this.imageUrl = fr.result
                        this.imageFile = files[0] // this is an image file that can be sent to server...
                        this.formData = new FormData();
                        this.formData.append("image",this.imageFile)
                    })
                } else {
                    this.imageName = ''
                    this.imageFile = ''
                    this.imageUrl = ''
                }
            }

        }
    }


</script>

<style>
    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        margin-top: 60px;
    }
</style>


