<template>
    <div id="app">
        <v-app id="inspire">
            <div>
                <v-toolbar flat color="white">
                    <v-toolbar-title>Oferta zajęć grupowych</v-toolbar-title>
                    <v-divider
                            class="mx-2"
                            inset
                            vertical
                    ></v-divider>
                    <v-spacer></v-spacer>
                    <v-dialog v-model="dialog" max-width="500px">
                        <template v-slot:activator="{ on }">
                            <v-btn color="#FFB74D" dark class="mb-2" v-on="on">Dodaj zajęcia do oferty</v-btn>
                        </template>
                        <v-card>
                            <v-card-title>
                                <span class="headline">{{ formTitle }}</span>
                            </v-card-title>

                            <v-card-text>
                                <v-container grid-list-md>
                                    <v-layout wrap>
                                        <v-flex xs12 sm6 md6>
                                            <v-text-field v-model="editedItem.name" label="Nazwa"></v-text-field>
                                        </v-flex>

                                        <v-flex xs12 sm6 md4>
                                            <v-select v-model="editedItem.intensity"
                                                      :items="selectintensity"
                                                      label="Intensywność"
                                                      :placeholder="editedItem.intensity"
                                            ></v-select>
                                        </v-flex>
                                        <v-flex xs12>
                                            <v-textarea v-model="editedItem.description" label="Opis" outline></v-textarea>
                                        </v-flex>
                                        <v-flex v-if="actionType" xs12 class="text-xs-center text-sm-center text-md-center text-lg-center">
                                            <v-card>
                                                <img :src="editedUrl" height="150" />
                                            </v-card>
                                        </v-flex>
                                        <v-flex xs12 class="text-xs-center text-sm-center text-md-center text-lg-center">
                                            <img :src="imageUrl" height="150" v-if="imageUrl"/>
                                            <v-text-field label="Wybierz zdjęcie" @click='pickFile' v-model='imageName' prepend-icon='attach_file'></v-text-field>
                                            <input
                                                    type="file"
                                                    style="display: none"
                                                    ref="image"
                                                    accept="image/*"
                                                    @change="onFilePicked"
                                            >
                                        </v-flex>
                                    </v-layout>
                                </v-container>
                            </v-card-text>

                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="#FFB74D" flat @click="close">Anuluj</v-btn>
                                <v-btn color="#FFB74D" flat @click="save">Zapisz</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                </v-toolbar>
                <v-data-table
                        :headers="headers"
                        :items="offers"
                        class="elevation-1"
                >
                    <template v-slot:items="props" >
                        <td @click="editItem(props.item)" class="text-xs-left">{{ props.item.name }}</td>
                        <td @click="editItem(props.item)"class="text-xs-left">{{ props.item.description }}</td>
                        <td @click="editItem(props.item)"class="text-xs-left">{{ props.item.intensity }}</td>
                        <td class="justify-center layout px-0">
                            <v-icon
                                    small
                                    @click="deleteItem(props.item)"
                            >
                                delete
                            </v-icon>
                        </td>
                    </template>
                    <template v-slot:no-data>
                        <v-btn color="#FFB74D" dark @click="initialize">Odśwież</v-btn>
                    </template>
                    <template v-slot>

                    </template>
                </v-data-table>
            </div>
        </v-app>
        <v-snackbar
                v-model="notification"
                top
                :color="type"
                :timeout="timeout"
        >
            {{ snackbarText }}
        </v-snackbar>
    </div>
</template>






<script>

    import axios from 'axios'
    import {mapMutations, mapState} from 'vuex'
    import {BASE_URL} from "../../constants";
    import CookieHandler from "../../services/CookieHandler";

    export default {

        data: () => ({
            dialog: false,
            selectintensity: [ '1','2','3','4','5'],
            imageName: '',
            imageUrl: '',
            imageFile: '',
            editedUrl: '',

            buttonColor: "WHITE",
            snackbarText: "Wystąpił błąd.",
            buttonText: "OK",
            hasButton: true,
            notification: false,
            timeout: 4000,
            type: null,

            headers: [
                { text: 'Nazwa', value: 'name' },
                { text: 'Opis', value: 'description' },
                { text: 'Intensywność', value: 'intensity' },
                { text: '', value: 'actions', sortable: false }
            ],
            offers: [],
            editedImage:'',
            editedIndex: -1,
            editedItem: {
                id: '',
                name: '',
                description: '',
                intensity: '',
                imageId: ''
            },
            defaultItem: {
                id: '',
                name: '',
                description: '',
                intensity: '',
                imageId: ''
            }


        }),
        computed: {
            ...mapState(['token']),
            formTitle () {
                return this.editedIndex === -1 ? 'Dodaj nowe zajęcia' : 'Edytuj zajęcia grupowe'

            },
            actionType()
            {
                return this.editedIndex !== -1
            }
        },

        watch: {
            dialog (val) {
                val || this.close()
            }
        },

        created () {
            this.initialize()
        },

        methods: {
            async initialize() {

                this.authCookie = CookieHandler.getAuthKeyValueFromCookies();


                axios.get(BASE_URL + '/api/training/groups/offer/all', {headers: {Authorization: this.authCookie}}).then(Response => {
                    var data = Object.values(Response.data)
                    this.offers = data;
                });
            },

            editItem (item) {
                this.editedIndex = this.offers.indexOf(item)
                this.editedItem = Object.assign({}, item)
                this.dialog = true
                this.setImage(this.editedItem.imageId)



            },

            deleteItem (item) {
                const index = this.offers.indexOf(item)
                if(confirm('Czy na pewno usunąć?') && this.offers.splice(index, 1)) {
                    axios.delete(BASE_URL + '/api/training/groups/offer/remove/' + item.id, {headers: {Authorization: this.authCookie}}).then(Response => {
                        var data = Object.values(Response.data)
                    }).catch(error => {
                        this.notification=true;
                        this.snackbarText='Wystąpił błąd podczas usuwania oferty.'
                        this.type='red'
                    });
                }
            },

            close () {
                this.dialog = false
                setTimeout(() => {
                    this.editedItem = Object.assign({}, this.defaultItem)
                    this.editedIndex = -1
                    this.editedUrl='';
                    this.imageUrl='';
                }, 300)
            },

            async save () {
                if (this.editedIndex > -1) {

                    if(this.imageUrl!=='')
                    {
                        var imageIdToDelete = this.editedItem.imageId;
                        await axios.post(BASE_URL + '/api/images', this.formData, {headers: {Authorization: this.authCookie, 'Content-Type': 'application/x-www-form-urlencoded'} }).then(Response => {
                            var data = Object.values(Response.data)
                            this.editedItem.imageId=data.join("")

                        }).catch(error => {
                            this.notification=true;
                            this.snackbarText='Wystąpił błąd podczas dodawania obrazu.'
                            this.type='red'
                        });;
                        await axios.patch(BASE_URL + '/api/training/groups/offer', this.editedItem , {headers: {Authorization: this.authCookie}}).then(Response => {
                            var data = Object.values(Response.data)
                        }).catch(error => {
                            this.notification=true;
                            this.snackbarText='Wystąpił błąd podczas aktualizowania oferty.'
                            this.type='red'
                        });

                        await axios.delete(BASE_URL + '/api/images/'+imageIdToDelete,  {headers: {Authorization: this.authCookie}}).then(Response => {
                            var data = Object.values(Response.data)
                        }).catch(error => {
                            this.notification=true;
                            this.snackbarText='Wystąpił błąd usuwania obrazu.'
                            this.type='red'
                        });

                    }
                    else {
                        await axios.patch(BASE_URL + '/api/training/groups/offer', this.editedItem , {headers: {Authorization: this.authCookie}}).then(Response => {
                            var data = Object.values(Response.data)
                        }).catch(error => {
                            this.notification=true;
                            this.snackbarText='Wystąpił błąd podczas aktualizacji wydarzenia.'
                            this.type='red'
                        });
                    }
                    Object.assign(this.offers[this.editedIndex], this.editedItem)


                } else {
                    this.offers.push(this.editedItem)
                    await axios.post(BASE_URL + '/api/images', this.formData, {headers: {Authorization: this.authCookie, 'Content-Type': 'application/x-www-form-urlencoded'} }).then(Response => {
                        var data = Object.values(Response.data)
                        this.editedItem.imageId=data.join("")

                    }).catch(error => {
                        this.notification=true;
                        this.snackbarText='Wystąpił błąd podczas tworzenia wydarzenia.'
                        this.type='red'
                    });
                        await axios.post(BASE_URL + '/api/training/groups/offer', this.editedItem , {headers: {Authorization: this.authCookie}}).then(Response => {
                            var data = Object.values(Response.data)
                        }).catch(error => {
                            this.notification=true;
                            this.snackbarText='Wystąpił błąd podczas tworzenia wydarzenia.'
                            this.type='red'
                        });

                }
                this.close()
            },


            async setImage(imageId) {

                return axios.get(BASE_URL + '/api/images/'+imageId, {headers: {Authorization: this.authCookie}, responseType: 'arraybuffer' })
            .then((response) => {
                    let image = btoa(
                        new Uint8Array(response.data)
                            .reduce((data, byte) => data + String.fromCharCode(byte), '')
                    );
                    this.editedUrl=`data:${response.headers['content-type'].toLowerCase()};base64,${image}`;
                });
            },



            pickFile () {
                this.$refs.image.click ()
            },

            onFilePicked (e) {
                const files = e.target.files
                if(files[0] !== undefined) {
                    this.imageName = files[0].name
                    if(this.imageName.lastIndexOf('.') <= 0) {
                        return
                    }
                    const fr = new FileReader ()
                    fr.readAsDataURL(files[0])
                    fr.addEventListener('load', () => {
                        this.imageUrl = fr.result
                        this.imageFile = files[0] // this is an image file that can be sent to server...
                        this.formData = new FormData();
                        this.formData.append("image",this.imageFile)
                    })
                } else {
                    this.imageName = ''
                    this.imageFile = ''
                    this.imageUrl = ''
                }
            }

        }
    }


</script>

<style>
    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        margin-top: 60px;
    }
</style>


