<template>
    <div id="about">
        <v-content>
            <v-container fluid >
                <v-layout  justify-center>
                    <v-flex xs12 sm8 md4>
                        <v-card class="elevation-2">
                            <v-toolbar dark color="#FFB74D">
                                <v-toolbar-title>Zaloguj się</v-toolbar-title>
                                <v-spacer></v-spacer>
                                <v-tooltip bottom>
                                    <span>Source</span>
                                </v-tooltip>
                            </v-toolbar>
                            <v-card-text>
                                <v-form>
                                    <v-text-field v-model="email" prepend-icon="person" label="Email" type="text"></v-text-field>
                                    <v-btn dark color="#FFB74D" @click="generateToken()">Wygeneruj Token</v-btn>
                                    <v-text-field v-model="password" prepend-icon="lock" label="Password" type="password" v-on:keyup.enter="onEnterClick(email,password,emailToken)"></v-text-field>
                                    <v-text-field v-model="emailToken" prepend-icon="lock" label="Token" type="password" v-on:keyup.enter="onEnterClick(email,password,emailToken)"></v-text-field>
                                </v-form>
                            </v-card-text>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn dark color="#FFB74D" @click="login(email,password, emailToken)">Login</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-content>
        <v-snackbar
                v-model="notification"
                top
                :color="type"
                :timeout="timeout"
        >
            {{ snackbarText }}
        </v-snackbar>
    </div>

</template>

<script>
    import axios from 'axios/index'
    import {mapMutations, mapState} from 'vuex'
    import {BASE_URL} from "../../constants";
    import CookieHandler from "../../services/CookieHandler";


    export default {
        data () {
            return { email:'',
                password:'',
                emailToken: '',


                buttonColor: "WHITE",
                snackbarText: "Wystąpił błąd.",
                buttonText: "OK",
                hasButton: true,
                notification: false,
                timeout: 4000,
                type: null,
            }
        },
        users: [],
        computed:{
            ...mapState(['token', 'profile']),
        },

        methods: {
            ...mapMutations({
                add: 'updateToken' // map `this.add()` to `this.$store.commit('increment')`
            }),



            async login(itemLogin,itemPassword, itemToken){
                this.email=itemLogin
                this.password=itemPassword
                this.token=itemToken

                var body = ' {"email": "' +this.email+'", "password": "'+this.password+'"' +', "token": "'+this.emailToken + '", "role": "ADMIN" }'
                var auth;
                await axios({
                    method: 'post',
                    url: BASE_URL + '/api/login',
                    data: body
                }).then( function (response) {
                    auth = (response.data)
				CookieHandler.setAdminCookie(auth);
                window.location.href = ''

                }).catch(error => {
                    this.notification=true;
                    this.snackbarText='Wystąpił błąd podczas logowania. Sprawdź poprawność wprowadzonych danych.'
                    this.type='red'
                    this.snackbar = true;
                });



            },
            onEnterClick: function(email,password, itemToken) {
                this.login(email,password, itemToken);
            },

            generateToken: async function () {
                await axios.post(BASE_URL + '/api/login/tokens?email='+this.email).then(Response => {
                    var data = Object.values(Response.data)
                }).catch(error => {
                    this.notification=true;
                    this.snackbarText='Wystąpił błąd podczas generowania tokenu.'
                    this.type='red'
                });

            }

        }

    }


</script>

<style>
    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        margin-top: 60px;
    }
</style>

