<template>
    <div id="app">
        <v-app id="inspire">
            <div>
                <v-toolbar flat color="white">
                    <v-toolbar-title>Karnety</v-toolbar-title>
                    <v-divider
                            class="mx-2"
                            inset
                            vertical
                    ></v-divider>
                    <v-spacer></v-spacer>
                    <v-dialog v-model="dialog" max-width="500px">
                        <template v-slot:activator="{ on }">
                            <v-text-field
                                    v-model="search"
                                    append-icon="search"
                                    label="Szukaj"
                                    single-line
                                    hide-details
                            ></v-text-field>
                            <v-btn color="#FFB74D" dark class="mb-2" v-on="on">Dodaj karnet</v-btn>
                        </template>
                        <v-card>
                            <v-card-title>
                                <span class="headline">{{ formTitle }}</span>
                            </v-card-title>

                            <v-card-text>
                                <v-container grid-list-md>
                                    <v-layout wrap>
                                        <v-flex xs12 sm6 md4>
                                            <v-text-field v-model="editedItem.name" label="Nazwa"></v-text-field>
                                        </v-flex>
                                        <v-flex  xs12 sm6 md4>
                                            <v-text-field v-model="editedItem.price" label="Cena"></v-text-field>
                                        </v-flex>
                                        <v-flex xs12 sm6 md4>
                                            <v-select v-model="editedItem.settlementType"
                                                      :items="selectSettlement"
                                                      label="Rodzaj"
                                                      :placeholder="editedItem.settlementType"
                                            ></v-select>
                                        </v-flex>
                                        <!--                    <v-flex v-if="actionType" xs12 sm6 md4>-->
                                        <!--                      <v-text-field v-model="editedItem.creationDate" label="Data utworzenia"></v-text-field>-->
                                        <!--                    </v-flex>-->
                                        <!--                    <v-flex v-if="actionType" xs12 sm6 md4>-->
                                        <!--                      <v-select v-model="editedItem.removed"-->
                                        <!--                                :items="selectboolean"-->
                                        <!--                                label="Czy usunieto?"-->
                                        <!--                                :placeholder="editedItem.removed"-->
                                        <!--                      ></v-select>-->
                                        <!--                    </v-flex>-->
                                        <!--                    <v-flex v-if="actionType" xs12 sm6 md4>-->
                                        <!--                      <v-text-field v-model="editedItem.description" label="Opis"></v-text-field>-->
                                        <!--                    </v-flex>-->
                                        <!--                    <v-flex v-if="actionType" xs12 sm6 md4>-->
                                        <!--                      <v-text-field v-model="editedItem.removereason" label="Powód usunięcia"></v-text-field>-->
                                        <!--                    </v-flex>-->
                                    </v-layout>
                                </v-container>
                            </v-card-text>

                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="#FFB74D" flat @click="close">Anuluj</v-btn>
                                <v-btn color="#FFB74D" flat @click="save">Zapisz</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                </v-toolbar>
                <v-data-table
                        :headers="headers"
                        :search="search"
                        :items="tariffs"
                        class="elevation-1"
                >
                    <template v-slot:items="props" >
                        <td @click="editItem(props.item)" class="text-xs-left">{{ props.item.name }}</td>
                        <td @click="editItem(props.item)"class="text-xs-left">{{ props.item.price }}</td>
<!--                        <td @click="editItem(props.item)"class="text-xs-left">{{ props.item.settlementType }}</td>-->
                        <td @click="editItem(props.item)" class="text-xs-left">{{ get_type(props.item.settlementType) }}</td>
                        <td class="justify-center layout px-0">
                            <v-icon
                                    small
                                    @click="deleteItem(props.item)"
                            >
                                delete
                            </v-icon>
                        </td>
                    </template>
                    <template v-slot:no-data>
                        <v-btn color="#FFB74D" @click="initialize">Odśwież</v-btn>
                    </template>
                </v-data-table>
            </div>
        </v-app>
        <v-snackbar
                v-model="notification"
                top
                :color="type"
                :timeout="timeout"
        >
            {{ snackbarText }}
        </v-snackbar>
    </div>
</template>

<script>
    import axios from 'axios'
    import {mapMutations, mapState} from 'vuex'
    import {BASE_URL} from "../../constants";
    import CookieHandler from "../../services/CookieHandler";

    export default {
        data: () => ({
            dialog: false,
            search: '',
            authCookie: '',

            buttonColor: "WHITE",
            snackbarText: "Wystąpił błąd.",
            buttonText: "OK",
            hasButton: true,
            notification: false,
            timeout: 4000,
            type: null,


            selectSettlement: [ {text: 'Miesięczny', value: 'MONTH'},
                {text: 'Kwartalny', value: 'QUARTER'},
                {text: 'Półroczny', value:'SIX_MONTH' },
                {text: 'Roczny', value: 'YEAR'},
                {text: 'Trening x1', value: 'ONE_TRAINING'},
                {text: 'Trening x4', value:'FOUR_TRAININGS' },
                {text: 'Trening x8', value:'EIGHT_TRAININGS' },
                {text: 'Trening x12', value: 'TWELVE_TRAININGS'},
                 ],
            modal: false,
            headers: [
                { text: 'Nazwa', value: 'name' },
                { text: 'Cena', value: 'price' },
                { text: 'Rodzaj', value: 'settlementType' },
            ],
            tariffs: [],
            editedIndex: -1,
            editedItem: {
                id: '',
                name: '',
                price: '',
                currency: '',
                settlementType: '',
                createdBy: '',
                creationDate: '',
                removed: ''
            },
            defaultItem: {
                id: '',
                name: '',
                price: '',
                currency: '',
                settlementType: '',
                createdBy: '',
                creationDate: '',
                removed: ''
            },

        }),

        computed: {
            ...mapState(['token']),
            formTitle () {
                return this.editedIndex === -1 ? 'Dodaj karnet' : 'Edytuj karnet'

            },
            actionType()
            {
                return this.editedIndex !== -1
            }
        },

        watch: {
            dialog (val) {
                val || this.close()
            }
        },

        created () {
            this.initialize()
        },

        methods: {
            async initialize() {

                this.authCookie = CookieHandler.getAuthKeyValueFromCookies();

                axios.get(BASE_URL + '/api/tariff/all', {headers: {Authorization: this.authCookie}}).then(Response => {
                    var data = Object.values(Response.data)
                    this.tariffs = data;
                });
            },

            editItem (item) {
                this.editedIndex = this.tariffs.indexOf(item)
                this.editedItem = Object.assign({}, item)
                this.dialog = true
            },

            deleteItem (item) {
                const index = this.tariffs.indexOf(item)
                if(confirm('Czy na pewno usunąć?') && this.tariff.splice(index, 1)) {
                    axios.delete(BASE_URL + '/api/tarrif/remove/' + item.id, {headers: {Authorization: this.authCookie}}).then(Response => {
                        var data = Object.values(Response.data)
                    }).catch(error => {
                        this.notification=true;
                        this.snackbarText='Wystąpił błąd podczas usuwania taryfy.'
                        this.type='red'
                    });
                }
            },

            get_type(type)
            {
                for(var x=0;x<=this.selectSettlement.length;x++)
                {
                    if(this.selectSettlement[x].value == type)
                    {
                        return this.selectSettlement[x].text;
                        break;
                    }
                }
            },
            close () {
                this.dialog = false
                setTimeout(() => {
                    this.editedItem = Object.assign({}, this.defaultItem),

                        this.editedIndex = -1
                }, 300)
            },

            async save () {
                if (this.editedIndex > -1) {
                    Object.assign(this.tariffs[this.editedIndex], this.editedItem)
                    this.editedItem.currency = 'PLN'
                    await axios.patch(BASE_URL + '/api/tariff', this.editedItem, {headers: {Authorization: this.authCookie}}).then(Response => {
                        var data = Object.values(Response.data)


                    }).catch(error => {
                        this.notification=true;
                        this.snackbarText='Wystąpił błąd podczas aktualizacji taryfy.'
                        this.type='red'
                    });
                } else {
                    this.tariffs.push(this.editedItem)
                    this.editedItem.currency = 'PLN'
                    await axios.post(BASE_URL + '/api/tariff', this.editedItem, {headers: {Authorization: this.authCookie}}).then(Response => {
                        var data = Object.values(Response.data)
                    }).catch(error => {
                        this.notification=true;
                        this.snackbarText='Wystąpił błąd podczas tworzenia taryfy.'
                        this.type='red'
                    });

                }
                this.close()
            },

            toDate (timeStamp){
                var currentDate = new Date(timeStamp*1000);

                var date = currentDate.getDate();
                var month = currentDate.getMonth(); //Be careful! January is 0 not 1
                var year = currentDate.getFullYear();

                var dateString = year + "-" +(month + 1) + "-" + date;
                return dateString;
            },

            toTimeStamp(stringDate){
                var date = new Date(stringDate)
                return date.getTime()/1000

            }

        }
    }
</script>

<style>
    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        margin-top: 60px;
    }
</style>



