<template>
<div id="app">
    <v-app id="inspire">
        <div>
            <v-toolbar flat color="white">
                <v-toolbar-title>Pracownicy</v-toolbar-title>
                <v-divider
                        class="mx-2"
                        inset
                        vertical
                ></v-divider>
                <v-spacer></v-spacer>
                <v-dialog v-model="dialog" max-width="500px">
                    <template v-slot:activator="{ on }">
                        <v-text-field
                                v-model="search"
                                append-icon="search"
                                label="Szukaj"
                                single-line
                                hide-details
                        ></v-text-field>
                        <v-btn color="#FFB74D" dark class="mb-2" v-on="on">Dodaj recepcjonistę</v-btn>
                    </template>
                    <v-card>
                        <v-card-title>
                            <span class="headline">{{ formTitle }}</span>
                        </v-card-title>

                        <v-card-text>
                            <v-container grid-list-md>
                                <v-layout wrap>
                                    <v-flex xs12 sm6 md4>
                                        <v-text-field v-model="editedItem.email" label="Email"></v-text-field>
                                    </v-flex>
                                    <v-flex  xs12 sm6 md4>
                                        <v-text-field v-model="editedItem.name" label="Imie"></v-text-field>
                                    </v-flex>
                                    <v-flex  xs12 sm6 md4>
                                        <v-text-field v-model="editedItem.surname" label="Nazwisko"></v-text-field>
                                    </v-flex>
                                    <v-flex xs12 sm6 md4>
                                        <v-dialog
                                                ref="dialog"
                                                v-model="dateDialog"
                                                persistent
                                                lazy
                                                full-width
                                                width="290px"
                                        >
                                            <template v-slot:activator="{ on }">
                                                <v-text-field
                                                        v-model="editedItem.birthdate"
                                                        label="Data urodzin"
                                                        prepend-icon="event"
                                                        readonly
                                                        v-on="on"
                                                ></v-text-field>
                                            </template>
                                            <v-date-picker locale="pl-pl" color="#FFB74D" v-model="editedItem.birthdate">
                                                <v-spacer></v-spacer>
                                                <v-btn flat color="#FFB74D" @click="dateDialog = false">Anuluj</v-btn>
                                                <v-btn flat color="#FFB74D" @click="$refs.dialog.save(editedItem.birthdate)">Zapisz</v-btn>
                                            </v-date-picker>
                                        </v-dialog>
                                    </v-flex>

                                    <v-flex  xs12 sm6 md4>
                                        <v-text-field v-model="editedItem.phoneNumber" label="Telefon"></v-text-field>
                                    </v-flex>
                                    <v-flex xs12 sm6 md4>
                                        <v-select v-model="editedItem.gender"
                                                  :items="selectgender"
                                                  label="Płeć"
                                                  :placeholder="editedItem.gender"
                                        ></v-select>
                                    </v-flex>
                                </v-layout>
                            </v-container>
                        </v-card-text>

                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="#FFB74D" flat @click="close">Anuluj</v-btn>
                            <v-btn color="#FFB74D" flat @click="save">Zapisz</v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
            </v-toolbar>
            <v-data-table
                    :headers="headers"
                    :search="search"
                    :items="recepcionists"
                    class="elevation-1"
            >
                <template v-slot:items="props" >
                    <td @click="editItem(props.item)" class="text-xs-left">{{ props.item.email }}</td>
                    <td @click="editItem(props.item)"class="text-xs-left">{{ props.item.name }}</td>
                    <td @click="editItem(props.item)"class="text-xs-left">{{ props.item.surname }}</td>
                    <td @click="editItem(props.item)"class="text-xs-left">{{ toDate(props.item.birthdate) }}</td>
                    <td @click="editItem(props.item)"class="text-xs-left">{{ props.item.phoneNumber }}</td>
                    <td class="justify-center layout px-0">
                        <v-icon
                                small
                                @click="deleteItem(props.item)"
                        >
                            delete
                        </v-icon>
                    </td>
                </template>
                <template v-slot:no-data>
                    <v-btn color="#FFB74D" dark @click="initialize">Odśwież</v-btn>
                </template>
            </v-data-table>
        </div>
    </v-app>
    <v-snackbar
            v-model="notification"
            top
            :color="type"
            :timeout="timeout"
    >
        {{ snackbarText }}
    </v-snackbar>
</div>
</template>

<script>
    import axios from 'axios'
    import {mapMutations, mapState} from 'vuex'
    import {BASE_URL} from "../../constants";
    import CookieHandler from "../../services/CookieHandler";

    export default {
        data: () => ({
            dialog: false,
            dateDialog: '',
            search: '',
            authCookie: '',

            buttonColor: "WHITE",
            snackbarText: "Wystąpił błąd.",
            buttonText: "OK",
            hasButton: true,
            notification: false,
            timeout: 4000,
            type: null,



            selectboolean: [{text: 'włączone', value: 'true'},
                {text: 'wyłączone', value: 'false'}],
            selectgender: [ {text: 'MĘŻCZYZNA', value: 'MAN'},
                { text: 'KOBIETA', value: 'WOMAN'}],
            headers: [
                { text: 'Email', value: 'email' },
                { text: 'Imię', value: 'name' },
                { text: 'Nazwisko', value: 'surname' },
                { text: 'Data urodzin', value: 'birthdate' },
                { text: 'Telefon', value: 'phone' },
                { text: '', value: 'actions', sortable: false }
            ],
            recepcionists: [],
            editedIndex: -1,
            editedItem: {
                id: '',
                email: '',
                name: '',
                birthdate: '',
                pesel: '',
                phoneNumber: '',
                surname: '',
                creationDate: '',
                removed: '',
                description: '',
                removereason: '',
                notifications: '',
                gender: ''
            },
            defaultItem: {
                id: '',
                email: '',
                name: '',
                surname: '',
                birthdate: '',
                pesel: '',
                phoneNumber: '',
                creationDate: '',
                removed: '',
                description: '',
                removereason: '',
                notifications: '',
                gender: ''
            }

        }),

        computed: {
            ...mapState(['token']),
            formTitle () {
                return this.editedIndex === -1 ? 'Dodaj recepcjonistę' : 'Edytuj recepcjonistę'

            },
            actionType()
            {
                return this.editedIndex === -1 ? false : true
            }
        },

        watch: {
            dialog (val) {
                val || this.close()
            }
        },

        created () {
            this.initialize()
        },

        methods: {
            async initialize() {

                this.authCookie = CookieHandler.getAuthKeyValueFromCookies();

                axios.get(BASE_URL + '/api/receptionists', {headers: {Authorization: this.authCookie}}).then(Response => {
                    var data = Object.values(Response.data)
                    this.recepcionists = data;
                });
            },

            editItem (item) {
                this.editedIndex = this.recepcionists.indexOf(item)
                this.editedItem = Object.assign({}, item)
                this.editedItem.birthdate=this.toDate(this.editedItem.birthdate)
                this.dialog = true
            },

            deleteItem (item) {
                const index = this.recepcionists.indexOf(item)
                if(confirm('Czy na pewno usunąć?') && this.recepcionists.splice(index, 1)) {


                    axios.delete(BASE_URL + '/api/receptionists/deleteById/' + item.id, {headers: {Authorization: this.authCookie}}).then(Response => {
                        var data = Object.values(Response.data)
                    }).catch(error => {
                        this.notification=true;
                        this.snackbarText='Wystąpił błąd podczas usuwania recepcjonisty.'
                        this.type='red'
                    });
                }},

            close () {
                this.dialog = false
                setTimeout(() => {
                    this.editedItem = Object.assign({}, this.defaultItem)
                    this.editedIndex = -1
                }, 300)
            },

            async save () {
                if (this.editedIndex > -1) {
                    Object.assign(this.recepcionists[this.editedIndex], this.editedItem)
                    this.editedItem.birthdate=this.toTimeStamp(this.editedItem.birthdate+"T00:00:00")
                    axios.patch(BASE_URL + '/api/receptionists', this.editedItem, {headers: {Authorization: this.authCookie}}).then(Response => {
                        var data = Object.values(Response.data)
                    }).catch(error => {
                        this.notification=true;
                        this.snackbarText='Wystąpił błąd podczas edycji recepcjonisty.'
                        this.type='red'
                    });
                } else {
                    this.recepcionists.push(this.editedItem)
                    axios.post(BASE_URL + '/api/receptionists', this.editedItem, {headers: {Authorization: this.authCookie}}).then(Response => {
                        var data = Object.values(Response.data)
                    }).catch(error => {
                        this.notification=true;
                        this.snackbarText='Wystąpił błąd podczas tworzenia nowego recepcjonisty.'
                        this.type='red'
                    });

                }
                this.close()
            },

            toDate (timeStamp){
                var currentDate = new Date(timeStamp);

                var date = currentDate.getDate();
                var month = currentDate.getMonth(); //Be careful! January is 0 not 1
                var year = currentDate.getFullYear();

                var dateString = year + "-" +(month + 1) + "-" + date;
                return dateString;
            },

            toTimeStamp(stringDate){
                var date = new Date(stringDate)
                return date.getTime()/1000

            }

        }
    }
</script>

<style>
    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        margin-top: 60px;
    }
</style>


