<template>
    <div id="app">
        <v-app id="inspire">
            <div>
                <v-toolbar flat color="white">
                    <v-toolbar-title>Historia dostaw</v-toolbar-title>
                    <v-divider
                            class="mx-2"
                            inset
                            vertical
                    ></v-divider>
                    <v-spacer></v-spacer>
                    <v-dialog v-model="dialog" max-width="500px">
                        <template v-slot:activator="{ on }">
                            <v-text-field
                                    v-model="search"
                                    append-icon="search"
                                    label="Szukaj"
                                    single-line
                                    hide-details
                            ></v-text-field>
                        </template>
                    </v-dialog>
                </v-toolbar>
                <v-data-table
                        :headers="headers"
                        :search="search"
                        :items="products"
                        class="elevation-1"
                >
                    <template v-slot:items="props" >
                        <td class="text-xs-left">{{ getProductName(props.item.productId)}}</td>
                        <td class="text-xs-left">{{ props.item.price }}</td>
                        <td class="text-xs-left">{{ props.item.totalPrice }}</td>
                        <td class="text-xs-left">{{ props.item.amount}}</td>
                        <td class="text-xs-left">{{ props.item.creationDate }}</td>
<!--                        <td class="justify-center layout px-0">-->
<!--                            <v-icon-->
<!--                                    small-->
<!--                                    @click="deleteItem(props.item)"-->
<!--                            >-->
<!--                                delete-->
<!--                            </v-icon>-->
<!--                        </td>-->
                    </template>
                    <template v-slot:no-data>
                        <v-btn color="#FFB74D" @click="initialize">Odśwież</v-btn>
                    </template>
                </v-data-table>
            </div>
        </v-app>
        <v-snackbar
                v-model="notification"
                top
                :color="type"
                :timeout="timeout"
        >
            {{ snackbarText }}
        </v-snackbar>
    </div>
</template>

<script>
    import axios from 'axios'
    import {mapMutations, mapState} from 'vuex'
    import {BASE_URL} from "../../constants";
    import CookieHandler from "../../services/CookieHandler";

    export default {
        data: () => ({
            dialog: false,
            search: '',
            modal: false,
            authCookie: '',

            buttonColor: "WHITE",
            snackbarText: "Wystąpił błąd.",
            buttonText: "OK",
            hasButton: true,
            notification: false,
            timeout: 4000,
            type: null,
            productsOrg: [],

            headers: [
                { text: 'Produkt', value: 'name' },
                { text: 'Cena', value: 'price' },
                { text: 'Cena całkowita', value: 'totalPrice' },
                { text: 'Ilość', value: 'amount' },
                { text: 'Data dostawy', value: 'creationDate' },
            ],
            products: [],
            editedIndex: -1,

        }),

        computed: {
            ...mapState(['token']),
            actionType()
            {
                return this.editedIndex !== -1
            }
        },

        watch: {
            dialog (val) {
                val || this.close()
            }
        },

        created () {
            this.initialize()
        },

        methods: {
            async initialize() {

                this.authCookie = CookieHandler.getAuthKeyValueFromCookies();

                await axios.get(BASE_URL + '/api/products', {headers: {Authorization: this.authCookie}}).then(Response => {
                    var data = Object.values(Response.data)
                    this.productsOrg = data;
                });

                axios.get(BASE_URL + '/api/productSupplies', {headers: {Authorization: this.authCookie}}).then(Response => {
                    var data = Object.values(Response.data)
                    this.products = data;
                    this.toDate(this.products);

                });
            },

            editItem (item) {
                this.editedIndex = this.clients.indexOf(item)
                this.editedItem = Object.assign({}, item)
                this.editedItem.birthdate=this.toDate(this.editedItem.birthdate)
                this.dialog = true
            },

            // deleteItem (item) {
            //     const index = this.clients.indexOf(item)
            //     if(confirm('Czy na pewno usunąć?') && this.clients.splice(index, 1)) {
            //         axios.delete(BASE_URL + '/api/clients/remove/' + item.id, {headers: {Authorization: this.authCookie}}).then(Response => {
            //             var data = Object.values(Response.data)
            //         }).catch(error => {
            //             this.notification=true;
            //             this.snackbarText='Wystąpił błąd podczas usuwania klienta.'
            //             this.type='red'
            //         });
            //     }
            // },

            close () {
                this.dialog = false
                setTimeout(() => {
                    this.editedItem = Object.assign({}, this.defaultItem),

                        this.editedIndex = -1
                }, 300)
            },

            getProductName(id){
                for(var x=0;x<this.productsOrg.length;x++){
                    if(id === this.productsOrg[x].id){
                        return this.productsOrg[x].name
                    }
                }
            },


            toDate (items){
                for(var x=0;x<items.length;x++){
                    var currentDate = new Date(items[x].creationDate*1000);

                    var date = currentDate.getDate();
                    var month = currentDate.getMonth(); //Be careful! January is 0 not 1
                    var year = currentDate.getFullYear();

                    var dateString = year + "-" +(month + 1) + "-" + date;
                    this.products[x].creationDate = dateString;
                }

            },

            toTimeStamp(stringDate){
                var date = new Date(stringDate)
                return date.getTime()/1000

            }

        }
    }
</script>

<style>
    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        margin-top: 60px;
    }
</style>



