<template>
    <div id="app">
        <v-app id="inspire">
            <div>
                <v-toolbar flat color="white">
                    <v-toolbar-title>Sprzedaż produktów</v-toolbar-title>
                    <v-divider
                            class="mx-2"
                            inset
                            vertical
                    ></v-divider>
                    <v-spacer></v-spacer>
                    <v-dialog v-model="dialog" max-width="500px">
                        <template v-slot:activator="{ on }">
                            <v-text-field
                                    v-model="search"
                                    append-icon="search"
                                    label="Szukaj"
                                    single-line
                                    hide-details
                            ></v-text-field>
                            <v-btn color="orange" dark class="mb-2" v-on="on">Dodaj produkt</v-btn>
                            <v-btn color="orange" dark class="mb-2" @click="sale">Zapisz sprzedaż</v-btn>
                        </template>
                        <v-card>
                            <v-card-title>
                                <span class="headline">{{ formTitle }}</span>
                            </v-card-title>

                            <v-card-text>
                                <v-container grid-list-md>
                                    <v-layout wrap>
                                        <v-flex xs12 sm6 md4>
                                            <v-text-field v-model="editedItem.name" label="Nazwa"></v-text-field>
                                        </v-flex>
                                        <v-flex  xs12 sm6 md4>
                                            <v-text-field v-model="editedItem.price" label="Cena"></v-text-field>
                                        </v-flex>
                                        <v-flex xs12 sm6 md4>
                                            <v-dialog
                                                    ref="dialog"
                                                    v-model="modal"
                                                    persistent
                                                    lazy
                                                    full-width
                                                    width="290px"
                                            >
                                            </v-dialog>
                                        </v-flex>
                                    </v-layout>
                                </v-container>
                            </v-card-text>

                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="blue darken-1" flat @click="close">Anuluj</v-btn>
                                <v-btn color="blue darken-1" flat @click="save">Zapisz</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                </v-toolbar>
                <v-data-table
                        :headers="headers"
                        :key="forcedKey"
                        :search="search"
                        :items="products"
                        class="elevation-1"
                >
                    <template v-slot:items="props" >
                        <td @click="editItem(props.item)" class="text-xs-left">{{ props.item.name }}</td>
                        <td @click="editItem(props.item)"class="text-xs-left">{{ props.item.price }}</td>
                        <td @click="editItem(props.item)"class="text-xs-left">{{ props.item.amount }}</td>
                       <td>
                            <v-text-field
                            label="Ilość"
                            v-model="props.item.saleAmount"
                            ></v-text-field></td>
                    </template>
                    <template v-slot:no-data>
                        <v-btn color="#FFB74D" @click="initialize">Odśwież</v-btn>
                    </template>
                </v-data-table>
            </div>
        </v-app>
        <v-snackbar
                v-model="notification"
                top
                :color="type"
                :timeout="timeout"
        >
            {{ snackbarText }}
        </v-snackbar>
    </div>
</template>

<script>
    import axios from 'axios'
    import {mapMutations, mapState} from 'vuex'
    import {BASE_URL} from "../../constants";
    import CookieHandler from "../../services/CookieHandler";

    export default {
        data: () => ({
            dialog: false,
            search: '',
            modal: false,
            authCookie: '',
            forcedKey: 0,

            buttonColor: "WHITE",
            snackbarText: "Wystąpił błąd.",
            buttonText: "OK",
            hasButton: true,
            notification: false,
            timeout: 4000,
            type: null,

            headers: [
                { text: 'Produkt', value: 'nazwa' },
                { text: 'Cena', value: 'cena' },
                { text: 'Ilość', value: 'amount' },
                { text: 'Sprzedaż', value: 'saleAmount' },,
                { text: '', value: 'actions', sortable: false }
            ],
            products: [],
            editedIndex: -1,
            editedItem: {
                id: '',
                name: '',
                price: '',
                amount: '',
                saleAmount: ''
            },
            defaultItem: {
                id: '',
                name: '',
                price: '',
                amount: '',
                saleAmount: ''
            },
            saleProduct: {
                productId: '',
                amount: '',

            }

        }),

        computed: {
            ...mapState(['token']),
            formTitle () {
                return this.editedIndex === -1 ? 'Dodaj produkt' : 'Edytuj produkt'

            },
            actionType()
            {
                return this.editedIndex !== -1
            }
        },

        watch: {
            dialog (val) {
                val || this.close()
            }
        },

        created () {
            this.initialize()
        },

        methods: {
            async initialize() {

                this.authCookie = CookieHandler.getAuthKeyValueFromCookies();

                axios.get(BASE_URL + '/api/products', {headers: {Authorization: this.authCookie}}).then(Response => {
                    var data = Object.values(Response.data)
                    this.products = data;
                    for(var x =0; x<this.products.length; x++){
                        this.products[x].selected = false;
                        this.products[x].saleAmount = 0;
                    }
                });
            },

            editItem (item) {
                this.editedIndex = this.products.indexOf(item)
                this.editedItem = Object.assign({}, item)
                this.editedItem.birthdate=this.toDate(this.editedItem.birthdate)
                this.dialog = true
            },

            deleteItem (item) {
                const index = this.products.indexOf(item)
                if(confirm('Czy na pewno usunąć?') && this.products.splice(index, 1)) {
                    axios.delete(BASE_URL + '/api/products/remove/' + item.id, {headers: {Authorization: this.authCookie}}).then(Response => {
                        var data = Object.values(Response.data)
                    }).catch(error => {
                        this.notification=true;
                        this.snackbarText='Wystąpił błąd podczas usuwania.'
                        this.type='red'
                    });
                }
            },

            async sale() {
                var flag = true;
                for (let x = 0; x < this.products.length; x++) {
                    if (this.products[x].saleAmount>0) {
                        if(this.products[x].amount>this.products[x].saleAmount){
                            var saleProduct = new Object();
                            saleProduct.productId = this.products[x].id;
                            saleProduct.amount = this.products[x].saleAmount
                            await axios.post(BASE_URL + '/api/productSales', saleProduct, {headers: {Authorization: this.authCookie}}).then(Response => {
                                var data = Object.values(Response.data)
                                this.products[x].amount = this.products[x].amount - this.products[x].saleAmount;
                                this.products[x].saleAmount = '0';
                            }).catch(error => {
                                flag = false;
                                this.notification = true;
                                this.snackbarText = 'Wystąpił błąd podczas dodawania nowej sprzedaży.'
                                this.type = 'red'
                            });
                        }
                       else {
                            flag = false;
                            this.notification = true;
                            this.snackbarText = 'Sprawdź poprawność wprowadzonej sprzedaży'
                            this.type = 'warning'
                        }
                       if(flag==true){
                           this.notification = true;
                           this.snackbarText = 'Zapisano sprzedaż'
                           this.type = 'success'
                       }
                        this.forcedKey = this.forcedKey+1;
                    }
                }
            },

            close () {
                this.dialog = false
                setTimeout(() => {
                    this.editedItem = Object.assign({}, this.defaultItem),

                        this.editedIndex = -1
                }, 300)
            },

            async save () {
                if (this.editedIndex > -1) {
                    Object.assign(this.products[this.editedIndex], this.editedItem)
                    this.editedItem.birthdate=this.toTimeStamp(this.editedItem.birthdate+"T00:00:00")
                    Object.assign(this.products[this.editedIndex], this.editedItem)
                    await axios.patch(BASE_URL + '/api/products', this.editedItem, {headers: {Authorization: this.authCookie}}).then(Response => {
                        var data = Object.values(Response.data)
                    }).catch(error => {
                        this.notification=true;
                        this.snackbarText='Wystąpił błąd podczas edycji produktu.'
                        this.type='red'
                    });
                } else {
                    this.products.push(this.editedItem)
                    this.editedItem.birthdate=this.toTimeStamp(this.editedItem.birthdate+"T00:00:00")
                    await axios.post(BASE_URL + '/api/products', this.editedItem, {headers: {Authorization: this.authCookie}}).then(Response => {
                        var data = Object.values(Response.data)
                    }).catch(error => {
                        this.notification=true;
                        this.snackbarText='Wystąpił błąd podczas dodawania nowego produktu.'
                        this.type='red'
                    });

                }
                this.close()
            },

            toDate (timeStamp){
                var currentDate = new Date(timeStamp*1000);

                var date = currentDate.getDate();
                var month = currentDate.getMonth(); //Be careful! January is 0 not 1
                var year = currentDate.getFullYear();

                var dateString = year + "-" +(month + 1) + "-" + date;
                return dateString;
            },

            toTimeStamp(stringDate){
                var date = new Date(stringDate)
                return date.getTime()/1000

            }

        }
    }
</script>

<style>
    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        margin-top: 60px;
    }
</style>



