<template>
    <div id="app">
        <v-app id="inspire">
            <v-tabs color="#FFB74D" class="tabs" dark centered grow height="60px" v-model="activeTab">
                <v-tab v-for="tab in tabs" :key="tab.id" :to="tab.route" exact>{{ tab.name }}</v-tab>
            </v-tabs>
            <router-view></router-view>
        </v-app>
    </div>
</template>

<script>
    import axios from 'axios'
    import {mapMutations, mapState} from 'vuex'
    import {BASE_URL} from "../../constants";
    import CookieHandler from "../../services/CookieHandler";

    export default {
        props: ["id"],
        data() {
            return {
                activeTab: `/saleManager/${this.id}`,
                tabs: [
                    { id: 1, name: "Sprzedaż", route: `/saleManager/${this.id}/sale` },
                    { id: 2, name: "Historia sprzedaży", route: `/saleManager/${this.id}/saleHistory` },
                    { id: 3, name: "Historia dostaw", route: `/saleManager/${this.id}/supplyHistory` },
                    { id: 4, name: "Dostawa", route: `/saleManager/${this.id}/supply` }
                ]
            };
        },


        computed: {
            ...mapState(['token']),
            formTitle () {
                return this.editedIndex === -1 ? 'Dodaj klienta' : 'Edytuj dane'

            },
            actionType()
            {
                return this.editedIndex !== -1
            }
        },

        watch: {
            dialog (val) {
                val || this.close()
            }
        },

        created () {
            this.initialize()
        },

        methods: {
            async initialize() {

                this.authCookie = CookieHandler.getAuthKeyValueFromCookies();

                axios.get(BASE_URL + '/api/clients', {headers: {Authorization: this.authCookie}}).then(Response => {
                    var data = Object.values(Response.data)
                    this.clients = data;
                });
            },

            editItem (item) {
                this.editedIndex = this.clients.indexOf(item)
                this.editedItem = Object.assign({}, item)
                this.editedItem.birthdate=this.toDate(this.editedItem.birthdate)
                this.dialog = true
            },

            deleteItem (item) {
                const index = this.clients.indexOf(item)
                if(confirm('Czy na pewno usunąć?') && this.clients.splice(index, 1)) {
                    axios.delete(BASE_URL + '/api/clients/remove/' + item.id, {headers: {Authorization: this.authCookie}}).then(Response => {
                        var data = Object.values(Response.data)
                    }).catch(error => {
                        this.notification=true;
                        this.snackbarText='Wystąpił błąd podczas usuwania klienta.'
                        this.type='red'
                    });
                }
            },

            close () {
                this.dialog = false
                setTimeout(() => {
                    this.editedItem = Object.assign({}, this.defaultItem),

                        this.editedIndex = -1
                }, 300)
            },

            async save () {
                if (this.editedIndex > -1) {
                    Object.assign(this.clients[this.editedIndex], this.editedItem)
                    this.editedItem.birthdate=this.toTimeStamp(this.editedItem.birthdate+"T00:00:00")
                    Object.assign(this.clients[this.editedIndex], this.editedItem)
                    await axios.patch(BASE_URL + '/api/clients', this.editedItem, {headers: {Authorization: this.authCookie}}).then(Response => {
                        var data = Object.values(Response.data)
                    }).catch(error => {
                        this.notification=true;
                        this.snackbarText='Wystąpił błąd podczas edycji klienta.'
                        this.type='red'
                    });
                } else {
                    this.clients.push(this.editedItem)
                    this.editedItem.birthdate=this.toTimeStamp(this.editedItem.birthdate+"T00:00:00")
                    await axios.post(BASE_URL + '/api/clients', this.editedItem, {headers: {Authorization: this.authCookie}}).then(Response => {
                        var data = Object.values(Response.data)
                    }).catch(error => {
                        this.notification=true;
                        this.snackbarText='Wystąpił błąd podczas dodawania nowego klienta.'
                        this.type='red'
                    });

                }
                this.close()
            },

            toDate (timeStamp){
                var currentDate = new Date(timeStamp*1000);

                var date = currentDate.getDate();
                var month = currentDate.getMonth(); //Be careful! January is 0 not 1
                var year = currentDate.getFullYear();

                var dateString = year + "-" +(month + 1) + "-" + date;
                return dateString;
            },

            toTimeStamp(stringDate){
                var date = new Date(stringDate)
                return date.getTime()/1000

            }

        }
    }
</script>

<style>
    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        margin-top: 60px;
    }
</style>




