<template>
    <div id="app">
        <v-app id="inspire">
            <div>
                <v-toolbar flat color="white">
                    <v-toolbar-title>Produkty</v-toolbar-title>
                    <v-divider
                            class="mx-2"
                            inset
                            vertical
                    ></v-divider>
                    <v-spacer></v-spacer>
                            <v-text-field
                                    v-model="search"
                                    append-icon="search"
                                    label="Szukaj"
                                    single-line
                                    hide-details
                            ></v-text-field>
                            <v-btn color="orange" dark class="mb-2" @click="supply">Zapisz dostawę</v-btn>
                </v-toolbar>
                <v-data-table
                        :headers="headers"
                        :search="search"
                        :items="products"
                        class="elevation-1"
                >
                    <template v-slot:items="props" >
                        <td @click="editItem(props.item)" class="text-xs-left">{{ props.item.name }}</td>
                        <td><v-text-field
                                label="Ilość"
                                v-model="props.item.saleAmount"
                        ></v-text-field></td>
                        <td><v-text-field
                                label="Cena"
                                v-model="props.item.supplyPrice"
                        ></v-text-field></td>

<!--                        <td class="justify-center layout px-0">-->
<!--                            <v-btn-->
<!--                                    small-->
<!--                                    color="orange"-->
<!--                                    @click="deleteItem(props.item)"-->
<!--                            >-->
<!--                                Odnotuj sprzedaż-->
<!--                            </v-btn>-->

<!--                        </td>-->
                    </template>
                    <template v-slot:no-data>
                        <v-btn color="orange" @click="initialize">Odśwież</v-btn>
                    </template>
                </v-data-table>
            </div>
        </v-app>
        <v-snackbar
                v-model="notification"
                top
                :color="type"
                :timeout="timeout"
        >
            {{ snackbarText }}
        </v-snackbar>
    </div>
</template>

<script>
    import axios from 'axios'
    import {mapMutations, mapState} from 'vuex'
    import {BASE_URL} from "../../constants";
    import CookieHandler from "../../services/CookieHandler";

    export default {
        data: () => ({
            dialog: false,
            search: '',
            modal: false,
            authCookie: '',


            buttonColor: "WHITE",
            snackbarText: "Wystąpił błąd.",
            buttonText: "OK",
            hasButton: true,
            notification: false,
            timeout: 4000,
            type: null,
            selected: [],
            createdSupply: {
                price: '',
                amount: '',
                productId: ''
            },


            selectboolean: [{text: 'włączone', value: 'true'},
                {text: 'wyłączone', value: 'false'}],
            selectgender: [ {text: 'MĘŻCZYZNA', value: 'MAN'},
                { text: 'KOBIETA', value: 'WOMAN'}],
            headers: [
                { text: 'Produkt', value: 'produkt' },
                { text: 'Ilość', value: 'ilość' },
                { text: 'Cena', value: 'cena' },
                { text: '', value: 'actions', sortable: false }
            ],
            products: [{
                id: '',
                name: '',
                price: '',
                supplyPrice: '',
                amount: '',
                selected: false
            }],
            editedIndex: -1,
            editedItem: {
                id: '',
                name: '',
                price: '',
                amount: '',
                selected: false
            },
            defaultItem: {
                id: '',
                name: '',
                price: '',
                amount: '',
                selected: false
            }

        }),

        computed: {
            ...mapState(['token']),
            formTitle () {
                return this.editedIndex === -1 ? 'Dodaj produkt' : 'Edytuj produkt'

            },
            actionType()
            {
                return this.editedIndex !== -1
            }
        },

        watch: {
            dialog (val) {
                val || this.close()
            }
        },

        created () {
            this.initialize()
        },

        methods: {
            async initialize() {

                this.authCookie = CookieHandler.getAuthKeyValueFromCookies();

                axios.get(BASE_URL + '/api/products', {headers: {Authorization: this.authCookie}}).then(Response => {
                    var data = Object.values(Response.data)
                    this.products = data;
                    for(var x =0; x<this.products.length; x++){
                        this.products[x].selected = false;
                        this.products[x].saleAmount = 0;
                    }
                });
            },

            editItem (item) {
                this.editedIndex = this.clients.indexOf(item)
                this.editedItem = Object.assign({}, item)
                this.editedItem.birthdate=this.toDate(this.editedItem.birthdate)
                this.dialog = true
            },

            // deleteItem (item) {
            //     const index = this.clients.indexOf(item)
            //     if(confirm('Czy na pewno usunąć?') && this.clients.splice(index, 1)) {
            //         axios.delete(BASE_URL + '/api/clients/remove/' + item.id, {headers: {Authorization: this.authCookie}}).then(Response => {
            //             var data = Object.values(Response.data)
            //         }).catch(error => {
            //             this.notification=true;
            //             this.snackbarText='Wystąpił błąd podczas usuwania klienta.'
            //             this.type='red'
            //         });
            //     }
            // },

            close () {
                this.dialog = false
                setTimeout(() => {
                    this.editedItem = Object.assign({}, this.defaultItem),

                        this.editedIndex = -1
                }, 300)
            },

            async save () {

            },

            async supply(item){

                var flag = true;
                for(var x=0; x<this.products.length; x++){
                    if(this.products[x].saleAmount>0){
                        this.products[x].productId = this.products[x].id;
                        this.products[x].amount = this.products[x].saleAmount
                        this.createdSupply.price = this.products[x].supplyPrice
                        this.createdSupply.amount = this.products[x].saleAmount
                        this.createdSupply.productId = this.products[x].id
                        await axios.post(BASE_URL + '/api/productSupplies', this.createdSupply, {headers: {Authorization: this.authCookie}}).then(Response => {
                            var data = Object.values(Response.data)
                            this.products[x].amount =0;
                            this.products[x].saleAmount=0;
                            this.products[x].supplyPrice =0;
                    }).catch(error => {
                        flag = false;
                        this.notification=true;
                            this.snackbarText='Wystąpił błąd podczas dodawania nowej dostawy.'
                            this.type='red'
                        });
                }
                 if(flag){
                     this.notification=true;
                     this.snackbarText='Dodano produkty.'
                     this.type='green'
                 }


            }},

            toDate (timeStamp){
                var currentDate = new Date(timeStamp*1000);

                var date = currentDate.getDate();
                var month = currentDate.getMonth(); //Be careful! January is 0 not 1
                var year = currentDate.getFullYear();

                var dateString = year + "-" +(month + 1) + "-" + date;
                return dateString;
            },

            toTimeStamp(stringDate){
                var date = new Date(stringDate)
                return date.getTime()/1000

            }

        }
    }
</script>

<style>
    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        margin-top: 60px;
    }
</style>



