<template>
  <v-app id="inspire">

    <div>
      <v-dialog v-model="dialogPasses" max-width="400px" v-on:keyup.enter="closeDialogPass()">
        <v-list two-line>
          <v-card-text class="vcard">Aktywne karnety</v-card-text>
          <template v-for="(item, index) in activePasses">
            <v-flex v-xs12 sm6 md12>
              <v-container grid-list-md>
                <v-layout wrap>
                  <v-list-tile-content>
                    <v-list-tile-title >{{ item.tariffName}}</v-list-tile-title>
                    <v-card-text v-if="(item.entriesLeft>0)" >{{'Pozostała liczba wejść: ' + item.entriesLeft}}</v-card-text>
                    <v-btn @click="decreaseEntries(item.id)" color="green"
                           v-if="(item.entriesLeft>0)" >Wykorzystaj wejście</v-btn>
                    <v-card-text >{{toDate(item.activationDate, true)}}</v-card-text>
                    <v-card-text >{{toDate(item.expirationDate, false)}}</v-card-text>
                  </v-list-tile-content>
                </v-layout>
              </v-container>
            </v-flex>

          </template>
        </v-list>
      </v-dialog>

      <v-navigation-drawer
              absolute
              temporary
              class="grey lighten-4"
              app
              v-model="drawer"
              v-if="shouldDisplay"
      >

        <v-toolbar flat class="transparent">
          <v-list class="pa-0">
            <v-list-tile v-for="item in profile"
                         :key="item.text"
                         :to="item.route">
              <v-list-tile-content >
                <v-list-tile-title >John Leider</v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
          </v-list>
        </v-toolbar>
        <v-list-tile>
          <v-list-tile-title>Panel zarządzania</v-list-tile-title>
        </v-list-tile>



        <v-list
                dense
                class="grey lighten-4"
        >
          <template v-for="(item, i) in items">
            <v-layout
                    row
                    v-if="item.heading"
                    align-center
                    :key="i"
            >
            </v-layout>
            <v-divider
                    dark
                    v-else-if="item.divider"
                    class="my-3"
                    :key="i"
            ></v-divider>
            <v-list-tile
                    :key="i"
                    v-else
                    @click=""
                    :to="item.route"
            >
              <v-list-tile-action>
                <v-icon>{{ item.icon }}</v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title class="grey--text">
                  {{ item.text }}
                </v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
          </template>
        </v-list>
      </v-navigation-drawer>
      <v-toolbar
              color="rgb(255, 255, 255, 0.8)"
              height="85px"
              fixed app
              scroll-off-screen
              scroll-target="#scrolling-techniques"

      >
        <v-toolbar-side-icon v-if="shouldDisplay" @click.native="drawer = !drawer"><v-icon>menu</v-icon></v-toolbar-side-icon>

        <v-tabs

                color="transparent"
                height="85px"
                width="80px"
                left
        >
          <v-tabs-slider color="transparent"></v-tabs-slider>
          <v-tab to="/">
            <img
                    :src="require('@/assets/logo3.png')"
                    height=""
            ></img>
          </v-tab>
          <v-tab>
              <v-autocomplete
                      v-if="shouldDisplayForWorkers"
                      v-model="model"
                      :items="clientFullNames"
                      :loading="isLoading"
                      :search-input.sync="search"
                      v-on:keyup.enter="checkPass(search)"
                      clearable
                      hide-details
                      hide-selected
                      item-text="name"
                      item-value="name"
                      label="Sprawdź karnet"
                      solo
              ></v-autocomplete>
<!--            <v-autocomplete-->
<!--                    v-on:keyup.enter="checkPass(inputPass)"-->
<!--                    :loading="loading"-->
<!--                    :items="items"-->
<!--                    search-input.sync="search"-->
<!--                    v-model="select"-->
<!--                    cache-items-->
<!--                    class="mx-3"-->
<!--                    flat-->
<!--                    hide-no-data-->
<!--                    hide-details-->
<!--                    label="Sprawdź karnet"-->
<!--                    @click.="getClients()"-->
<!--                    solo-inverted-->
<!--            ></v-autocomplete>-->
          </v-tab>
        </v-tabs>

        <v-spacer></v-spacer>
        <v-toolbar-items class="hover-show-color1" >
          <v-btn flat
                 large
                 slot="activator"
                 active-class="button__item--active active1"
                 class=" btn--content btn--hidden : !button "
                 v-for="item in oferta"
                 :key="item.text"
                 :to="item.route"
          >
            {{ item.text }}
          </v-btn>
        </v-toolbar-items>
        <v-toolbar-items class="hover-show-color2" >
          <v-btn  flat
                  large
                  slot="activator"
                  active-class="tabs__item--active active2"
                  class="btn--hidden : !button"
                  v-for="item in cennik"
                  :key="item.text"
                  :to="item.route"
          >
            {{ item.text }}
          </v-btn>
        </v-toolbar-items>
        <v-toolbar-items  class="hover-show-color3">
          <v-btn flat
                 large
                 slot="activator"
                 active-class="tabs__item--active active3"
                 class="btn--hidden : !button"
                 v-for="item in grafik"
                 :key="item.text"
                 :to="item.route"
          >
            {{ item.text }}
          </v-btn>
        </v-toolbar-items>
        <v-toolbar-items  class="hover-show-color4">
          <v-btn flat
                 large
                 slot="activator"
                 active-class="tabs__item--active active4"
                 class="btn--hidden : !button"
                 v-for="item in trenerzy"
                 :key="item.text"
                 :to="item.route"
          >
            {{ item.text }}
          </v-btn>
        </v-toolbar-items>
        <v-toolbar-items class="hover-show-color1" >
          <v-btn
                  flat
                  slot="activator"
                  active-class="tabs__item--active active1"
                  class="btn--hidden : !button"
                  v-if="!shouldDisplay"  v-for="item2 in login"
                  :key="item2.text"
                  :to="item2.route"
          >
            {{ item2.text }}
          </v-btn>

          <v-btn flat
                 slot="activator"
                 active-class="tabs__item--active active1"
                 class="btn--hidden : !button "
                 v-else v-for="item4 in logout"
                 :key="item4.text"
                 :to="item4.route"
                 @click="click"
          >
            {{ item4.text }}
          </v-btn>
        </v-toolbar-items>
      </v-toolbar>

      <v-content>
        <v-container fluid grid-list-md fill-height min>

          <v-flex md38>
            <router-view >
           </router-view>
          </v-flex>
        </v-container>
      </v-content>
      <v-footer
              color="rgb(0, 172, 193, 0.0)"
              dark
              absolute
      >
        <v-card
                color="rgb(66,66,66, 0.8)"
                class="flex"
                flat
                tile
                dark

        >
          <v-card-actions class=" left" color="grey darken-3">
            <v-btn flat >
              Kontakt
            </v-btn>
            <v-btn flat v-for="item in regulation"
                   :key="item.text"
                   :to="item.route">
              {{item.text}}
            </v-btn>

          </v-card-actions>
          <v-card-actions class="right" color="grey darken-3">

            <v-btn small fab flat color="rgb(66,66,66, 0.8)" icon  >
              <v-icon color="white" size="26px">fab fa-linkedin</v-icon>
            </v-btn>
            <v-btn small fab flat color="rgb(66,66,66, 0.8)" icon  >
              <v-icon color="white" size="26px">fab fa-instagram</v-icon>
            </v-btn>
            <v-btn small fab flat color="rgb(66,66,66, 0.8)" icon  >
              <v-icon color="white" size="26px">fab fa-facebook</v-icon>
            </v-btn>
          </v-card-actions>


        </v-card>

      </v-footer>
    </div>

  </v-app>

</template>


<script>
  import {mapMutations, mapState} from "vuex";
  import AuthorizationManagerService from "@/services/AuthorizationManagerService";
  import VueSuggestion from 'vue-suggestion';
  import axios from 'axios'
  import {APP_TYPE, BASE_URL, SALE_MODULE, CSV_MODULE} from "./constants";
  import CookieHandler from "./services/CookieHandler";
  export default {
    data: () => ({
      drawer: null,
      tab: null,
      query: [],
      inputPass:'',
      clientFullNames: [],
      authCookie:'',
      dialogPasses: false,
      flag: true,
      activePasses: [],
      passes: {
        id: '',
        tariffName: '',
        entriesLeft: '',
        activationDate: '',
        expirationDate: '',
        paid: '',
      },
      loading: false,
        items2: [],
      select: null,
        searchItems: [],
        model: null,
        search: null,
        tab: null,
        isLoading: false,
      clients: [],
      gradient: 'to top right, rgba(63,81,181, .7), rgba(25,32,72, .7)',
      oferta: [
        { text: 'oferta', route: '/oferta' }
      ],
      cennik: [
        { text: 'cennik', route: '/cennik'}
      ],
      grafik: [
        { text: 'grafik', route: '/grafik'}
      ],
      trenerzy: [
        { text: 'trenerzy', route: '/trainers'}
      ],
      login: [
        { text: 'zaloguj się', route: '/login'}
      ],
      logout: [
        { text: 'Wyloguj się', route: '/'}
      ],
      regulation: [
        { text: 'Regulamin', route: '/regulamin'}
      ],
      items: [
      ],
      adminItems: [
        { icon: 'group', text: 'Klienci', route: '/klienci' },
        { divider: true },
        { icon: 'person', text: 'Pracownicy', route:'/pracownicy' },
        { divider: true },
        { icon: 'person_outline', text: 'Trenerzy', route: '/trenerzy' },
        { divider: true },
        { icon: 'dashboard', text: 'Oferta grupowa', route: '/ofertagrupowa' },
        { divider: true },
        { icon: 'dashboard', text: 'Oferta indywidualna', route: '/ofertaindywidualna' },
        { divider: true },
        { icon: 'fitness_center', text: 'Treningi grupowe', route: '/treningigrupowe' },
        { divider: true },
        { icon: 'card_membership', text: 'Karnety', route: '/karnety' },
        {divider: true },
        { icon: 'event', text: 'Ogłoszenia', route: '/eventsmanager' },
      ],
      clientItems: [
        { icon: 'edit', text: 'Edytuj dane', route: '/edit' },
        { divider: true },
        { icon: 'card_membership', text: 'Moje karnety', route:'/passes' },
        { divider: true },
        { icon: 'assignment', text: 'Nadchodzące zajęcia', route:'/trainings' }
      ],
      receptionistItems: [
        { icon: 'edit', text: 'Edytuj dane', route: '/edit' },
        { divider: true },
        { icon: 'group', text: 'Klienci', route: '/klienci' },
        { divider: true },
        { icon: 'fitness_center', text: 'Treningi grupowe', route: '/treningigrupowe' },
        { divider: true },
        { icon: 'accessibility_new', text: 'Treningi indywidualne', route: '/indywidualne' },
        { divider: true },
        { icon: 'fitness_center', text: 'Zarzadzaj listą członków zajęć', route: '/treningilisty' },
        { divider: true },
        { icon: 'book', text: 'Historia sprzedaży', route: '/karnety' },
        { divider: true },
        { icon: 'money', text: 'Sprzedaj karnet', route: '/sprzedaz' }

      ],
        trainerItems: [
          { icon: 'edit', text: 'Edytuj dane', route: '/edit' },
          { divider: true },
          { icon: 'accessibility_new', text: 'Treningi indywidualne', route: '/indywidualne' },
          { divider: true },
          { icon: 'assignment', text: 'Nadchodzące zajęcia', route:'/trainings' }
        ],
      props: {
        source: String
      }
    }),
    computed:{
      ...mapState(['token','authorization', 'profile']),
      shouldDisplay: function () {
        this.authCookie = CookieHandler.getAuthKeyValueFromCookies();

        if(CookieHandler.checkIfAnyIsAuthorized())
        {
          if (APP_TYPE === 'CLIENT') {
            this.items = this.clientItems;

          }
          if (APP_TYPE === 'ADMIN') {
            this.items = this.adminItems;

          }
          if (APP_TYPE === 'RECEPTIONIST') {
            this.items = this.receptionistItems;

          }
          if (APP_TYPE === 'TRAINER') {
            this.items = this.trainerItems;

          }
          return true;
        }
        else
          return false;
      },

      shouldDisplayForWorkers: function () {

          if (APP_TYPE === 'ADMIN' && CookieHandler.checkIfAdminIsAuthorized()) {
            return true;
          }
          else if (APP_TYPE === 'RECEPTIONIST' && CookieHandler.checkIfReceptionistIsAuthorized()) {
            return true;
          }
          else if (APP_TYPE === 'TRAINER' && CookieHandler.checkIfTrainerIsAuthorized()) {
            return true;
          }
          else
            return false;

      }

    },

    watch: {
      dialog (val) {
        val || this.close()
      },
        model (val) {
            if (val != null) this.tab = 0
            else this.tab = null
        },
        search (val) {
            // Items have already been loaded
            if (this.clients.length > 0) return

            this.isLoading = true

            // Lazily load input items
            axios.get(BASE_URL + '/api/clients', {headers: {Authorization: this.authCookie}}).then(Response => {
                var data = Object.values(Response.data)
                this.clients = data;
                for(var x=0;x<this.clients.length;x++){
                  this.clientFullNames.push(this.clients[x].name + ' ' + this.clients[x].surname)
                }
            })
                .catch(err => {
                    console.log(err)
                })
                .finally(() => (this.isLoading = false))
        },

    },
    created () {
      this.initialize()
    },
    methods: {
      ...mapMutations({
        add: 'updateToken' // map `this.add()` to `this.$store.commit('increment')`
      }),
      async initialize() {
        if(SALE_MODULE===true){
          this.receptionistItems.push({divider: true })
          this.receptionistItems.push({ icon: 'event', text: 'Sale manager', route: '/saleManager/1/sale' });
          this.adminItems.push({divider: true });
          this.adminItems.push({ icon: 'event', text: 'Sale manager', route: '/saleManager/1/sale' });
        }
        if(CSV_MODULE===true){
          this.adminItems.push({divider: true })
          this.adminItems.push({ icon: 'event', text: 'Raporty csv', route: '/csvGenerator' })

        }
      },
    click()
    {
        CookieHandler.clearAuthLogout();

        window.location.href = ''
      },
      triggerRecompute()
      {
        this.shouldDisplay();
      },
      isOnLoginPage() {
        return this.$route.path === '/login'
      },
      toDate(timeStamp, flag) {
        if(timeStamp==null)
          return "";
        var currentDate = new Date(timeStamp);

        var date = currentDate.getDate();
        var month = currentDate.getMonth(); //Be careful! January is 0 not 1
        var year = currentDate.getFullYear();

        var dateString = year + "-" + (month + 1) + "-" + date;
        if(flag===true){
          return 'Aktywny od: '+ dateString;
        }
        else{
          return 'Aktywny do: '+ dateString;
        }

      },
      async checkPass(input)
      {	
		 this.activePasses = [];
        for(var x=0;x<this.clients.length;x++){
          if((this.clients[x].name + ' ' + this.clients[x].surname) === input){
            await axios.get(BASE_URL + '/api/passes/clientId/' + this.clients[x].id,  {headers: {Authorization: this.authCookie}}).then(Response => {
              var data = Object.values(Response.data)
              this.passes = data
              for(var x=0;x<this.passes.length;x++){
                if((this.passes[x].active && this.passes[x].paid) || (this.passes[x].entriesLeft>0 && this.passes[x].paid))
                  this.activePasses.push(this.passes[x])
              }
              this.dialogPasses=true;
              if(this.passes.size>1){
                this.dialogPasses = true;
              }
            });
          }
        }

      },

      getClients(){
        axios.get(BASE_URL + '/api/clients', {headers: {Authorization: this.authCookie}}).then(Response => {
          var data = Object.values(Response.data)
          this.clients = data;
        });
      },
      isActive(date){
        var currentDate = new Date()
        var expirationDate = new Date(date)
        if(currentDate<expirationDate)
          return true
      },
      closeDialogPass(){

        this.dialogPasses=false;
      },
      decreaseEntries(id)
      {

        axios.patch(BASE_URL + '/api/passes/entriesLeft/' + id, '',  {headers: {Authorization: this.authCookie}}).then(Response => {
          var data = Object.values(Response.data)
          this.notification=true;
          this.snackbarText='Wykorzystano 1 wejście z puli wejść.'
          this.type='green'
          this.dialogPasses=false
        }).catch(error => {
          this.notification=true;
          this.snackbarText='Wystąpił błąd podczas odejmowania 1 wejścia z puli wejść.'
          this.type='red'
        });

      },


    }

  }






</script>

<style >
  #app {
    font-family: 'Arial Black';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }
  #nav {
    padding: 30px;
  }

  #nav a {
    font-weight: bold;
    color: #2c3e50;
  }

  #nav a.router-link-exact-active {
    color: #42b983;
  }
  .active1 {
    border-bottom: 2px solid #00ACC1;
    border-radius: 5px 5px 0 0;

  }
  .active2 {
    border-bottom: 2px solid #B39DDB;
    border-radius: 5px 5px 0 0;

  }
  .active3 {
    border-bottom: 2px solid #FFB74D;
    border-radius: 5px 5px 0 0;

  }
  .active4 {
    border-bottom: 2px solid #F48FB1;
    border-radius: 5px 5px 0 0;

  }

  .btn--content:before {
    background: transparent !important;
  }
  .btn--hidden .btn--content {
  }
  .hover-show-color1:hover .btn--hidden {
    visibility: visible;
    color: white;
    background: #00ACC1 !important;
  }
  .hover-show-color2:hover .btn--hidden {
    visibility: visible;
    color: white;
    background: #B39DDB !important;
  }
  .hover-show-color3:hover .btn--hidden {
    visibility: visible;
    color: white;
    background: #FFB74D !important;
  }
  .hover-show-color4:hover .btn--hidden {
    visibility: visible;
    color: white;
    background: #F48FB1 !important;
  }
  .toolbar{

  }

</style>
