<template>
    <div id="inspire">
        <v-container>
        <v-card>
            <v-card-title class="headline font-weight-regular orange lighten-2 white--text" >Zmień dane kontaktowe</v-card-title>
            <v-card-text>
                <v-form
                        ref="form"
                        lazy-validation
                >
                <v-text-field
                        v-model="new_email"
                        box
                        color="blue-grey lighten-2"
                        label="Nowy email"
                        :rules="[rules.required, rules.mail]"
                        :error-messages="messages.emailInvalid"
                        required
                ></v-text-field>
                </v-form>
            </v-card-text>
            <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn dark color="orange lighten-2" @click="save_email(new_email)" >Zapisz</v-btn>
            </v-card-actions>
        </v-card>
        </v-container>
        <v-container>
        <v-card>
            <v-card-title class="headline font-weight-regular orange lighten-2 white--text" >Zmień hasło</v-card-title>
            <v-card-text>
                <v-form
                        ref="form"
                        v-model="valid"
                        lazy-validation
                >
                <v-text-field
                    v-model="old_pass"
                    box
                    type="password"
                    color="blue-grey lighten-2"
                    :rules="[rules.required]"
                    :error-messages="messages.passwordInvalid"
                    label="Podaj stare hasło"
                    required
            ></v-text-field>
                <v-text-field
                        v-model="new_pass"
                        box
                        type="password"
                        color="blue-grey lighten-2"
                        label="Podaj nowe hasło"
                        :rules="[rules.required, rules.password, rules.min]"
                        :error-messages="messages.newPasswordInvalid"
                        required
                ></v-text-field>
                <v-text-field
                        v-model="rep_pass"
                        box
                        type="password"
                        color="blue-grey lighten-2"
                        label="Powtórz nowe hasło"
                        :rules="[rules.required, rules.password, rules.min]"
                        :error-messages="messages.repPasswordInvalid"
                        required
                ></v-text-field>
                </v-form>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
            <v-btn dark color="orange lighten-2" @click="save_password(old_pass, new_pass, rep_pass)" >Zapisz</v-btn>
            </v-card-actions>
        </v-card>
        </v-container>
        <v-snackbar
                v-model="snackbar"
                color="rgb(0, 172, 193, 0.7)"
                :timeout="3000"
                bottom
                right
        >
            Dane zapisane poprawnie
        </v-snackbar>
        <v-container>
            <v-card>
                <v-card-title class="headline font-weight-regular orange lighten-2 white--text" >Profil trenera</v-card-title>
                <v-card-text>
                    <v-form
                            ref="form"
                            v-model="valid"
                            lazy-validation
                    >

                        <v-list
                                subheader
                                two-line
                        >
                            <v-list-tile @click="">
                                <v-list-tile-action>
                                    <v-checkbox v-model="myProfile.showProfile"></v-checkbox>
                                </v-list-tile-action>

                                <v-list-tile-content @click="changeShowProfile()">
                                    <v-list-tile-title>Profil trenera</v-list-tile-title>
                                    <v-list-tile-sub-title>Zezwól na pokazywanie swojego profilu</v-list-tile-sub-title>
                                </v-list-tile-content>
                            </v-list-tile>
                        </v-list>
                        <v-textarea
                                box
                                name="description"
                                label="Zmień opis"
                                v-model=myProfile.description
                        ></v-textarea>
                        <v-combobox multiple
                                    v-model="select"
                                    label="Typ treningu"
                                    append-icon
                                    chips
                                    deletable-chips
                                    class="tag-input"
                                    :search-input.sync="search"
                                    @keyup.tab="updateTags"
                                    @paste="updateTags">
                        </v-combobox>
                        <v-flex xs12 class="text-xs-center text-sm-center text-md-center text-lg-center">
                        <img :src="imageUrl" height="150" v-if="imageUrl"/>
                        <v-text-field label="Wybierz zdjęcie" @click='pickFile' v-model='imageName' prepend-icon='attach_file'></v-text-field>
                        <input
                                type="file"
                                style="display: none"
                                ref="image"
                                accept="image/*"
                                @change="onFilePicked"
                        >
                        </v-flex>
                    </v-form>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn dark color="orange lighten-2" @click="save_profile(); snackbar = true" >Zapisz</v-btn>
                    <v-snackbar
                            v-model="snackbar"
                            color="rgb(0, 172, 193, 0.7)"
                            :timeout="3000"
                            bottom
                            right
                    >
                        Zmiany zapisane
                    </v-snackbar>
                </v-card-actions>
            </v-card>
        </v-container>
    </div>
</template>


<script>

  import axios from 'axios'
  import {mapMutations, mapState} from 'vuex'
  import CookieHandler from "../../services/CookieHandler";
  import {BASE_URL} from "../../constants";

  export default {

    data: () => ({
        rules: {
            required: v => !!v || 'Pole obowiązkowe',
            password: v => (v || '').match(/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*(_|[^\w])).+$/) ||
                'Hasło musi zawierać co najmniej jedną wielką literę, cyfrę i znak specjalny',
            min: v => v.length >= 8 || 'Hasło musi zawierać co najmniej 8 znaków',

        },
        select: [],
        imageName: '',
        imageUrl: '',
        imageFile: '',
        editedUrl: '',
        search: "" ,
        myProfile: {
            id: '',
            email: '',
            name: '',
            surname: '',
            description: '',
            trainingTypes: '',
            birthdate: '',
            pesel: '',
            phoneNumber: '',
            notifications: '',
            showProfile: '',
            gender: '',
            creationDate: '',
            removed: '',
            userId: '',
            imageId: '',
        },


        messages: {
            emailInvalid: '',
            passwordInvalid: '',
            newPasswordInvalid: '',
            repPasswordInvalid: '',
        },
        authCookie: '',
        snackbar: false,
        email: '',
         oldPassword:'',
            newPassword: '',
        valid: true,


    }),

    computed: {
      ...mapState(['token']),

    },

    watch: {
      dialog(val) {
        val || this.close()
      }
    },

    created() {
        if(CookieHandler.checkIfTrainerIsAuthorized())
            this.initialize();
        else
            window.location.href = '';
    },
    methods: {

      async initialize() {

          this.authCookie = CookieHandler.getAuthKeyValueFromCookies();

          const tab = [];
          axios.get(BASE_URL + '/api/trainers/self', {headers: {Authorization: this.authCookie}}).then(Response => {
              var data = Object.values(Response.data)
              this.myProfile = data;
              tab.push({id: this.myProfile[0], email: this.myProfile[1],
                  name: this.myProfile[2],
                  surname: this.myProfile[3],
                  description: this.myProfile[4],
                  trainingTypes:this.myProfile[5],
                  birthdate: this.myProfile[6],
                  pesel: this.myProfile[7],
                  phoneNumber: this.myProfile[8],
                  notifications: this.myProfile[9],
                  showProfile: this.myProfile[10],
                  gender: this.myProfile[11],
                  creationDate: this.myProfile[12],
                  removed: this.myProfile[13],
                  userId: this.myProfile[14],
                  imageId: this.myProfile[15]

              });

              this.myProfile = tab[0];
              this.select = this.myProfile.trainingTypes.split(';')
          });


      },
        save_email: function (new_email) {
            this.email = new_email;
             axios.patch(BASE_URL + '/api/users/email/?email='+this.email, ' ', {headers: {Authorization: this.authCookie}})
                .then(Response => {
                var data = Object.values(Response.data);
                this.snackbar = true;
                    this.messages.emailInvalid = null;
                    this.$refs.form.reset();})
                .catch(error => {
                    let errors = error.response.data.error;
                    if (errors) {
                        this.messages.emailInvalid = 'Niepoprawny email';
                    }

                });

        },
        save_password: function (old_pass, new_pass, rep_pass) {

          if(new_pass === rep_pass) {
              this.messages.repPasswordInvalid = null;
              this.oldPassword = encodeURIComponent(old_pass);
              this.newPassword = encodeURIComponent(new_pass);
              axios.patch(BASE_URL + '/api/users/password?oldPassword=' + this.oldPassword + '&newPassword=' + this.newPassword, ' ', {headers: {Authorization: this.authCookie}}).then(Response => {
                  var data = Object.values(Response.data);
                  this.snackbar = true;
                  this.$refs.form.reset();
                  this.messages.passwordInvalid = null;

              })
                  .catch(error => {
                      let errors = error.response.data.error;
                      if (errors) {
                          this.messages.passwordInvalid = 'Niepoprawne hasło';
                      }
                  });
          }
          else{
              this.messages.repPasswordInvalid = 'Niepoprawne hasło';
          }
        },

        changeShowProfile(){
          this.myProfile.showProfile = ! this.myProfile.showProfile;

        },

        async save_profile(){
          this.myProfile.trainingTypes = this.select.join(";");

            if(this.imageUrl!=='')
            {

                var imageIdToDelete = this.editedUrl;
                await axios.post(BASE_URL + '/api/images', this.formData, {headers: {Authorization: this.authCookie, 'Content-Type': 'application/x-www-form-urlencoded'} }).then(Response => {
                    var data = Object.values(Response.data);
                    this.editedUrl=data.join("");
                    this.myProfile.imageId = this.editedUrl;

                }).catch(error => {
                    this.notification=true;
                    this.snackbarText='Wystąpił błąd podczas dodawania obrazu.'
                    this.type='red'
                });;
                await axios.patch(BASE_URL + '/api/trainers', this.myProfile, {headers: {Authorization: this.authCookie}}).then(Response => {
                    var data = Object.values(Response.data)
                }).catch(error => {
                    this.notification=true;
                    this.snackbarText='Wystąpił błąd edycji trenera.'
                    this.type='red'
                });

                await axios.delete(BASE_URL + '/api/images/'+imageIdToDelete,  {headers: {Authorization: this.authCookie}}).then(Response => {
                    var data = Object.values(Response.data)
                }).catch(error => {
                    this.notification=true;
                    this.snackbarText='Wystąpił błąd usuwania obrazu.'
                    this.type='red'
                });

            }
            else {
                await axios.patch(BASE_URL + '/api/trainers', this.myProfile, {headers: {Authorization: this.authCookie}}).then(Response => {
                    var data = Object.values(Response.data)
                }).catch(error => {
                    this.notification=true;
                    this.snackbarText='Wystąpił błąd edycji trenera.'
                    this.type='red'
                });
            }


        },

        updateTags() {
            this.$nextTick(() => {
                this.select.push(...this.search.split(";"));
                this.$nextTick(() => {
                    this.search = "";
                });
            });
        },
        pickFile () {
            axios.get(BASE_URL + '/api/images/'+this.myProfile.imageId, {headers: {Authorization: this.authCookie}, responseType: 'arraybuffer' })
                .then((response) => {
                    let image = btoa(
                        new Uint8Array(response.data)
                            .reduce((data, byte) => data + String.fromCharCode(byte), '')
                    );
                    this.editedUrl=`data:${response.headers['content-type'].toLowerCase()};base64,${image}`;
                });
            this.$refs.image.click ()
        },

        onFilePicked (e) {
            const files = e.target.files
            if(files[0] !== undefined) {
                this.imageName = files[0].name
                if(this.imageName.lastIndexOf('.') <= 0) {
                    return
                }
                const fr = new FileReader ()
                fr.readAsDataURL(files[0])
                fr.addEventListener('load', () => {
                    this.imageUrl = fr.result
                    this.imageFile = files[0] // this is an image file that can be sent to server...
                    this.formData = new FormData();
                    this.formData.append("image",this.imageFile)
                })
            } else {
                this.imageName = ''
                this.imageFile = ''
                this.imageUrl = ''
            }
        }


    }
  }
</script>

<style>

    .tag-input span.v-chip {
        background-color: #FFB74D;
        color: #fff;
        font-size:1em;
        padding-left:7px;
    }

</style>
