<template>
    <div id="app">
        <v-app id="inspire">
            <v-layout row wrap class="pl-5">
                <v-flex xs5 sm3 offset-lg1 class="pl-4">

                    <v-select
                            v-model="filtr"
                            :items="this.trainers"
                            return-object
                            clearable
                            @click:clear="$nextTick(() => filtr=null)"
                            item-text="name"
                            item-value="id"
                            v-on:input="setFilter()"
                            label="Wybierz trenera"
                    ><template slot='selection' slot-scope='{ item }'>
                        {{ item.name }} {{ item.surname }}
                    </template>
                        <template slot='item' slot-scope='{ item }' >
                            {{ item.name }} {{ item.surname }}
                        </template>
                    </v-select>
                </v-flex>
            <v-card-actions class="justify-center">
                <v-btn
                        text
                        color="transparent"
                        class="elevation-0"
                        :disabled="step === 1"
                        flat
                        @click="step--"
                >
                    <v-icon color="#616161">mdi-chevron-left</v-icon>
                </v-btn>
                <span class="title font-weight-regular justify-space-between">{{ currentTitle }}</span>
                <v-btn
                        text
                        :disabled="step === 3"
                        @click="step++"
                        flat
                        color="transparent"
                        class="elevation-0"
                >
                    <v-icon color="#616161">mdi-chevron-right</v-icon>
                </v-btn>
            </v-card-actions>
            </v-layout>
            <v-window v-model="step">
                <v-container grid-list-md text-xs-center>
                    <v-layout row wrap>
                        <v-flex xs12>
                            <v-container grid-list-md text-xs-center>
                                <v-window-item :value="1">
                                    <v-layout row>

                                        <v-flex xs1>
                                        </v-flex>
                                        <v-flex xs2 v-for="day in dayID.slice(0,7)" :key="day.valueOf()" >
                                            <v-card color="#ffb74d" dark class="elevation-0" >
                                                <v-card-text class="dni">{{ getDayName(day.valueOf())}} </v-card-text>
                                            </v-card>
                                        </v-flex>

                                    </v-layout>
                                    <v-divider inset></v-divider>
                                    <template v-for="timeslot in timeslots">
                                        <v-layout row >

                                            <v-flex md1>
                                                <v-card color="transparent" class="elevation-0">
                                                    <v-card-text class="px-0" color="#616161">{{ timeslot.start }}</v-card-text>
                                                </v-card>
                                            </v-flex>

                                            <v-flex xs2 v-for="day in dayID.slice(0,7)" :key="day.valueOf() + '' + timeslot.start ">
                                                <template  v-for="item in content(day, timeslot)">
                                                    <v-card v-if="isLoggedIn()==true" :color="getMembership(item.id)[0].membership == null ? 'rgb(255, 183, 77, 0.7)' : 'rgb(0, 172, 193, 0.7)'"  px-2 dark class="elevation-1 pa-0" @click="dialog = true" @click.native="selectItem(item)">
                                                        <v-card-text  class="pa-2" >{{item.name}}<br>{{ getTime(item.startingTime)}} </v-card-text>

                                                    </v-card>
                                                    <v-card v-else :color="'rgb(255, 183, 77, 0.7)' "  px-2 dark class="elevation-1 pa-0" @click="dialog = true" @click.native="selectItem(item)">
                                                        <v-card-text  class="pa-2" >{{item.name}}<br>{{ getTime(item.startingTime)}} </v-card-text>

                                                    </v-card>
                                                </template>

                                            </v-flex>
                                        </v-layout>
                                        <v-divider inset></v-divider>
                                    </template>
                                </v-window-item>
                                <v-window-item :value="2">
                                    <v-layout row>

                                        <v-flex xs1>
                                        </v-flex>

                                        <v-flex xs2 v-for="day in dayID.slice(7,14)" :key="day.valueOf()" >
                                            <v-card color="#ffb74d" dark class="elevation-0" >
                                                <v-card-text class="dni">{{ getDayName(day.valueOf())}}</v-card-text>
                                            </v-card>
                                        </v-flex>

                                    </v-layout>
                                    <v-divider inset></v-divider>
                                    <template v-for="timeslot in timeslots">
                                        <v-layout row >

                                            <v-flex md1>
                                                <v-card color="transparent" class="elevation-0">
                                                    <v-card-text class="px-0">{{ timeslot.start }}</v-card-text>
                                                </v-card>
                                            </v-flex>

                                            <v-flex xs2 v-for="day in dayID.slice(7,14)" :key="day.valueOf() + '' + timeslot.start ">
                                                <template  v-for="item in content(day, timeslot)">
                                                    <v-card v-if="isLoggedIn()==true" :color="getMembership(item.id)[0].membership == null ? 'rgb(255, 183, 77, 0.7)' : 'rgb(0, 172, 193, 0.7)'"  px-2 dark class="elevation-1 pa-0" @click="dialog = true" @click.native="selectItem(item)">
                                                        <v-card-text  class="pa-2" >{{item.name}}<br>{{ getTime(item.startingTime)}} </v-card-text>

                                                    </v-card>
                                                    <v-card v-else :color="'rgb(255, 183, 77, 0.7)' "  px-2 dark class="elevation-1 pa-0" @click="dialog = true" @click.native="selectItem(item)">
                                                        <v-card-text  class="pa-2" >{{item.name}}<br>{{ getTime(item.startingTime)}} </v-card-text>

                                                    </v-card>
                                                </template>

                                            </v-flex>
                                        </v-layout>
                                        <v-divider inset></v-divider>
                                    </template>
                                </v-window-item>
                                <v-window-item :value="3">
                                    <v-layout row>

                                        <v-flex xs1>
                                        </v-flex>

                                        <v-flex xs2 v-for="day in dayID.slice(14,21)" :key="day.valueOf()" >
                                            <v-card color="#ffb74d" dark class="elevation-0" >
                                                <v-card-text class="dni">{{ getDayName(day.valueOf())}}</v-card-text>
                                            </v-card>
                                        </v-flex>

                                    </v-layout>
                                    <v-divider inset></v-divider>
                                    <template v-for="timeslot in timeslots">
                                        <v-layout row >

                                            <v-flex md1>
                                                <v-card color="transparent" class="elevation-0">
                                                    <v-card-text class="px-0">{{ timeslot.start }}</v-card-text>
                                                </v-card>
                                            </v-flex>

                                            <v-flex xs2 v-for="day in dayID.slice(14,21)" :key="day.valueOf() + '' + timeslot.start ">
                                                <template  v-for="item in content(day, timeslot)">
                                                    <v-card v-if="isLoggedIn()==true" :color="getMembership(item.id)[0].membership == null ? 'rgb(255, 183, 77, 0.7)' : 'rgb(0, 172, 193, 0.7)'"  px-2 dark class="elevation-1 pa-0" @click="dialog = true" @click.native="selectItem(item)">
                                                        <v-card-text  class="pa-2" >{{item.name}}<br>{{ getTime(item.startingTime)}} </v-card-text>

                                                    </v-card>
                                                    <v-card v-else :color="'rgb(255, 183, 77, 0.7)' "  px-2 dark class="elevation-1 pa-0" @click="dialog = true" @click.native="selectItem(item)">
                                                        <v-card-text  class="pa-2" >{{item.name}}<br>{{ getTime(item.startingTime)}} </v-card-text>

                                                    </v-card>
                                                </template>

                                            </v-flex>
                                        </v-layout>
                                        <v-divider inset></v-divider>
                                    </template>
                                </v-window-item>

                                <v-dialog
                                        v-model="dialog"
                                        transition="dialog-bottom-transition"
                                        max-width="500px"
                                >
                                    <v-toolbar
                                            color="#F48FB1"
                                            dark
                                            v-if="selectedItem"
                                    >
                                        <v-icon large>bookmark_border</v-icon>
                                        <v-toolbar-title :value="selectedItem" class="dni">{{selectedItem.name}}</v-toolbar-title>
                                    </v-toolbar>

                                    <v-card v-if="selectedItem">
                                        <v-card-title :value="selectedItem">
                                            <div>
                                                <span> Godzina rozpoczęcia: <b> {{getTime(selectedItem.startingTime)}} </b> </span><br>
                                                <span> Czas trwania: <b>{{selectedItem.durationInMinutes}} min</b> </span><br>
                                                <span> Ilość wolnych miejsc: <b>{{selectedItem.spotsLeft}}</b> </span><br>
                                                <span>Prowadzący: <b>{{getTrainer(selectedItem.trainerId)[0].name }}&nbsp{{ getTrainer(selectedItem.trainerId)[0].surname}}</b></span>

                                            </div>
                                        </v-card-title>

                                    </v-card>
                                </v-dialog>
                            </v-container>
                        </v-flex>

                    </v-layout>

                </v-container>
            </v-window>
            <v-container grid-list-xl >
                <v-flex
                        xs12
                        md8
                        class="text-xs-center"
                >
                    <v-layout wrap >
                        <v-flex xs3>
                            <v-sheet
                                    class="d-flex"
                                    color="rgb(0, 172, 193, 0.7)"
                                    height="40"
                            >
                            </v-sheet>
                        </v-flex>
                        <v-flex xs3> Zajęcia, które prowadzisz </v-flex>
                        <v-flex xs3>
                            <v-sheet
                                    class="d-flex"
                                    color="rgb(255, 183, 77, 0.7)"
                                    height="40"
                            >
                            </v-sheet>
                        </v-flex>
                        <v-flex xs3> Pozostałe zajęcia </v-flex>
                    </v-layout>
                </v-flex>
            </v-container>
        </v-app>
    </div>
</template>

<script>
    import moment from 'moment'
    import axios from 'axios'
    import {mapMutations, mapState} from 'vuex'
    import CookieHandler from "../../services/CookieHandler";
    import AuthorizationManagerService from "@/services/AuthorizationManagerService";
    import {BASE_URL} from "../../constants";

    export default {


        data: () => ({
            step: 1,
            dialog: false,
            selectedItem: null,
            trainers : [],
            lessons: [],
            authCookie: '',
            trainings: [],
            trainingsMember: [],
            trainingId: [],
            client: [],
            filtr: '',
            lesson: null,
            dayID: [],
            trainer_schedule: '',
            timeslots: [
                {
                    'id': 1,
                    'start': '07:00',
                    'end': '08:00'
                },
                {
                    'id': 2,
                    'start': '08:00',
                    'end': '09:00'
                },
                {
                    'id': 3,
                    'start': '09:00',
                    'end': '10:00'
                },
                {
                    'id': 4,
                    'start': '10:00',
                    'end': '11:00'
                },
                {
                    'id': 5,
                    'start': '11:00',
                    'end': '12:00'
                },
                {
                    'id': 6,
                    'start': '12:00',
                    'end': '13:00'
                },
                {
                    'id': 7,
                    'start': '13:00',
                    'end': '14:00'
                },
                {
                    'id': 8,
                    'start': '14:00',
                    'end': '15:00'
                },
                {
                    'id': 9,
                    'start': '15:00',
                    'end': '16:00'
                },
                {
                    'id': 10,
                    'start': '16:00',
                    'end': '17:00'
                },
                {
                    'id': 11,
                    'start': '18:00',
                    'end': '19:00'
                },
                {
                    'id': 12,
                    'start': '19:00',
                    'end': '20:00'
                },
                {
                    'id': 13,
                    'start': '20:00',
                    'end': '21:00'
                }
            ],
            newItem: {
                id: '',
                creationDate: '',
                removed: '',
                groupTrainingId: '',
                clientId: ''
            },
            lessonsIndividual: [],
            self: ''

        }),
        mounted() {
            if (this.$route.params.id) {
                    this.trainer_schedule = this.$route.params.id
            }

        },
        computed: {
            ...mapState(['token']),

            currentTitle () {
                switch (this.step) {
                    case 1: return moment(String(this.dayID[0])).format("DD-MM-YYYY") + ' - ' + moment(String(this.dayID[6])).format("DD-MM-YYYY")
                    case 2: return moment(String(this.dayID[7])).format("DD-MM-YYYY") + ' - ' + moment(String(this.dayID[13])).format("DD-MM-YYYY")
                    default: return moment(String(this.dayID[14])).format("DD-MM-YYYY") + ' - ' + moment(String(this.dayID[20])).format("DD-MM-YYYY")
                }
            },
            formTitle () {
                return this.editedIndex === -1 ? 'New Item' : 'Edit Item'

            },
            pages () {
                if (this.pagination.rowsPerPage == null ||
                    this.pagination.totalItems == null
                ) return 0

                return Math.ceil(this.pagination.totalItems / this.pagination.rowsPerPage)
            }
        },

        watch: {
            dialog (val) {
                val || this.close()
            }
        },
        async created () {
            this.authCookie = CookieHandler.getAuthKeyValueFromCookies();

            var currentDate = moment();

            var weekStart = currentDate.clone().startOf('isoWeek');

            var daysID = [];

            for (var i = 0; i <= 20; i++) {
                daysID.push(moment(weekStart).add(i, 'days').format("YYYY-MM-DD"));
            }
            this.dayID = daysID;

            await this.initialize()
        },

        methods: {

            content(day, timeslot) {

                var events = this.lessons.filter(function(lesson) {
                    // console.log(moment(String(lesson.date)).format("YYYY-MM-DD"));

                    var time = lesson.startingTime[0] + ":" + lesson.startingTime[1];

                    return moment(String(lesson.date)).format("YYYY-MM-DD") === day.valueOf()
                        && moment(time, "HH:mm").format("HH:mm") >= timeslot.start
                        && moment(time, "HH:mm").format("HH:mm") < timeslot.end
                });

                return events ? events : '&nbsp;'

            },

            getTime: function(time)
            {
                var time = time[0] + ":" + time[1];
                return moment(time, "HH:mm").format("HH:mm");
            },

            getTrainer: function(id)
            {
                this.trainers.forEach(function(item, index) {
                });

                var name = this.trainers.filter(function(trainer) {
                    return trainer.id == id
                });
                return name ? name : '&nbsp;'
            },

            getMembership(id)
            {

                var membership = this.lessons.filter(function (member) {
                    return member.id == id
                });

                // console.log(membership[0].membership)
                 return membership;
            },

            getDayName(date){
                var day;
                switch (new Date(date).getDay()) {
                    case 0:
                        day = "Niedziela";
                        break;
                    case 1:
                        day = "Poniedziałek";
                        break;
                    case 2:
                        day = "Wtorek";
                        break;
                    case 3:
                        day = "Środa";
                        break;
                    case 4:
                        day = "Czwartek";
                        break;
                    case 5:
                        day = "Piątek";
                        break;
                    case  6:
                        day = "Sobota";
                }

                return day;
            },
            selectItem(item) {
                this.selectedItem = item;
            },
            isLoggedIn(){
                if(CookieHandler.checkIfTrainerIsAuthorized())
                    return true;
                else return false;
            },
            async setFilter()
            {
                if(this.filtr != null)
                {
                    this.filtr = this.filtr.id;
                }

                await this.initialize();
            },
            async initialize() {

                this.authCookie = CookieHandler.getAuthKeyValueFromCookies();

                const tab = [];
                if(CookieHandler.checkIfTrainerIsAuthorized())
                {
                    await axios.get(BASE_URL + '/api/trainers/self', {headers: {Authorization: this.authCookie}}).then(Response => {
                        var data = Object.values(Response.data)
                        this.self = data;

                    });
                    await axios.get(BASE_URL + '/api/trainings/individual/trainer', {headers: {Authorization: this.authCookie}}).then(Response => {
                        var data = Object.values(Response.data)
                        this.lessonsIndividual = data;
                    });

                    await this.lessonsIndividual.forEach(function(item) {
                        tab.push({id: item.id, name: item.name, description: '', date: item.date, startingTime: item.startingTime,
                            durationInMinutes: item.durationInMinutes, maxMembersAmount: 1, gender: '', intensity: '',
                            createdBy: '', creationDate: '', removed: '', trainerId: item.trainerId, membership: true, spotsLeft: 0, trainer: '' });
                    });
                    await axios.get(BASE_URL + '/api/training/groups/all', {headers: {Authorization: this.authCookie}}).then(Response => {
                        var data = Object.values(Response.data)
                        this.lessons = data;
                        for(var i=0; i<this.lessons.length; i++)
                        {
                            // console.log(this.lessons[i].trainerId)
                            // console.log(this.self[0])
                            if(this.lessons[i].trainerId == this.self[0])
                            {
                                this.lessons[i].membership = true;
                            }
                        }
                        for(var i=0; i<tab.length; i++)
                        {
                            this.lessons.push(tab[i]);
                        }
                    });

                    await axios.get(BASE_URL + '/api/trainers/all', {headers: {Authorization: this.authCookie}}).then(Response => {
                        var data = Object.values(Response.data)
                        this.trainers = data;
                        // console.log(this.trainers);
                    });
                }
                else{
                    await axios.get(BASE_URL + '/api/training/groups/all').then(Response => {
                        var data = Object.values(Response.data)
                        this.lessons = data;
                    });
                   await axios.get(BASE_URL + '/api/trainers/all').then(Response => {
                        var data = Object.values(Response.data)
                        this.trainers = data;
                        // console.log(this.trainers);
                    });
                }



                // if(CookieHandler.checkIfTrainerIsAuthorized()){
                //
                //    await  axios.get(BASE_URL + '/api/training/groups/client', {headers: {Authorization: this.authCookie}}).then(Response => {
                //         var data = Object.values(Response.data)
                //         this.trainingsMember = data;
                //
                //     });
                //
                //    await  axios.get(BASE_URL + '/api/clients/self', {headers: {Authorization: this.authCookie}}).then(Response => {
                //         var data = Object.values(Response.data)
                //         this.client = data;
                //
                //     });
                // }


                if(this.filtr != null && this.filtr != '')
                {
                    let filtr = this.filtr;

                    this.lessons = this.lessons.filter(function (member) {
                        return member.trainerId == filtr
                    });
                }

                else if( this.trainer_schedule != '')
                {
                    let filtr = this.trainer_schedule;
                    this.lessons = this.lessons.filter(function (member) {
                        return member.trainerId == filtr
                    });
                }

            },

            async signUp(id){
                this.newItem.groupTrainingId = id;

                this.trainings.push(this.newItem);
                // console.log(this.trainings);

                axios.post(BASE_URL + '/api/training/group/members', this.newItem, {headers: {Authorization: this.authCookie}}).then(Response => {
                    var data = Object.values(Response.data)
                });

                this.initialize();

            },
            async leave(id){
                this.newItem.groupTrainingId = id;

                this.trainings.push(this.newItem);
                // console.log(this.trainings);

                axios.post(BASE_URL + '/api/training/group/members', this.newItem, {headers: {Authorization: this.authCookie}}).then(Response => {
                    var data = Object.values(Response.data)
                });

                this.initialize();

            },
            close() {
                this.dialog = false
                setTimeout(() => {
                    this.editedItem = Object.assign({}, this.defaultItem)
                    this.editedIndex = -1
                }, 300)
            },

        }
    }
</script>

<style scoped>
    .dni{
        font-family:  'Hoefler Text', Georgia, 'Times New Roman', serif;
        font-weight: normal;
        text-align: center;
        text-transform: uppercase;

    }
    .title{
        color: #616161;
    }
</style>
