<template>
    <div id="app">
        <v-app id="inspire">
            <div>
                <v-toolbar flat color="white">
                    <v-toolbar-title>Zajęcia indywidualne</v-toolbar-title>
                    <v-divider
                            class="mx-2"
                            inset
                            vertical
                    ></v-divider>
                    <v-spacer></v-spacer>

                </v-toolbar>
                <v-data-table
                        :headers="headers"
                        :search="search"
                        :items="individualTrainings"
                        class="elevation-1"
                >
                    <template v-slot:items="props" >
                        <td  v-if="isActive(props.item.date) && isMyJob(props.item.trainerId)" class="text-xs-left">{{ props.item.name }}</td>
                        <td v-if="isActive(props.item.date) && isMyJob(props.item.trainerId)" class="text-xs-left">{{ props.item.description }}</td>
                        <td v-if="isActive(props.item.date) && isMyJob(props.item.trainerId)" class="text-xs-left">{{ toDate(props.item.date) }}</td>
                        <td v-if="isActive(props.item.date) && isMyJob(props.item.trainerId)"class="text-xs-left">{{ props.item.startingTime[0]+':'+props.item.startingTime[1]  }}</td>
                        <td v-if="isActive(props.item.date) && isMyJob(props.item.trainerId)"class="text-xs-left">{{ props.item.durationInMinutes }}</td>
                        <td v-if="isActive(props.item.date) && isMyJob(props.item.trainerId)"class="text-xs-left">{{ props.item.intensity }}</td>
                    </template>
                    <template v-slot:no-data>
                        <v-btn color="orange" @click="initialize">Reset</v-btn>
                    </template>
                </v-data-table>
            </div>
            <div>
                <v-toolbar flat color="white">
                    <v-toolbar-title>Zajęcia grupowe</v-toolbar-title>
                    <v-divider
                            class="mx-2"
                            inset
                            vertical
                    ></v-divider>
                    <v-spacer></v-spacer>

                </v-toolbar>
                <v-data-table
                        :headers="headers"
                        :search="search"
                        :items="myGroupTrainings"
                        class="elevation-1"
                >
                    <template  v-slot:items="props" >
                        <td class="text-xs-left">{{ props.item.name }}</td>
                        <td class="text-xs-left">{{ props.item.description }}</td>
                        <td class="text-xs-left">{{ toDate(props.item.date) }}</td>
                        <td class="text-xs-left">{{ formatTime(props.item ) }}</td>
                        <td class="text-xs-left">{{ props.item.durationInMinutes }}</td>
                        <td class="text-xs-left">{{ props.item.intensity }}</td>
                    </template>
                    <template v-slot:no-data>
                        <v-btn color="orange" @click="initialize">Reset</v-btn>
                    </template>
                </v-data-table>
            </div>
        </v-app>
        <v-snackbar
                v-model="notification"
                top
                :color="type"
                :timeout="timeout"
        >
            {{ snackbarText }}
        </v-snackbar>
    </div>
</template>

<script>
    import axios from 'axios'
    import {mapMutations, mapState} from 'vuex'
    import CookieHandler from "../../services/CookieHandler";
    import {BASE_URL} from "../../constants";


    export default {
        data: () => ({
            dialog: false,
            dateDialog: false,
            timeDialog: false,
            authCookie: '',
            search: '',
            checkbox: false,
            date: new Date().toISOString().substr(0, 10),
            modal: false,
            modal2: false,
            buttonColor: "WHITE",
            snackbarText: "Wystąpił błąd.",
            buttonText: "OK",
            hasButton: true,
            notification: false,
            timeout: 4000,
            type: null,
            selectboolean: [{text: 'Włączone', value: 'true'},
                {text: 'Wyłączone', value: 'false'}],
            selectgender: [ {text: 'MĘŻCZYZNA', value: 'MAN'},
                { text: 'KOBIETA', value: 'WOMAN'}],
            selectintensity: [ '1','2','3','4','5'],
            headers: [
                { text: 'Nazwa', value: 'name' },
                { text: 'Opis', value: 'description' },
                { text: 'Data', value: 'date' },
                { text: 'Godzina rozpoczęcia', value: 'startingTime' },
                { text: 'Czas trwania', value: 'durationInMinutes' },
                { text: 'Intensywność', value: 'intensity' },
            ],
            individualTrainings: [],
            groupTrainings: [],
            myGroupTrainings:[],
            trainers:[
                { id:''},
                { name: '' },
                { surname: ''}
            ],
            clients:[
                {id:''},
                { name: ''},
                { surname: ''}
            ],
            editedIndex: -1,
            editedItem: {
                id: '',
                name: '',
                description: '',
                date: '',
                startingTime: '',
                durationInMinutes: '',
                intensity: '',
                createdBy: '',
                creationDate: '',
                removed: '',
            },
            defaultItem: {
                id: '',
                name: '',
                description: '',
                date: '',
                startingTime: '',
                durationInMinutes: '',
                intensity: '',
                createdBy: '',
                creationDate: '',
                removed: '',
            },
            trainerItem: ''


        }),

        computed: {
            ...mapState(['token']),
        },

        watch: {
            dialog (val) {
                val || this.close()
            }
        },

        created () {
            if(CookieHandler.checkIfTrainerIsAuthorized())
                this.initialize();
            else
                window.location.href = '';
        },

        methods: {
            async initialize() {

                this.authCookie = CookieHandler.getAuthKeyValueFromCookies();

                await axios.get(BASE_URL + '/api/trainers/self', {headers: {Authorization: this.authCookie}}).then(Response => {
                    var data = Object.values(Response.data)
                    this.trainerItem = data;
                });



                await axios.get(BASE_URL+ '/api/trainings/individual/trainer', {headers: {Authorization: this.authCookie}}).then(Response => {
                    var data = Object.values(Response.data)
                    this.individualTrainings = data;
                });

                await axios.get(BASE_URL+ '/api/training/groups/all', {headers: {Authorization: this.authCookie}}).then(Response => {
                    var data = Object.values(Response.data)
                    this.groupTrainings = data;
                    for(var x=0;this.groupTrainings.length;x++){
                        if(this.isMyJob(this.groupTrainings[x].trainerId) && this.isActive(this.groupTrainings[x].date)){
                            this.myGroupTrainings.push(this.groupTrainings[x])
                        }
                    }
                });




            },

            formatTime(item){
                return ("0" + (item.startingTime[0])).slice(-2) + ':' + ("0" + (item.startingTime[1])).slice(-2)
            },

            isActive(date){
                var currentDate = new Date()
                var expirationDate = new Date(date)
                if(currentDate<expirationDate)
                    return true
            },

            isMyJob(id)
            {
                if(id===this.trainerItem[0])
                    return true;
                else
                    return false

            },

            toDate(timeStamp) {
                var currentDate = new Date(timeStamp.toString());

                var date = currentDate.getDate();
                var month = currentDate.getMonth(); //Be careful! January is 0 not 1
                var year = currentDate.getFullYear();

                var dateString = year + "-" + (month + 1) + "-" + date;
                return dateString;
            },

            toTimeStamp(stringDate) {
                var date = new Date(stringDate)
                return date.getTime() / 1000

            },

            trainerIdToFullname(id) {
                for (var i = 0; i < this.trainers.length; i++) {
                    if (id === this.trainers[i].id) {
                        return this.trainers[i].name + ' ' + this.trainers[i].surname
                    }

                }
            },

            clientIdToFullname(id) {
                for (var i = 0; i < this.clients.length; i++) {
                    if (id === this.clients[i].id) {
                        return this.clients[i].name + ' ' + this.clients[i].surname
                    }

                }
            },

            getClientIdByFullname(fullname) {
                for (var i = 0; i < this.clients.length; i++) {
                    if (fullname === this.clients[i].name + ' ' + this.clients[i].surname) {
                        return this.clients[i].id
                    }
                }
            },

            setClientsForPick() {
                for (var i = 0; i < this.clients.length; i++) {
                    this.selectClient.push(this.clients[i].name + ' ' + this.clients[i].surname)

                }
            },


            getTrainerIdByFullname(fullname) {
                for (var i = 0; i < this.trainers.length; i++) {
                    if (fullname === this.trainers[i].name + ' ' + this.trainers[i].surname) {
                        return this.trainers[i].id
                    }
                }

            }
        }
    }
</script>

<style>
    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        margin-top: 60px;
    }
</style>


