<template>
    <div id="inspire">
        <v-container>
        <v-card>
            <v-card-title class="headline font-weight-regular orange lighten-2 white--text" >Zmień email</v-card-title>
            <v-card-text>
                <v-form
                        ref="form"
                        lazy-validation
                >
                <v-text-field
                        v-model="new_email"
                        box
                        color="blue-grey lighten-2"
                        label="Nowy email"
                        :rules="[rules.required, rules.mail]"
                        :error-messages="messages.emailInvalid"
                        required
                ></v-text-field>
                </v-form>
            </v-card-text>
            <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn dark color="orange lighten-2" @click="save_email(new_email)" >Zapisz</v-btn>
            </v-card-actions>
        </v-card>
        </v-container>
        <v-container>
        <v-card>
            <v-card-title class="headline font-weight-regular orange lighten-2 white--text" >Zmień hasło</v-card-title>
            <v-card-text>
                <v-form
                        ref="form"
                        v-model="valid"
                        lazy-validation
                >
                <v-text-field
                    v-model="old_pass"
                    box
                    type="password"
                    color="blue-grey lighten-2"
                    :rules="[rules.required]"
                    :error-messages="messages.passwordInvalid"
                    label="Podaj stare hasło"
                    required
            ></v-text-field>
                <v-text-field
                        v-model="new_pass"
                        box
                        type="password"
                        color="blue-grey lighten-2"
                        label="Podaj nowe hasło"
                        :rules="[rules.required, rules.password, rules.min]"
                        :error-messages="messages.newPasswordInvalid"
                        required
                ></v-text-field>
                <v-text-field
                        v-model="rep_pass"
                        box
                        type="password"
                        color="blue-grey lighten-2"
                        label="Powtórz nowe hasło"
                        :rules="[rules.required, rules.password, rules.min]"
                        :error-messages="messages.repPasswordInvalid"
                        required
                ></v-text-field>
                </v-form>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
            <v-btn dark color="orange lighten-2" @click="save_password(old_pass, new_pass, rep_pass)" >Zapisz</v-btn>
            </v-card-actions>
        </v-card>
        </v-container>
        <v-snackbar
                v-model="snackbar"
                color="rgb(0, 172, 193, 0.7)"
                :timeout="3000"
                bottom
                right
        >
            Dane zapisane poprawnie
        </v-snackbar>
        <v-container>
            <v-card>
                <v-card-title class="headline font-weight-regular orange lighten-2 white--text" >Powiadomienia</v-card-title>
                <v-card-text>
                    <v-form
                            ref="form"
                            v-model="valid"
                            lazy-validation
                    >

                        <v-list
                                subheader
                                two-line
                        >
                            <v-list-tile @click="">
                                <v-list-tile-action>
                                    <v-checkbox v-model="myProfile2.notifications"></v-checkbox>
                                </v-list-tile-action>

                                <v-list-tile-content @click="sendNotifications()">
                                    <v-list-tile-title>Włącz powiadomienia</v-list-tile-title>
                                    <v-list-tile-sub-title>Zezwól na wysyłanie powiadomień e-mailowych</v-list-tile-sub-title>
                                </v-list-tile-content>
                            </v-list-tile>
                        </v-list>
                    </v-form>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn dark color="orange lighten-2" @click="save_profile()" >Zapisz</v-btn>
                </v-card-actions>
            </v-card>
        </v-container>
    </div>
</template>


<script>

  import axios from 'axios'
  import {mapMutations, mapState} from 'vuex'
  import CookieHandler from "../../services/CookieHandler";
  import {BASE_URL} from "../../constants";

  export default {

    data: () => ({
        rules: {
            required: v => !!v || 'Pole obowiązkowe',
            password: v => (v || '').match(/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*(_|[^\w])).+$/) ||
                'Hasło musi zawierać co najmniej jedną wielką literę, cyfrę i znak specjalny',
            min: v => v.length >= 8 || 'Hasło musi zawierać co najmniej 8 znaków',

        },
        authCookie: '',
        messages: {
            emailInvalid: '',
            passwordInvalid: '',
            newPasswordInvalid: '',
            repPasswordInvalid: '',
        },
        myProfile2: {
            id: '',
            email: '',
            number: '',
            name: '',
            surname: '',
            birthdate: '',
            pesel: '',
            phoneNumber: '',
            notifications: '',
            gender: '',
            creationDate: '',
            removed: '',
            removeReason: '',
            userId: ''
        },

        snackbar: false,
        email: '',
         oldPassword:'',
            newPassword: '',
        valid: true,
        myProfile: {
             id: '',
             email: '',
             number: '',
             name: '',
             surname: '',
             birthdate: '',
             pesel: '',
             phoneNumber: '',
             notifications: '',
             gender: '',
             creationDate: '',
             removed: '',
             removeReason: '',
             userId: ''
        },


    }),

    computed: {
      ...mapState(['token']),

    },

    watch: {
      dialog(val) {
        val || this.close()
      }
    },

    created() {
        if(CookieHandler.checkIfClientIsAuthorized())
            this.initialize();
        else
            window.location.href = '';
    },
    methods: {

      async initialize() {
          this.authCookie = CookieHandler.getAuthKeyValueFromCookies();
          const tab = [];
          axios.get(BASE_URL + '/api/clients/self', {headers: {Authorization: this.authCookie}}).then(Response => {
              var data = Object.values(Response.data)
              this.myProfile = data;

              tab.push({id: this.myProfile[0], email: this.myProfile[1], number: this.myProfile[2],
                  name: this.myProfile[3],
                  surname: this.myProfile[4],
                  birthdate: this.myProfile[5],
                  pesel: this.myProfile[6],
                  phoneNumber: this.myProfile[7],
                  notifications: this.myProfile[8],
                  gender: this.myProfile[9],
                  creationDate: this.myProfile[10],
                  removed: this.myProfile[11],
                  removeReason: this.myProfile[12],
                  userId: this.myProfile[13]});
              this.myProfile2 = tab[0];

          });
      },
        save_email: function (new_email) {
            this.email = new_email;
             axios.patch(BASE_URL + '/api/users/email/?email='+this.email, ' ', {headers: {Authorization: this.authCookie}})
                .then(Response => {
                var data = Object.values(Response.data);
                this.snackbar = true;
                    this.$refs.form.reset();})
                .catch(error => {
                    let errors = error.response.data.error;
                    if (errors) {
                        this.messages.emailInvalid = 'Niepoprawny email';
                    }

                });

        },
        save_password: function (old_pass, new_pass, rep_pass) {

          if(new_pass === rep_pass) {
              this.messages.repPasswordInvalid = null;
              this.oldPassword = encodeURIComponent(old_pass);
              this.newPassword = encodeURIComponent(new_pass);

              axios.patch(BASE_URL + '/api/users/password?oldPassword=' + this.oldPassword + '&newPassword=' + this.newPassword, ' ', {headers: {Authorization: this.authCookie}}).then(Response => {
                  var data = Object.values(Response.data);
                  this.snackbar = true;
                  this.$refs.form.reset();
                  this.messages.passwordInvalid = null;

              })
                  .catch(error => {
                      let errors = error.response.data.error;
                      if (errors) {
                          this.messages.passwordInvalid = 'Niepoprawne hasło1';
                      }
                  });
          }
          else{
              this.messages.repPasswordInvalid = 'Niepoprawne hasło2';
          }
        },

        sendNotifications(){
            this.myProfile2.notifications = ! this.myProfile2.notifications;

        },
        save_profile(){
            axios.patch(BASE_URL + '/api/clients/self', this.myProfile2, {headers: {Authorization: this.authCookie}}).then(Response => {
                var data = Object.values(Response.data)
            }).catch(error => {
                this.notification=true;
                this.snackbarText='Wystąpił błąd edycji profilu.'
                this.type='red'
            });
        }
    }
  }
</script>

<style>


</style>
