<template>
    <div id="app">
        <v-app id="inspire">
            <div>
                <v-toolbar flat color="white">
                    <v-toolbar-title>Historia karnetów</v-toolbar-title>
                    <v-divider
                            class="mx-2"
                            inset
                            vertical
                    ></v-divider>
                    <v-spacer></v-spacer>

                    <v-dialog v-model="dialog" max-width="500px">
                        <template  v-slot:activator="{ on }">
                            <v-card-actions v-if="btn"><v-btn color="#FFB74D" dark v-on="on">Nowy karnet</v-btn></v-card-actions>

                        </template>
                        <v-card>
                            <v-card-title>
                                <span class="headline">{{ formTitle }}</span>
                            </v-card-title>

                            <v-card-text>
                                <v-container grid-list-md>
                                    <v-layout wrap>
                                        <v-flex xs12 sm12 md12>
<!--                                                                                        <v-select v-model="editedItem.value"-->
<!--                                                                                                  :items="selectSettlement"-->
<!--                                                                                                  label="Rodzaj"-->
<!--                                                                                                  :placeholder="editedItem.value"-->
<!--                                                                                        ></v-select>-->
                                            <v-select v-model="tariffItem.id"
                                                      :items="selectTariff"
                                                      label="Rodzaj"
                                                      :placeholder="tariffItem.id"
                                            ></v-select>


                                        </v-flex>
                                        <v-dialog
                                                ref="dialog"
                                                v-model="modal"
                                                persistent
                                                lazy
                                                full-width
                                                width="290px"
                                        >
                                            <template v-slot:activator="{ on }">
                                                <v-text-field
                                                        v-model="itemActivationDate"
                                                        label="Data aktywacji"
                                                        prepend-icon="event"
                                                        readonly
                                                        v-on="on"
                                                ></v-text-field>
                                            </template>
                                            <v-date-picker locale="pl-pl" color="#FFB74D" v-model="itemActivationDate" >
                                                <v-spacer></v-spacer>
                                                <v-btn flat color="#FFB74D" @click="modal = false">Anuluj</v-btn>
                                                <v-btn flat color="#FFB74D" @click="$refs.dialog.save(itemActivationDate)">Zapisz</v-btn>
                                            </v-date-picker>
                                        </v-dialog>
                                    </v-layout>
                                </v-container>
                            </v-card-text>


                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="#FFB74D" flat @click="close">Anuluj</v-btn>
                             <v-btn color="#FFB74D" flat @click="getTariffId(tariffItem.id)">Zapłać</v-btn>
<!--                                <v-btn color="#FFB74D" flat @click="getTariffId(selected)">Zapłać</v-btn>-->
                            </v-card-actions>

                        </v-card>
                    </v-dialog>



                </v-toolbar>
                <v-data-table
                        :key="forcedKey"
                        :headers="headers"
                        :search="search"
                        :items="passes"
                        class="elevation-1"
                >
                    <template v-slot:items="props" >
                        <td class="text-xs-left">{{ props.item.tariffName }}</td>
                        <td class="text-xs-left">{{ get_type(props.item.tariffSettlementType) }}</td>
                        <td class="text-xs-left">{{ props.item.totalPrice }}</td>
                        <td class="text-xs-left">{{ props.item.entriesLeft}}</td>
                        <td v-if="props.item.entriesLeft>=0 && props.item.entriesLeft!=null " class="text-xs-left">{{ 'Brak' }}</td>
                        <td v-else class="text-xs-left">{{ toDate(props.item.activationDate) }}</td>
                        <td v-if="props.item.entriesLeft>=0 && props.item.entriesLeft!=null" class="text-xs-left">{{ 'Ważny do wyczerpania' }}</td>
                        <td v-else class="text-xs-left">{{ toDate(props.item.expirationDate) }}</td>
                        <td class="text-xs-left">{{ toDateFromTimeStamp(props.item.creationDate) }}</td>
                        <td class="text-xs-left">
                            <v-icon v-if="props.item.active"
                                    medium
                                    color="green"
                            >
                                check_circle
                            </v-icon></td>
                    </template>
                    <template v-slot:no-data>
                        <v-btn color="#FFB74D" dark @click="initialize">Brak karnetów</v-btn>
                    </template>
                </v-data-table>
            </div>
        </v-app>
    </div>
</template>

<script>
    import axios from 'axios'
    import {mapMutations, mapState} from 'vuex'
    import {BASE_URL, PAYMENTS_MODULE} from "../../constants";
    import CookieHandler from "../../services/CookieHandler";

    export default {


        data: () => ({
            dialog: false,
            dialogPasses: false,
            dateDialog: false,
            search: '',
            btn: PAYMENTS_MODULE,
            authCookie: '',
            itemActivationDate: '',
            forcedKey: 0,
            isModuleOn: false,
            aDate:{
                activationDate: '',
            },
            paymentInfo: {
                url: ''
            },
            date: new Date().toISOString().substr(0, 10),
            selectSettlement: [{text: 'Miesięczny', value: 'MONTH'},
                {text: 'Kwartalny', value: 'QUARTER'},
                {text: 'Półroczny', value: 'SIX_MONTH'},
                {text: 'Roczny', value: 'YEAR'},
                {text: 'Trening x1', value: 'ONE_TRAINING'},
                {text: 'Trening x4', value: 'FOUR_TRAININGS'},
                {text: 'Trening x8', value: 'EIGHT_TRAININGS'},
                {text: 'Trening x12', value: 'TWELVE_TRAININGS'},
            ],
            modal: false,
            modal2: false,
            tariffItem: {
                id: '',
            },
            traiffIds: [],
            selectTariff: [],
            selectTariff2: [{
                name: '',
                value: '',
                type: '',
                price: ''
            }
            ],
            selectboolean: [{text: 'tak', value: 'true'},
                {text: 'nie', value: 'false'}],
            headers: [
                {text: 'Nazwa karnetu', value: 'tariffName'},
                {text: 'Rodzaj karnetu', value: 'tariffSettlementType'},
                {text: 'Cena', value: 'totalPrice'},
                {text: 'Pozostałe wejścia', value: 'entriesLeft'},
                {text: 'Data aktywacji', value: 'activationDate'},
                {text: 'Data wygaśnięcia', value: 'expirationDate'},
                {text: 'Data zakupu', value: 'creationDate'},
                {text: 'Aktywny', value: 'isActive'},
            ],
            clients: [],
            passesBefore: [],
            passes: [],
            pass: [],
            receptionists: [],
            editedIndex: -1,

            editedItem: {
                text: '',
                value: '',
            },
            defaultItem: {
                text: '',
                value: ''
            },
            passRespone: [],

            selected:'',
            settlementValue: '',


    // editedItem: {
            //     id: '',
            //     tariffName: '',
            //     tariffSettlementType: '',
            //     totalPrice: '',
            //     unitPrice: '',
            //     activationDate: '',
            //     expirationDate: '',
            //     entriesLeft: '',
            //     clientId: '',
            //     createdBy: '',
            //     creationDate: ''
            //
            // },
            // defaultItem: {
            //     id: '',
            //     tariffName: '',
            //     tariffSettlementType: '',
            //     totalPrice: '',
            //     unitPrice: '',
            //     activationDate: '',
            //     expirationDate: '',
            //     entriesLeft: '',
            //     clientId: '',
            //     createdBy: '',
            //     creationDate: ''
            // }



        }),

       async  mounted(){

        },
        computed: {
            ...mapState(['token']),
            formTitle() {
                return this.editedIndex === -1 ? 'Wybierz karnet i zapłać' : 'Wybierz karnet i zapłać'

            },
            actionType() {
                return this.editedIndex !== -1
            }


        },

        watch: {
            dialog(val) {
                val || this.close()
            }
        },

        created() {
            if(CookieHandler.checkIfClientIsAuthorized())
                this.initialize();
            else
                window.location.href = '';
        },

        methods: {

            async initialize() {

                this.authCookie = CookieHandler.getAuthKeyValueFromCookies();

               // console.log(this.authCookie)

                await axios.get(BASE_URL + '/api/passes/self', {headers: {Authorization: this.authCookie}}).then(Response => {
                    var data = Object.values(Response.data)
                    this.passesBefore = data;


                });
                this.passes = [];
                for(var x=0;x<this.passesBefore.length;x++){
                    if(this.passesBefore[x].paid === true){
                        this.passes.push(this.passesBefore[x]);
                    }
                }

                await axios.get(BASE_URL + '/api/tariff/all', {headers: {Authorization: this.authCookie}}).then(Response => {
                    var data = Object.values(Response.data)
                    this.tariffs = data;
                });

                this.setTariffsForPick();


            },


            deleteItem (item) {
                const index = this.clients.indexOf(item)
                if(confirm('Czy na pewno usunąć?') && this.clients.splice(index, 1)) {
                     axios.delete(BASE_URL + '/api/passes/setRemoved/' + item, {headers: {Authorization: this.authCookie, "Access-Control-Allow-Origin": "*"} }).then(Response => {
                        data = Object.values(Response.data)
                    }).catch(error => {
                        this.notification=true;
                        this.snackbarText='Wystąpił błąd podczas usuwania płatności.'
                        this.type='red'
                    });
                }
            },


            async continuePayment(value) {
                await axios.post(BASE_URL + '/api/payment/dotpay?passId=' + value, '', {headers: {Authorization: this.authCookie, "Access-Control-Allow-Origin": "*"} }).then(Response => {
                    data = Object.values(Response.data)
                    this.paymentInfo = data;

                });
                window.location.assign(this.paymentInfo[2]);
            },

            async pay(value) {
                //console.log(value);
                this.aDate.activationDate = this.itemActivationDate;
                var data;
                await axios.post(BASE_URL + '/api/passes/self?tariffId='+value, this.aDate, {headers: {Authorization: this.authCookie, 'Content-Type': 'application/json'}}).then(Response => {
                     data = Object.values(Response.data)
                    this.passRespone = data;
                }).catch(error => {
                    this.notification=true;
                    this.snackbarText='Wystąpił błąd podczas dodawania karnetu.'
                    this.type='red'
                });

                await axios.post(BASE_URL + '/api/payment/dotpay?passId=' + this.passRespone[0], '', {headers: {Authorization: this.authCookie, "Access-Control-Allow-Origin": "*"} }).then(Response => {
                    data = Object.values(Response.data)
                    this.paymentInfo = data;

                });
               // console.log(this.paymentInfo);
               // console.log(this.paymentInfo[2]);
                window.location.assign(this.paymentInfo[2]);
            },

            editItem(item) {
                this.editedIndex = this.clients.indexOf(item)
                this.clientItem = Object.assign({}, item)
                this.dialog = true


            },


            toDate(timeStamp) {
                var currentDate = new Date(timeStamp);

                var date = currentDate.getDate();
                var month = currentDate.getMonth(); //Be careful! January is 0 not 1
                var year = currentDate.getFullYear();

                var dateString = year + "-" + (month + 1) + "-" + date;
                return dateString;
            },


            toDateFromTimeStamp(timeStamp) {
                var currentDate = new Date(timeStamp * 1000);

                var date = currentDate.getDate();
                var month = currentDate.getMonth(); //Be careful! January is 0 not 1
                var year = currentDate.getFullYear();

                var dateString = year + "-" + (month + 1) + "-" + date;
                return dateString;
            },

            toTimeStamp(stringDate) {
                var date = new Date(stringDate)
                return date.getTime() / 1000

            },

            clientIdToFullname(id) {
                for (var i = 0; i < this.clients.length; i++) {
                    if (id === this.clients[i].id) {
                        return this.clients[i].name + ' ' + this.clients[i].surname
                    }

                }
            },

            isActive(date) {
                var currentDate = new Date()
                var expirationDate = new Date(date)
                if (currentDate < expirationDate)
                    return true
            },

            forceRender() {
                this.forcedKey += 1;
            },
            async setTariffsForPick() {
                this.selectTariff2 = [];

                for (var i = 0; i < this.tariffs.length; i++) {
                    this.settlementValue = this.get_type(this.tariffs[i].settlementType);
                    this.selectTariff2.push({name: this.tariffs[i].name, value: this.settlementValue, type: this.tariffs[i].settlementType,
                            price: this.tariffs[i].price});

                }
                for( var i = 0; i < this.selectTariff2.length; i++)
                {
                    this.selectTariff.push(this.selectTariff2[i].name + ' ' +  this.selectTariff2[i].value + ' ' +
                        this.selectTariff2[i].price + ' ZŁ')
                }
            },
            getTariffId(value) {

                for( var i = 0; i < this.selectTariff2.length; i++)
                {
                    if ((this.selectTariff2[i].name + ' ' + this.selectTariff2[i].value+ ' ' + this.selectTariff2[i].price + ' ZŁ') == value) {
                        for (var j = 0; j < this.tariffs.length; j++) {

                            if (this.tariffs[j].name == this.selectTariff2[i].name &&
                                this.tariffs[j].settlementType == this.selectTariff2[i].type &&
                                this.tariffs[j].price == this.selectTariff2[i].price) {
                                this.pay(this.tariffs[i].id)
                            }

                        }

                    }
                }

            },

            get_boolean(bool){
                if(bool == false){
                    return 'nie';
                }

                if (bool == true) {
                    return 'tak';
                }

            },
            get_type(type)
            {
                for(var x=0;x<=this.selectSettlement.length;x++)
                {
                    if(this.selectSettlement[x].value == type)
                    {
                        return this.selectSettlement[x].text;
                        break;
                    }
                }
            },


        }
    }
</script>

<style>
    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        margin-top: 60px;
    }
</style>
