<template>
    <div id="app">
        <v-app id="inspire">
    <v-card>Twoje żądanie zostanie przetworzone, a jego status zostanie zaktualizowany w przeciągu kilku minut.</v-card>

            <v-card><v-btn to="/passes" color="#FFB74D">OK</v-btn></v-card>

        </v-app>
    </div>
</template>

<script>
    export default {
        name: "PaymentFail"
    }
</script>

<style scoped>

</style>
