<template>
    <div id="app">
        <v-app id="inspire">
            <div>
                <v-toolbar flat color="white">
                    <v-toolbar-title>Zajęcia indywidualne</v-toolbar-title>
                    <v-divider
                            class="mx-2"
                            inset
                            vertical
                    ></v-divider>
                    <v-spacer></v-spacer>

                </v-toolbar>
                <v-data-table
                        :headers="headers"
                        :search="search"
                        :items="individualTrainings"
                        class="elevation-1"
                >
                    <template v-slot:items="props" >
                        <td  v-if="isActive(props.item.date)" class="text-xs-left">{{ props.item.name }}</td>
                        <td v-if="isActive(props.item.date)" class="text-xs-left">{{ props.item.description }}</td>
                        <td v-if="isActive(props.item.date)" class="text-xs-left">{{ toDate(props.item.date) }}</td>
                        <td v-if="isActive(props.item.date)"class="text-xs-left">{{ props.item.startingTime[0]+':'+props.item.startingTime[1]  }}</td>
                        <td v-if="isActive(props.item.date)"class="text-xs-left">{{ props.item.durationInMinutes }}</td>
                        <td v-if="isActive(props.item.date)"class="text-xs-left">{{ props.item.intensity }}</td>
                    </template>
                    <template v-slot:no-data>
                        <v-btn color="orange" @click="initialize">Reset</v-btn>
                    </template>
                </v-data-table>
            </div>
            <div>
                <v-toolbar flat color="white">
                    <v-toolbar-title>Zajęcia grupowe</v-toolbar-title>
                    <v-divider
                            class="mx-2"
                            inset
                            vertical
                    ></v-divider>
                    <v-spacer></v-spacer>

                </v-toolbar>
                <v-data-table
                        :headers="headers"
                        :search="search"
                        :items="groupTrainings"
                        class="elevation-1"
                >
                    <template  v-slot:items="props" >
                        <td v-if="isActive(props.item.date) "class="text-xs-left">{{ props.item.name }}</td>
                        <td v-if="isActive(props.item.date)"class="text-xs-left">{{ props.item.description }}</td>
                        <td v-if="isActive(props.item.date) "class="text-xs-left">{{ toDate(props.item.date) }}</td>
                        <td v-if="isActive(props.item.date) "class="text-xs-left">{{ props.item.startingTime[0]+':'+props.item.startingTime[1]  }}</td>
                        <td v-if="isActive(props.item.date)"class="text-xs-left">{{ props.item.durationInMinutes }}</td>
                        <td v-if="isActive(props.item.date)" class="text-xs-left">{{ props.item.intensity }}</td>
                    </template>
                    <template v-slot:no-data>
                        <v-btn color="orange" @click="initialize">Reset</v-btn>
                    </template>
                </v-data-table>
            </div>
        </v-app>
        <v-snackbar
                v-model="notification"
                top
                :color="type"
                :timeout="timeout"
        >
            {{ snackbarText }}
        </v-snackbar>
    </div>
</template>

<script>
    import axios from 'axios'
    import {mapMutations, mapState} from 'vuex'
    import CookieHandler from "../../services/CookieHandler";
    import {BASE_URL} from "../../constants";


    export default {
        data: () => ({
            dialog: false,
            dateDialog: false,
            timeDialog: false,
            authCookie: '',
            search: '',
            checkbox: false,
            date: new Date().toISOString().substr(0, 10),
            modal: false,
            modal2: false,
            buttonColor: "WHITE",
            snackbarText: "Wystąpił błąd.",
            buttonText: "OK",
            hasButton: true,
            notification: false,
            timeout: 4000,
            type: null,
            selectboolean: ['true','false'],
            selectgender: ['MAN','WOMAN'],
            selectintensity: [ '1','2','3','4','5'],
            headers: [
                { text: 'Nazwa', value: 'name' },
                { text: 'Opis', value: 'description' },
                { text: 'Data', value: 'date' },
                { text: 'Godzina rozpoczęcia', value: 'startingTime' },
                { text: 'Czas trwania', value: 'durationInMinutes' },
                { text: 'Intensywność', value: 'intensity' },
            ],
            individualTrainings: [],
            groupTrainings: [],
            trainers:[
                { id:''},
                { name: '' },
                { surname: ''}
            ],
            clients:[
                {id:''},
                { name: ''},
                { surname: ''}
            ],
            editedIndex: -1,
            editedItem: {
                id: '',
                name: '',
                description: '',
                date: '',
                startingTime: '',
                durationInMinutes: '',
                intensity: '',
                createdBy: '',
                creationDate: '',
                removed: '',
            },
            defaultItem: {
                id: '',
                name: '',
                description: '',
                date: '',
                startingTime: '',
                durationInMinutes: '',
                intensity: '',
                createdBy: '',
                creationDate: '',
                removed: '',
            },

            test: '',

            dict: {
                "MAN": {
                    pl: "Mężczyzna"
                }
            }

        }),

        computed: {
            ...mapState(['token']),
        },

        watch: {
            dialog (val) {
                val || this.close()
            }
        },

        created () {
            if(CookieHandler.checkIfClientIsAuthorized())
                this.initialize();
            else
                window.location.href = '';
        },

        methods: {
             initialize() {

                 this.authCookie = CookieHandler.getAuthKeyValueFromCookies();

                 axios.get(BASE_URL+ '/api/trainings/individual/client', {headers: {Authorization: this.authCookie}}).then(Response => {
                    var data = Object.values(Response.data)
                    this.individualTrainings = data;
                });

                 axios.get(BASE_URL+ '/api/training/groups/client', {headers: {Authorization: this.authCookie}}).then(Response => {
                     var data = Object.values(Response.data)
                     this.groupTrainings = data;
                 });


            },

            isActive(date){
                var currentDate = new Date()
                var expirationDate = new Date(date)
                if(currentDate<expirationDate)
                    return true
            },

            toDate(timeStamp) {
                var currentDate = new Date(timeStamp.toString());
                var date = currentDate.getDate();
                var month = currentDate.getMonth(); //Be careful! January is 0 not 1
                var year = currentDate.getFullYear();

                var dateString = year + "-" + (month + 1) + "-" + date;
                return dateString;
            },

            toTimeStamp(stringDate) {
                var date = new Date(stringDate)
                return date.getTime() / 1000

            },

            trainerIdToFullname(id) {
                for (var i = 0; i < this.trainers.length; i++) {
                    if (id === this.trainers[i].id) {
                        return this.trainers[i].name + ' ' + this.trainers[i].surname
                    }

                }
            },

            clientIdToFullname(id) {
                for (var i = 0; i < this.clients.length; i++) {
                    if (id === this.clients[i].id) {
                        return this.clients[i].name + ' ' + this.clients[i].surname
                    }

                }
            },

            getClientIdByFullname(fullname) {
                for (var i = 0; i < this.clients.length; i++) {
                    if (fullname === this.clients[i].name + ' ' + this.clients[i].surname) {
                        return this.clients[i].id
                    }
                }
            },

            setClientsForPick() {
                for (var i = 0; i < this.clients.length; i++) {
                    this.selectClient.push(this.clients[i].name + ' ' + this.clients[i].surname)
                }
            },

            setTrainersForPick() {
                for (var i = 0; i < this.trainers.length; i++) {
                    this.selectTrainer.push(this.trainers[i].name + ' ' + this.trainers[i].surname)
                }
            },

            getTrainerIdByFullname(fullname) {
                for (var i = 0; i < this.trainers.length; i++) {
                    if (fullname === this.trainers[i].name + ' ' + this.trainers[i].surname) {
                        return this.trainers[i].id
                    }
                }

            }
        }
    }
</script>

<style>
    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        margin-top: 60px;
    }
</style>

